[2021-05-04 18:29] BoCui-NOAA commented on #273
Generate the executable from ufs-weather-model by choosing compile option CCPP suite: RRFS_v1beta (close to current parallel run).

Has tested RRFS inline post  using multiple thread counts, thread number is set as 1, 2 ,3 and 4 respectively. The results including forecast nc files and Grb files are identical. No changed results were found.

[2021-05-04 22:35] WenMeng-NOAA opened #311 "Adding ip lib for building upp lib"
Dusan pointed out, since the gtg code requires ip library, the UPP library building should include ip library.

[2021-05-05 15:01] #311 closed, assigned to WenMeng-NOAA

[2021-05-05 15:03] WenMeng-NOAA commented on #166
Commit 02faf36 : #312: Add ip lib for building upp lib.

[2021-05-06 18:57] WenMeng-NOAA commented on #166
Commit 2ed74d3 : #313 : Update VERSION to 10.0.7.

[2021-05-11 13:50] kgerheiser opened #314 "ip is linked to the library, but find_package(ip) is only called if building executable"
IP is linked to the library here:

https://github.com/NOAA-EMC/EMC_post/blob/2ed74d3f3ee237c80152ea76a344906e8a79c686/sorc/ncep_post.fd/CMakeLists.txt#L207

But `find_package(ip)` is only called `if(BUILD_POSTEXEC)`:

https://github.com/NOAA-EMC/EMC_post/blob/2ed74d3f3ee237c80152ea76a344906e8a79c686/CMakeLists.txt#L47

I think the `find_package(ip)` should be moved out of the `if`.

[2021-05-11 16:15] #314 closed, assigned to nobody

[2021-05-11 16:19] WenMeng-NOAA commented on #166
Commit cceaa71 : #315 : Move find_package(ip) out of if (BUILD_POSTEXEC). A new tag upp_v10.0.7 was created for upp/10.0.7 installation on the hpc-stack.

[2021-05-11 17:47] lipan-NOAA opened #316 "updating optics_luts_DUST.dat"
I updated optics_DU_v14_2.nc to optics_DU_v15_3.nc and regenerated optics_luts_DUST.dat. Three wavelengths of 0.34, 1.63 and 11.1 (micro) in optics_luts_DUST.dat had been changed. There is no change in other tables.

[2021-05-15 14:01] #316 closed, assigned to nobody

[2021-05-15 14:02] WenMeng-NOAA commented on #166
Commit a035dc9 : #317 : Update optics_luts_DUST.dat.

[2021-05-17 23:31] WenMeng-NOAA commented on #302
On 04/20/2021, Huiya proposed the changes in GSL visibility algorithms as:
I looked through CALVID_GSL and saw there are two places where thresholds
are set differently for RAP versus other models:

[2021-05-17 23:32] WenMeng-NOAA commented on #302
On 05/13/2021, Eric James sent feedback as:

[2021-05-17 23:34] WenMeng-NOAA commented on #302
On 05/13/2021, Stan Bejamin sent feedback as:

[2021-05-17 23:35] WenMeng-NOAA commented on #302
Wen will submit PR for unifying CONST1 and RH attenuation in CALVIS_GSD.f.

[2021-05-20 12:40] WenMeng-NOAA commented on #302
The changes would have impact on GSL visibility like:
------------
[Wen.Meng@llogin2 ptmp]$ cat fv3r_2019062000/PRSLEV06.tm00.diff
45:70499700:VIS:cloud top:rpn_corr=0.999335:rpn_rms=10219.7

[2021-05-20 12:51] WenMeng-NOAA commented on #302
From the UPP regression tests, the changes will only have impact on GSL visibility field in the datasets of all applications.

[2021-05-20 15:03] kgerheiser opened #319 "native_endianness.f is compiled twice, resulting in duplicate symbols on macOS"
It's included in exe_src and lib_src

https://github.com/NOAA-EMC/EMC_post/blob/a035dc9ca80b79ee96b20e1f1efee51ec88b1e61/sorc/ncep_post.fd/CMakeLists.txt#L95

https://github.com/NOAA-EMC/EMC_post/blob/a035dc9ca80b79ee96b20e1f1efee51ec88b1e61/sorc/ncep_post.fd/CMakeLists.txt#L161

[2021-05-20 15:04] kgerheiser opened #320 "Common symbols not included on macOS"
Building the post executable fails on macOS. You get undefined symbols for variables in modules that contain no functions. By passing `-c` to ranlib on macOS those symbols are included when linking.

[2021-05-20 18:13] #302 closed, assigned to WenMeng-NOAA

[2021-05-20 18:15] WenMeng-NOAA commented on #166
Commit b40f56c : #318 : Unify CONST1 and VISRH in GSD visibility calculation.

[2021-05-20 22:38] #319 closed, assigned to nobody

[2021-05-20 22:38] #320 closed, assigned to nobody

[2021-05-20 22:40] WenMeng-NOAA commented on #166
Commit 7f267d8 : #321: Fix duplicate symbols and include common symbols on macOS.

[2021-05-23 22:36] GeorgeVandenberghe-NOAA opened #322 "Port EMC_post to WCOSS2 is having difficulties"
Porting EMC_post to WCOSS2 is not really in scope for my projects but I tried to do it for a scaling examination and have found problems.   "not really in scope" is blocking me from doing additional work on it  and the scaling examination will have to be done elsewhere (not a problem.. got that covered)  but this does need to be investigated  by someone.   So this issue is just an alert that there

[2021-05-26 02:57] WenMeng-NOAA commented on #165
Merge PR #323 at f163d78 for triggering postanl job reliable. A new tag upp_gfsv16_release.v1.1.4 was created for GFS V16 implementation.

[2021-05-27 15:23] WenMeng-NOAA opened #325 "indexing in ALLOCATE_ALL.f"
George Vandeberghe reported:

[2021-05-27 15:25] WenMeng-NOAA commented on #325
Jesse suggest the fix as:
change
    do i=1,lm
into
     do i=1,im

[2021-05-27 20:23] #325 closed, assigned to WenMeng-NOAA

[2021-05-27 20:25] WenMeng-NOAA commented on #166
Commit 065e2fa : #324 : Bug fix in initializing post fields and checking undefined points in visibility computation.

[2021-06-02 14:47] WenMeng-NOAA opened #326 "Update UPP develop branch with g2tmpl/1.10.0"
Update UPP develop branch with g2tmpl/1.10.0 which was released and installed at the hpc-stack.

[2021-06-07 17:14] WenMeng-NOAA commented on #326
In g2tmpl1.10.0, there are following corrections:

- TABLE 4.2-0-1, change cloud mixing ratio from CLWMR to CLMR
- TABLE 4.2-0-1, change horizontal divergence from MCONV to MDIV

[2021-06-07 17:39] BoiVuong-NOAA commented on #326
All look good !

[2021-06-08 12:10] WenMeng-NOAA opened #329 "wafs dataset generation failure at operational GFS post job"
On 06/05/2021, NCO SPAer Alexander Richert reported t18z gfs post f108 failure as:

[2021-06-08 12:14] WenMeng-NOAA commented on #329
Alex found the root cause of failure as:

[2021-06-08 12:17] WenMeng-NOAA commented on #329
On 06/05/2021, @yangfanglin suggested the temporary fix as:

[2021-06-08 12:19] WenMeng-NOAA commented on #329
On 06/07/2021, @YaliMao-NOAA reached out the gtg code developer for the fix as:

[2021-06-08 12:20] WenMeng-NOAA commented on #329
On 06/07/2021, Steven Earle commented:

[2021-06-08 12:21] WenMeng-NOAA commented on #329
On 06/07/2021, @HuiyaChuang-NOAA suggested the fix as:

[2021-06-08 17:59] YaliMao-NOAA commented on #329
Two types of tests are done for this fix.
1. Submit a job with different task numbers, both results are bit-wise identical to each other.
2. To test the script change, I purposely copied the current operational ncep_post executable file to my local working directory and ran the same case with extreme strong winds. err=134 showed up as expected but didn't crash the entire job.

[2021-06-08 18:04] WenMeng-NOAA commented on #165
Merge PR #328 at 85f5058 for enhancement of wafs  processing component.

[2021-06-09 21:22] #326 closed, assigned to WenMeng-NOAA

[2021-06-09 21:23] WenMeng-NOAA commented on #166
Commit 7df8806 : #327 : Update UPP with g2tmpl/1.10.0.

[2021-06-11 19:13] ericaligo-NOAA opened #331 "Add pratemax to offline UPP"
Modify INITPOST_NETCDF.f, post_avblflds.xml and associated flat file to add the hourly maximum precipitation rate in mm/hr (input) to the offline post.

[2021-06-12 02:05] WenMeng-NOAA opened #333 "Triggering GFS post_anl job"
On 05/25/2021, Russ Treadon reported:

[2021-06-12 02:07] WenMeng-NOAA commented on #333
On 05/25/2021, Gan Lin indicated:

[2021-06-12 02:13] WenMeng-NOAA commented on #333
On 05/25/2021, Lin proposed a fix and successfully tested via ecflow on WCOSS so Wen can locally pick up for committing in the UPP branch "release/gfs_v16".

[2021-06-12 02:17] WenMeng-NOAA commented on #333
On 05/25/2021, Wen picked up Lin's fix and submitted the PR #323. Both Lin and Kate reviewed the changes. Lin tested it with ecflow.

[2021-06-12 02:20] WenMeng-NOAA commented on #333
On 05/25/2021, Wen merged the PR #323 in the branch release/gfs_v16 for upcoming GFS V16 upgrade at NCO.

[2021-06-12 02:49] WenMeng-NOAA commented on #333
The fix for this issue should be implemented in the upcoming gfs v16 upgrade.

[2021-06-14 12:21] WenMeng-NOAA opened #334 "Adding change logs for GFS V16.1.2 Implementation"
The UPP branch release/gfs_v16 are updated on workflow scripts for wafs post processing enhancement and triggering postanl job for reliability for GFS V16.1.2 implementation. NCO requests adding change logs in the relevant scripts.

[2021-06-14 15:09] WenMeng-NOAA commented on #166
Commit ce98991 : #332 : Output pratemax from UPP. A new tag upp_v10.0.8 was created for upp/10.0.8 installation on the hpc-stack.

[2021-06-14 18:02] WenMeng-NOAA commented on #165
Merge PR #330 at fed7f01 : for the changes:
1) Add change logs in relevant workflow scripts for wafs processing update.
2) Drop the fix of triggering post_anl job for reliability due to concern of GFS operation.

[2021-06-15 22:44] #290 closed, assigned to nobody

[2021-06-15 22:47] WenMeng-NOAA commented on #166
Commit bdfb57c : #335 : The fix for GSD cloud base height and pressure reproducibility in pe test.

[2021-06-17 15:22] GeorgeVandenberghe-NOAA opened #336 "alternate regression tests for post on hera/luna/jet"
My post regression test for hera/luna/jet is located on HPSS
/1year/NCEPDEV/emc-global/gwv/postreg.tar

extract this to a writable directory with htar. Instructions are in the README. It does NOT include post source or executables and DOES assume the development head of UPP is good and uses that to build a base set of results which are then compared with the fork or branch you want to test. The jo

[2021-06-19 14:25] WenMeng-NOAA commented on #333
On 06/14/2021, for GFS V16 operation stability consideration, it was decided that removing this fix of post_anl job from GFS V16.1.2 implementation. The new was made with the UPP PR #330. We might implement this fix for GFS V17 development in the future.

[2021-06-19 14:26] WenMeng-NOAA commented on #333
@HuiyaChuang-NOAA Please let me know if you have more comments on this issue. Thanks!

[2021-06-19 14:28] #334 closed, assigned to YaliMao-NOAA

[2021-06-19 14:29] WenMeng-NOAA commented on #329
The fixes were incorporated in GFS V16 implementation branch release/gfs_v16 and will be implemented in GFS V16.1.2.

[2021-06-19 14:29] #329 closed, assigned to YaliMao-NOAA

[2021-06-21 12:58] WenMeng-NOAA opened #337 "Remove dependency on gfsio lib"
It is decided that the legacy gfsio lib will not be supported on WCOSS2 any more. The UPP update is needed to phase out the legacy capability of reading model output in grib1.

[2021-06-21 21:42] #337 closed, assigned to WenMeng-NOAA

[2021-06-21 21:43] WenMeng-NOAA commented on #166
Commit f7874cb : #338 : Remove dependency on gfsio lib.

[2021-06-22 16:17] #331 closed, assigned to nobody

[2021-06-22 21:53] hertneky commented on #250
@WenMeng-NOAA I am updating the 'Add new variable' documentation. I have incorporated all changes you made in the google document. I need to update the actual example. Can you point me to GFS V16 model output (e.g. what is used for regression tests), so I can update and test the steps? This will be on my fork for final review via readthedocs once complete.

[2021-06-22 22:38] WenMeng-NOAA commented on #250
@hertneky If you have Hera access, the GFS V16 model output for regression tests can be found at /scratch2/NCEPDEV/ovp/Wen.Meng/ncep_post/post_regression_test_new/data_in/ as gfs.t00z.atmf006.nc and gfs.t00z.sfcf006.nc.

[2021-06-23 18:41] AliciaBentley-NOAA opened #340 "Issue Identifying the 2-PVU Surface in GFSv16"
I was recently contacted by several GFS users about an issue that they've been seeing in GFSv16. Specifically, they've noticed strange spots on the 2-PVU surface in both the GFS analyses and forecasts. These spots appeared for the first time immediately after the GFSv16 upgrade at 1200 UTC March 22nd (when the model top was raised from 1 hPa to 0.1 hPa).

My hypothesis was that the top-down search

[2021-06-25 19:28] DavidHuber-NOAA opened #341 "Port to S4"
EMC_post should be ported to SSEC's S4 cluster to enable UFS and DA research efforts on that system.

[2021-06-26 00:08] XianwuXue-NOAA opened #342 "Port UPP for GEFSv12 to WCOSS2/Acorn"

[2021-06-28 00:20] WenMeng-NOAA commented on #341
@DavidHuber-NOAA No one in EMC UPP group has S4 cluster access. Will you or some one with S4 cluster account work on this? We can  merge the PR into develop branch. Thanks!

[2021-06-28 11:37] DavidHuber-NOAA commented on #341
@WenMeng-NOAA Yes, I am currently working on this port.  I am unable to self-assign it, but I'd appreciate it if you would assign it to me.  Thanks!

[2021-06-28 12:18] WenMeng-NOAA commented on #341
@DavidHuber-NOAA Appreciate your help. You may follow the UPP code contribution procedure at
https://github.com/NOAA-EMC/EMC_post/wiki/UPP-Code-Development#contribute-changes-in-upp-main-development-branch-develop
Please let me know if you need further information from me. Thanks!

[2021-06-28 19:22] WenMeng-NOAA commented on #274
Wen imported George's feature branch "develop" from George's fork into Wen's fork and renamed as "post_2d_decomp" so George, Jesse and Bo can continue committing changes and Wen will keep this branch up to date with the upstream/develop.

[2021-06-30 13:50] WenMeng-NOAA commented on #340
I tried the fixes  as
[code]
That fixes didn't solve the issue. The further investigation is needed.

[2021-07-02 17:39] WenMeng-NOAA commented on #340
Here are some issue case identifying:
![image](https://user-images.githubusercontent.com/48260754/124313347-bff6a600-db3e-11eb-84e0-513aefa0118f.png)
![image](https://user-images.githubusercontent.com/48260754/124313755-4dd29100-db3f-11eb-9895-85fd5ade6fee.png)

[2021-07-02 17:43] AliciaBentley-NOAA commented on #340
Hi Wen. Can you confirm the date in the top image, please? Thanks!

[2021-07-02 18:12] WenMeng-NOAA commented on #340
@AliciaBentley-NOAA My mistakes about titles. Correct them. Thanks for catching.

[2021-07-02 18:30] AliciaBentley-NOAA commented on #340
Hi Wen. Thank you! I just wanted to make sure that we were comparing GFSv15 and GFSv16 on the same date and time.

[2021-07-06 00:32] WenMeng-NOAA commented on #340
Here are the comparison of GFS V15 and GFS V16 (EMC real-time parallel run) for 20201222.
![image](https://user-images.githubusercontent.com/48260754/124530456-8cd04300-ddda-11eb-8180-33549d7d477b.png)
![image](https://user-images.githubusercontent.com/48260754/124526217-1fb7b000-ddd0-11eb-96a1-a02048f6f2b5.png)

[2021-07-06 00:40] AliciaBentley-NOAA commented on #340
Hi Wen. The two images above depict very different pressure patterns. Features do not match up between the two images, despite this being an analysis of the same date. This leads me to believe that they do not show the same date. Can you please explain what it going on here?

[2021-07-06 01:01] AliciaBentley-NOAA commented on #340
Would it be possible to pick a time during the 30-day parallel production test (so that we know it's the final configuration of GFSv16 being cycled)? The 2021030118 time that you showed a few posts ago would work well!

[2021-07-06 01:04] WenMeng-NOAA commented on #340
@AliciaBentley-NOAA I have the same doubt as you. These data files were retrieved from HPSS:
1) GFS V15: /NCEPPROD/hpssprod/runhistory/rh2020/202012/20201222/com_gfs_prod_gfs.20201222_00.gfs_pgrb2.tar
2) GFS V16: /NCEPDEV/emc-global/5year/emc.glopara/WCOSS_D/gfsv16/v16rt2/gfsa.tar

You may access data files from subdirectories of gfs15 and gfsv16 at  /u/Wen.Meng/ptmp/gfs_data on Mars.

[2021-07-06 01:08] WenMeng-NOAA commented on #340
@AliciaBentley-NOAA Do you know the location of HPSS for NCO's 30-day parallel run? I looked around the HPSS and didn't get it.

[2021-07-06 01:27] AliciaBentley-NOAA commented on #340
The GFSv15 path that you wrote above says "**202102**22" (February 22nd, 2021), but the image title says "**202012**22" (December 22nd, 2020). The second image correctly shows December 22nd, 2020 based on a comparison with a [2-PVU archive image](http://www.atmos.albany.edu/student/heathera/dt/nam/15001.png) valid at the same time.

I do not know the path to the GFSv16 30-day parallel data on HPSS

[2021-07-06 01:51] WenMeng-NOAA commented on #340
@AliciaBentley-NOAA Your are right. I retrieved GFS V15 from 2020122200. The GFS V15 plot was regenerated. Now patterns from two plots should make sense.

[2021-07-06 04:39] yangfanglin commented on #340
GFS.v16 model top  is at 0.01 hPa (~80km).  GFS.v15 model top is at 0.2 hPa (~55km).   two [ PVU](https://glossary.ametsoc.org/wiki/Potential_vorticity)=2 surfaces can occur in the vertical at the same location since temperature decreases with height in both the troposphere and mesosphere (std profile).

[2021-07-06 05:03] WenMeng-NOAA commented on #340
Another case of GFS V15 and GFS V16 comparison:
![image](https://user-images.githubusercontent.com/48260754/124544811-db3f0b00-ddf5-11eb-969e-e389d6012224.png)
![image](https://user-images.githubusercontent.com/48260754/124544840-ec881780-ddf5-11eb-8b7c-d4fe906191c3.png)

[2021-07-06 12:45] AliciaBentley-NOAA commented on #340
Hi Wen. Would it be possible to update these plots to use the more detailed colorbar that you've used in previous plots (color changes every 5,000)? I think a more detailed colorbar might show the GFSv16 spots better. Thanks!

And I agree, Fanglin. We're trying to see what can be done to find the correct 2-PVU tropopause in GFSv16.

[2021-07-06 13:37] WenMeng-NOAA commented on #340
Update comparison plots:

- GFS V15 -- /u/Wen.Meng/noscrubd6/ncep_post/gfs_data/gfsv15/gfs.20210301/18/gfs.t18z.pgrb2.0p25.f000 on mars
- GFS V16 -- /u/Wen.Meng/noscrubd6/ncep_post/gfs_data/gfsv16/gfs.20210301/18/gfs.t18z.pgrb2.0p25.f000 on mars

![image](https://user-images.githubusercontent.com/48260754/124609627-cdad7380-de3d-11eb-8d00-fc00e01c8b4d.png)

[2021-07-06 13:44] AliciaBentley-NOAA commented on #340
Thanks, Wen. Would it be possible to see the results of your tests before tomorrow's meeting? Specifically, can we see the results of lowering the model top for the isobaric PVU computation? You and Huiya have both mentioned the result was too smooth, and I think that will be important to see to understand where to go from here.

Also, based a more recent June analysis, it looks like this issue ge

[2021-07-06 14:39] WenMeng-NOAA commented on #340
@AliciaBentley-NOAA I have been retesting the fix starting at the subroutine p2pv in the file GFSPOST.F. I would like some suggestions on fix  of 1 hPa cap in this subroutine.

[2021-07-06 15:27] WenMeng-NOAA commented on #340
Added 1 hPa cap in the subroutine "p2pv" as:
![image](https://user-images.githubusercontent.com/48260754/124626852-0a349b80-de4d-11eb-87d9-ed8eace32ef5.png)

[2021-07-06 15:32] GeoffManikin-NOAA commented on #340
hi Wen.    I'm a little confused here, as I thought you said (and I see where it's set in the code) that there is what's intended to be a cap at 50 hPa.    If that were working as intended, it seems like it would solve the issue, as it appears that we're finding a second PVU=2 surface somewhere between 55 and 80 km.     My suggestion would be to pick a point in the chosen test case where the PVU=2

[2021-07-06 15:34] WenMeng-NOAA commented on #340
With the fixes above, the changes in pres2pv in master file are:
![image](https://user-images.githubusercontent.com/48260754/124627697-c5f5cb00-de4d-11eb-97e4-3f6791caa201.png)

![image](https://user-images.githubusercontent.com/48260754/124628057-1a994600-de4e-11eb-80a2-eee7b3e4369e.png)

[2021-07-06 15:42] AliciaBentley-NOAA commented on #340
Thanks, Wen! This fix has helped a lot (there are fewer strange spots) and is a lot closer to what we expect to see. Unfortunately, not all of the strange spots were removed with this fix alone. This tells me that even though you've fixed the vertical search for pres2pv, there may still be issues in the isobaric PVU computation (which also uses a too high model-top and occurs first). Would it be p

[2021-07-07 00:26] WenMeng-NOAA commented on #340
Add a cap in  the subroutine pvetc which compute theta, pvu at model layers.
![image](https://user-images.githubusercontent.com/48260754/124682300-7092db80-de98-11eb-8dae-5fdbcd233ebf.png)

[2021-07-07 00:32] WenMeng-NOAA commented on #340
Here is the  fixes in pvtec:
![image](https://user-images.githubusercontent.com/48260754/124682561-147c8700-de99-11eb-82c9-490440fa9b41.png)

[2021-07-07 01:45] AliciaBentley-NOAA commented on #340
Thanks, Wen. It appears that adding an upper bound on the pvetc subroutine makes the output noisier than before. I thought the issue with adding the upper bound to pvetc subroutine was that it made the field too smooth. I'm confused about getting the opposite results from the second test. Perhaps the first test also made the field look like this (too noisy)?

The image above suggests that it is no

[2021-07-07 01:52] WenMeng-NOAA commented on #340
In my test last week, the cap was in pvetc only. That made the whole field smooth.  In my latest plot, two caps are applied, one in pvtec, another in p2pv.

[2021-07-07 01:58] AliciaBentley-NOAA commented on #340
Thanks for your work on this, Wen. I don't have anything else to add right now. I'm happy that our suggestion to add a "lower" upper bound to p2pv appears to have helped as much as it did, but it's a shame that it doesn't totally fix it. Perhaps other possible causes of the remaining spots can be discussed during tomorrow's meeting!

[2021-07-07 02:38] WenMeng-NOAA commented on #340
The corrections are applied in kd, ku computation in pvtec:
![image](https://user-images.githubusercontent.com/48260754/124692016-cf615080-deaa-11eb-8c66-2319c54f341c.png)

![image](https://user-images.githubusercontent.com/48260754/124691768-637ee800-deaa-11eb-8785-177366e2ed30.png)

[2021-07-07 02:55] AliciaBentley-NOAA commented on #340
Hi Wen. What was the issue with the first plot that had both caps applied? Your new plot looks more reasonable!

Adding an upper bound to pvetc does not appear to fix the remaining spots on the 2-PVU pressure surface (see below). The spots are still there in the second image. I do not know the UPP code enough to speculate on what is causing the remaining spots. Hopefully others have some ideas tha

[2021-07-07 03:56] AliciaBentley-NOAA commented on #340
One additional thought: Perhaps 1 hPa is still too high up in the atmosphere and allows for incorrect 2-PVU surfaces to be identified. Huiya said in a previous email that the upper bound for the vertical search was 50 hPa in both models, but that may not have ultimately been the case if "lowering" the upper bound to 1 hPa removed ~75% of the dark spots in Wen's test. Should the upper bound really

[2021-07-07 12:49] HuiyaChuang-NOAA commented on #340
@AliciaBentley-NOAA I actually think the two matched up quite well.  The PUV fields are highly sensitive and with vertical coordinates being so different between the two versions, this kind of difference isn't that bad

[2021-07-07 13:00] AliciaBentley-NOAA commented on #340
@HuiyaChuang-NOAA Yes, they are very similar now. Wen went back and corrected the images after the fact. If you go to the "edited" option above her message, you can see how different they originally were. They looked like this (because they showed February 22nd, 2021 and December 22nd, 2020, respectively):

<img width="569" alt="Screen Shot 2021-07-07 at 8 59 04 AM" src="https://user-images.github

[2021-07-07 14:23] HuiyaChuang-NOAA commented on #340
Let's wait till after this afternoon's meeting to make any changes

[2021-07-07 18:16] HuiyaChuang-NOAA commented on #340
@WenMeng-NOAA @yangfanglin @AliciaBentley-NOAA @GeoffManikin-NOAA
I took a look at the subroutine P2PV.  To identify a constant PV=2 surface, the entire layer of 25 mb has to have PV>2.
This may be too strict now that we have 127 layers instead of 64.  Let's talk with Fanglin at the meeting.  I also reached out
to Mark I. who was the original author of this subroutine.

[2021-07-07 19:55] WenMeng-NOAA commented on #340
@HuiyaChuang-NOAA My working case is set up at /u/Wen.Meng/noscrubd6/ncep_post/gfsv16/EMC_post. You may use drive script run_post_fv3gfsv16_WCOSS_DELL_P3.sh to submit the job for the test case from 2021062212. There is 1 hPa cap applied in  the subroutine p2pv. Please let me know if you need further information from me. Thanks!

[2021-07-08 15:06] HuiyaChuang-NOAA commented on #274
I think we should work on decomposing

ALLOCATE_ALL.f

in x direction next

[2021-07-12 16:05] fossell opened #343 "Link only required satellite coefficient fix files"
Is there a way to link in only the desired CRTM satellite fix files for the fields you want to output? Instead of linking in all possible fix files?  For example, if we just want to output GOES-16, then only require linking in the abi_gr*.bin files to the working directory.  Maybe this capability already exists?

[2021-07-12 16:17] fossell opened #344 "Clean up remaining Grib1 files and code"
A few clean up issues to be addressed as discussed by code managers:

- [x] Remove grib1 .parm files from parm/ directory
- [ ] Remove grib1 parameters from RQSTFLD.f routine

[2021-07-13 18:07] WenMeng-NOAA opened #345 "Add UPP regression tests"
Add  UPP regression tests in the UPP repository.

[2021-07-14 13:37] MinsukJi-NOAA opened #347 "Runtime error when running a regression test in debug mode"
Please see the related issue https://github.com/ufs-community/ufs-weather-model/issues/686

[2021-07-14 15:01] WenMeng-NOAA commented on #347
Dusan pointed out a suspicious line in BNDLYR.f as:

[2021-07-16 02:44] WenMeng-NOAA commented on #347
@MinsukJi-NOAA I make some changes in my branch post_bndlyr at https://github.com/WenMeng-NOAA/EMC_post.  The rt test option control_debug in ufs-weather can be run through on WCOSS.  A new upp lib was built (not debug mode) at /scratch1/NCEPDEV/stmp2/Wen.Meng/upp_lib/EMC_post/tests/install, please test it. Thanks!

[2021-07-16 14:40] MinsukJi-NOAA commented on #347
I verified that the control_debug rt test passes. I will do more tests (e.g. regional as suggested by @junwang-noaa) and post findings.

[2021-07-16 14:47] junwang-noaa commented on #347
Minsuk, do you still keep the run directory for control_debug rt test? I can take a look at the results. Thanks

[2021-07-16 14:57] MinsukJi-NOAA commented on #347
source dir: /scratch2/NCEPDEV/stmp1/Minsuk.Ji/upp_debug_test_2
run dir: /scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/rt_136089/control_debug

[2021-07-16 15:18] MinsukJi-NOAA commented on #347
gnu compilation fails with the new upp library:
[code]
The current develop does not have this problem because the CI test control_debug uses gnu with WRITE_DOPOST turned on.

[2021-07-16 19:29] MinsukJi-NOAA commented on #347
regional_quilt does not run with write_dopost turned on in debug mode:
current upp: /scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/rt_252799/
Wen's new upp: /scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/rt_173460/

regional_quilt does run with write_dopost turned off in debug mode:
/scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/rt_307868/

source: /scratch2/NCEPDEV/stmp1/Minsuk.Ji/upp_debug_test_2

[2021-07-16 19:43] WenMeng-NOAA commented on #347
It looks another issue in ALLOCATE_ALL.f. I will look into it.

[2021-07-16 19:45] MinsukJi-NOAA commented on #347
Sorry, I forgot to mention that I am running regional_quilt in debug mode @WenMeng-NOAA

[2021-07-16 19:52] WenMeng-NOAA commented on #347
@MinsukJi-NOAA How to run regional_quilt in debug mode? I don't see the config. option in rt.conf.

[2021-07-16 20:00] MinsukJi-NOAA commented on #347
@WenMeng-NOAA  Here are the steps:
1. Modify rt.conf
[code]
2. copy /scratch2/NCEPDEV/stmp1/Minsuk.Ji/upp_debug_test_2/tests/tests/regional_quilt_debug
3. ./rt.sh -n regional_quilt_debug -k >out 2>&1 &

[2021-07-17 00:28] WenMeng-NOAA commented on #347
I ran regional_quilt_debug test on WCOSS3 and reproduce @MinsukJi-NOAA 's failure as:
[code]

The line 798 and 809 in ALLOCATE_ALL.f are tracked as:
https://github.com/NOAA-EMC/EMC_post/blob/develop/sorc/ncep_post.fd/ALLOCATE_ALL.f#L798

I don't see any obvious error in ALLOCATE_ALL.f. @junwang-noaa  and @DusanJovic-NOAA  Do you have any suggestions any routines I should look into? The  ALLOCATE_A

[2021-07-20 14:50] HuiyaChuang-NOAA commented on #274
Linked to #339 as a lot of work was documented there.

I will list summaries based on what I know.  Others please feel free to add.

1. George finished modifying MPI_FIRST along with 3 other subroutines to add x decomposition
2. Bo and Jesse finished modifying INITPOST_GFS_Netcdf_para and MDLFLD to do x decomposition
3. Wen provided a control file to only output model level U/V/T/Q so we can test

[2021-07-20 14:54] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA @BoCui-NOAA @WenMeng-NOAA @JesseMeng-NOAA
Listed my version of summaries of all your work above.  Thank you for your hard work.  I think we're in good shape.

I think the next step would be
1. waiting for George to finish modifying EXCH.f and EXCH2.f
2. Jesse started working on updating other UPP subroutines to do x decomposition when he returns
3. Bo will soon transition

[2021-07-20 15:36] BoCui-NOAA commented on #274
I would like add one bullet for the documents.
8. Bo finished modifying ALLOCATE_ALL.f  to do X decomposition.  Regression tests with numx=1,2,4 were run and bit identical results were generated.

[2021-07-20 17:20] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA Can you also work on two Collect*.f in addition to two EXCH subroutines?

[2021-07-20 17:43] GeorgeVandenberghe-NOAA commented on #274
Yeah.   Working out how to figure out where neighbors are with 2D
decomposition and it's another "easy case, mental block" situation

On Tue, Jul 20, 2021 at 1:20 PM HuiyaChuang-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-07-20 18:18] HuiyaChuang-NOAA commented on #274
@BoCui-NOAA @JesseMeng-NOAA I will be traveling a lot starting this Thursday so would like to assign the subroutines for you
two to decompose in X direction.  Hopefully, George will be done with two EXCH*.f soon so we can run a more extensive test
in the near future.  Keep in mind Bo will soon be diverted to work on NAEFS transition to wcoss2, I will give Jesse more subroutines to decompose.
Also,

[2021-07-20 18:55] GeorgeVandenberghe-NOAA commented on #274
The two COLLECT routines invert the scatter process.  That's all.   Once I
crack EXCH, it should be very straightforward to do these.

On Tue, Jul 20, 2021 at 2:18 PM HuiyaChuang-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-07-21 17:11] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA thank you.  That sounds good.  Please let us know when you have two EXCH subroutines done.  I will ask most likely Jesse to test them.

[2021-07-21 17:39] GeorgeVandenberghe-NOAA commented on #274
Once i get the bookkeeping done they should just work. If i didn't have all
the distracting home issues this would be long done.

On Wednesday, July 21, 2021, HuiyaChuang-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-07-21 21:25] GeorgeVandenberghe-NOAA commented on #274
Slow slog but it will pay off.  WOrking on scattering a 2D coordinate array and verifying I/J match exactly.   They do for 1D decomp but the full subdomain array isn't populated by the scatter.  That's done by exch.f and exch2.f later.  But operating on the coordinate array first is a test of correctness.

in 2d the scatter looks like it will need some work.. not sure how thats  even working now s

[2021-07-22 17:25] WenMeng-NOAA commented on #347
It was found there might be more computation violations (e.g. overflow, understand) with debug mode. I will work on further changes.

[2021-07-26 14:40] JesseMeng-NOAA commented on #274
Got it. Will do.

[2021-07-26 15:15] GeorgeVandenberghe-NOAA commented on #274
Who originally wrote the exch*f routines.  It looks trivial now that I
understand the decomposition and I hope to have it working 7/27.
Home issues have mitigated.  I gave up on being able to get the house ready
by 7/29.. just beyond what I can get done so now
I can actually sleep again and focus on work😡

On Mon, Jul 26, 2021 at 10:40 AM JesseMeng-NOAA ***@***.***>
wrote:

--

George W Vandenberg

[2021-07-26 15:28] HuiyaChuang-NOAA commented on #274
Jim T. was the one who decomposed UPP in Y direction in 2000. :-) And the EXCH.f was written by him.

[2021-07-26 15:29] HuiyaChuang-NOAA commented on #274
Good to hear your home situation has been mitigated and you're coming ack to work on this.

[2021-07-27 20:12] kgerheiser opened #350 "INTERFACE should be PUBLIC in target_include_directories"
In this line:

https://github.com/NOAA-EMC/EMC_post/blob/f7874cb497ad26f0c41a6b6a38a91d85e2cdf9ef/sorc/ncep_post.fd/CMakeLists.txt#L196

`INTERFACE` should be `PUBLIC`.

`INTERFACE` means that only CMake builds that consume UPP will have the module directory included, but not when building itself. `PUBLIC` means to include it for itself and others.

The modules are implicitly included when setting

[2021-07-28 15:59] #350 closed, assigned to kgerheiser

[2021-07-28 16:01] WenMeng-NOAA commented on #166
Commit 10e24bf: #351: Change INTERFACE to PUBLIC in target_include_directories.

[2021-07-30 13:12] WenMeng-NOAA commented on #347
@MinsukJi-NOAA I built a upp lib at /scratch1/NCEPDEV/stmp2/Wen.Meng/upp_lib/EMC_post/tests/install on Hera. Can you test it with rt test control_debug? You would expect this upp lib working for control_debug only. There might be more efforts on making regional_quilt_debug. We will commit the current changes in develop branch and work on regional inline post in debug mode later.

[2021-07-30 15:47] DavidHuber-NOAA commented on #341
@WenMeng-NOAA Though it's not required for the global workflow, I see that there are [module files](https://github.com/NOAA-EMC/EMC_post/tree/develop/modulefiles/upp) and a [build script](https://github.com/NOAA-EMC/EMC_post/blob/develop/sorc/ncep_post.fd/build_upp_lib.sh) for the UPP library.  The [makefile ](https://github.com/NOAA-EMC/EMC_post/blob/develop/sorc/ncep_post.fd/makefile_lib) for th

[2021-07-30 16:04] WenMeng-NOAA commented on #341
@DavidHuber-NOAA The build script and module files you mentioned are legacy build feature. Now wen use the script in tests/compile_upp.sh to build upp executable or lib via cmake with all dependency modules/libs from the hpc-stack.   The new UPP build procedure can be found at https://github.com/NOAA-EMC/EMC_post/wiki/Building-UPP.  The resource of hpc-stack can be found at https://github.com/NOAA

[2021-07-30 16:05] DavidHuber-NOAA commented on #341
@WenMeng-NOAA Alright, thanks for the confirmation.

[2021-07-30 19:26] GeorgeVandenberghe-NOAA commented on #274
Working on exch.f  now.   It needs ileft and iright to be defined in MPI_FIRST.f (done) and added to CTLBLK.f (done).   The sendrecv needs the X bounds of the slice to be retrieved from upper and lower processors changed (done).   Routines needing change are CTLBLK.f,  MPI_FIRST.f as well as EXCH.f.   Added a state array to test transfers and verify we were getting what we thought we were getting

[2021-07-30 19:50] fanqi203 opened #352 "bug in creating GOES brightness temperature"
In the file CALRAD_WCLOUD_newcrtm.f.

When ivegsrc==1, the variable snoeqv is assigned to replace sno(i,j) when calculating the snow fraction in the call to SNFRAC.

However, the sno(i,j) was still used, inadvertently, in the call to SNFRAC, which caused the problem.

The solution is to change "SNO(I,J)" to "snoeqv." in the highlighted section.

[2021-07-30 22:55] WenMeng-NOAA commented on #352
@fanqi203 Would you please upload a few images of  your verification on the fix? Thanks!

[2021-08-02 13:37] fanqi203 commented on #352
here is an image of the verification.
![image](https://user-images.githubusercontent.com/13813022/127870681-1f575a04-d401-4d10-adde-b2eecbe65382.png)

[2021-08-02 18:35] WenMeng-NOAA commented on #352
The UPP regression tests were conducted. The baseline of GFS V16 will be changed in the dataset *special*.
The plot of difference of before and after fix in SBTAGR13 is:
![image](https://user-images.githubusercontent.com/48260754/127907905-f301c27f-f042-41e0-b256-d0c812e401d2.png)

[2021-08-02 19:22] hertneky commented on #352
@WenMeng-NOAA Is this only for SBTAGR13 or are all GOES-16 bands effected?

[2021-08-02 19:28] WenMeng-NOAA commented on #352
@hertneky This would have impact on GOES-16/17 nadir and non-nadir products. @fanqi203 might chime in.

[2021-08-02 19:29] WenMeng-NOAA commented on #352
Here is another test from RRFS:
![image](https://user-images.githubusercontent.com/48260754/127913387-34259e57-c137-4978-ac36-c655bdcd3e26.png)

[2021-08-02 19:45] fanqi203 commented on #352
Tracy,

This affects multiple products (see the attached two screenshots) when UPP
is not run for products from "NCAR" or "RAPR" modes.

Shaowu

[image: image.png]

[image: image.png]

On Mon, Aug 2, 2021 at 3:28 PM WenMeng-NOAA ***@***.***>
wrote:

[2021-08-02 20:42] hertneky opened #354 "Documentation Updates"
Documentation updates to be more inline with develop branch
- Major update to AddNewVariable document
- Update executable name
- Update table of UPP output (include satellite additions)

Link to readthedocs: https://upp-hertneky.readthedocs.io/en/update_docs_tjh/

#355

[2021-08-03 00:54] #352 closed, assigned to fanqi203

[2021-08-03 00:57] WenMeng-NOAA commented on #166
Commit 0f0f307 : #353: Bug fix for snofrac computation when ivegsrc is set as 1.

[2021-08-03 19:37] fossell commented on #297
Public release tag name issue has been resolved - the Github release was edited to point to upp_v9.0.0 and all links updated appropriately.

*** Moving forward we will continue to use underscore in the release tag names to remain consistent across releases. ***

[2021-08-03 19:37] #297 closed, assigned to nobody

[2021-08-03 19:46] fossell opened #356 "Run script bug creating output filename in community script"
Forecast hours 8 and 9 not being output correctly when using run_upp script due to formatting of fhr in the filename due to Bash shell standards.

Impacts v9.0.0 community release for users using the run_upp script.  SRW v1.0.0 uses this version as well, but does not use this run script.  Will still notify SRW team of if/when bug fix release is posted.

Fix has been identified and already in devel

[2021-08-05 16:55] MinsukJi-NOAA commented on #347
@WenMeng-NOAA, regional_quilt_debug was able to compile and run to completion, but control_debug failed to compile.
source directory: /scratch2/NCEPDEV/stmp1/Minsuk.Ji/upp_debug_test_3/tests
log files: /scratch2/NCEPDEV/stmp1/Minsuk.Ji/upp_debug_test_3/tests/log_hera.intel_control_debug
/scratch2/NCEPDEV/stmp1/Minsuk.Ji/upp_debug_test_3/tests/log_hera.intel_regional_quilt_debug

[2021-08-05 22:33] WenMeng-NOAA commented on #347
@MinsukJi-NOAA It is wired that your test results are opposite my test results.
I checked out the latest ufs-weather-model and did the following tests with my upp lib from /scratch1/NCEPDEV/stmp2/Wen.Meng/upp_lib/EMC_post/tests/install :
1) control : PASS
    log: /scratch2/NCEPDEV/ovp/Wen.Meng/ufs_0805/ufs-weather-model/tests/log_hera.intel_control
2) control_debug:  PASS (post grib2 files genera

[2021-08-05 22:38] MinsukJi-NOAA commented on #347
@WenMeng-NOAA That was from an unrelated test I did today. I will change that back.

[2021-08-06 00:25] EdwardColon-NOAA opened #357 "Correction to the effective layer top and bottom calculation"
Here is a brief explanation about the code:

The key modifications are constrained to the following subprograms

MISCLN.f
UPP_PHYSICS.f
TTBLEX.f

and are divided into two user-selectable schemes:

Scheme 1 (default):  Uses the current available routines in UPP as much as possible. It uses CALCAPE to compute the CAPE/CIN for all air parcels on each vertical model level, and do this in a loop from b

[2021-08-06 17:21] WenMeng-NOAA opened #359 "Update RRFS products"
Update fv3lam control for RRFS products as:

- Update generating process ID from meso_name12km to rrfs.
- Only keep visibility computation from GSL visibility algorithms.

[2021-08-06 19:52] #354 closed, assigned to hertneky

[2021-08-06 19:54] WenMeng-NOAA commented on #166
Commit a60325e : #355: Documentation updates.

[2021-08-07 00:36] WenMeng-NOAA commented on #359
The UPP standalone test for RRFS is conducted. With these updates, the changes in RRFS products are:

- dataset NALEV: the field "VIS:surface" is the visibility from GSL algorithms; ingenerating process ID becomes 134.
- dataset PRSLEV: total fields is changed from 1081 to 1080 due to one VIS field removed; the field "VIS:surface" is the visibility from GSL algorithms; ingenerating process ID beco

[2021-08-09 15:52] #359 closed, assigned to WenMeng-NOAA

[2021-08-09 15:54] WenMeng-NOAA commented on #166
Commit 11b75ff : #360: Update RRFS control files.

[2021-08-09 20:39] hsinmulin-NOAA opened #361 "Add chemical species for RRFS-CMAQ"
Essential species (currently 2, OZCON & PMTF) need to be calculated from the RRFS-CMAQ output are coded into the UPP with the the necessary inputs from RRFS-CMAQ output.
The UPP now can process the variables and generate needed fields (OZCON & PMTF) in the UPP output with the standalone control file "postxconfig-NT-fv3lam_cmaq.txt"

The following reflect the purpose
1. Source code (changed)
ALLOCA

[2021-08-10 14:59] WenMeng-NOAA opened #363 "Port UPP for GFS V16 to WCOSS2"
Update the branch release/gfs_v16 to support GFS V16 on WCOSS2.

Related issue:

- https://github.com/NOAA-EMC/global-workflow/issues/398

[2021-08-10 15:02] WenMeng-NOAA opened #364 "Port UPP develop branch to WCOSS2"
Update the branch develop for WCOSS2 support.

Related issue:

- https://github.com/NOAA-EMC/global-workflow/issues/398

[2021-08-10 19:51] #361 closed, assigned to hsinmulin-NOAA

[2021-08-10 19:53] WenMeng-NOAA commented on #166
Commit 6be6119 : #346 : Code and parm modification for RRFS-CMAQ chemistry calculation.

[2021-08-11 14:49] #341 closed, assigned to DavidHuber-NOAA

[2021-08-11 14:51] WenMeng-NOAA commented on #166
Commit 2787388 : #362: Port UPP on SSEC S4.

[2021-08-12 16:33] hertneky commented on #344
@WenMeng-NOAA I have started working on this cleanup task. The RQSTFLD.F routine can be completely removed, with some other minor code modifications. I have already removed 'IFILV' and 'AVBLGRB2' as they are not used anywhere in the code. The remaining variables 'AVBL' (grib1 char str), 'IQ' (grib1 param #), and 'IS' (grib1 lvl indicator) are only used by INITPOST_GFS_NEMS.f and INITPOST_GFS_SIGIO

[2021-08-12 16:50] WenMeng-NOAA commented on #344
@hertneky We will eventually remove the interfaces INITPOST_GFS_NEMS.f and INITPOST_GFS_SIGIO.f which are not used by any ops. applications any more. You might first try to remove them from the build script for your changes convenient. @HuiyaChuang-NOAA may chime in. Thanks!

[2021-08-12 19:28] WenMeng-NOAA commented on #347
The fix is applied in SLP_new.f. That makes changed results in MSLET and 1000mb HGT in RRFS datasets when RRFS's output domain is larger than computation domain.  The difference of MSLET shows:

![image](https://user-images.githubusercontent.com/48260754/129257158-5dc474bc-be5f-4779-a46d-d011a481c2c6.png)

[2021-08-13 17:50] GeorgeVandenberghe-NOAA commented on #274
I finally have corners in the EXCH.f working.  Corner exchange code looks like this

!!   corner points.   After the exchanges above, corner points are replicated in
!    neighbour halos so we can get them from the neighbors rather than
!    calculating more corner neighbor numbers
! A(ista-1,jsta-1) is in the ileft     a(iend,jsta-1) location
! A(ista-1,jend+1) is in the ileft     a(iend,jend+1)

[2021-08-13 18:05] JesseMeng-NOAA commented on #274
Great! Please let me know where to grab your files.
wcoss production switched yesterday. I have my files backup and transfer to mars, but I don't have yours.
I need your MPI_FIRST.f, CTLBLK.f, and EXCH.f, anything else you have modified? Did you also change the COLLECT?

[2021-08-13 19:17] GeorgeVandenberghe-NOAA commented on #274
COLLECT is untested because I haven't gotten it called yet.
I will send a tarball with the most recent versions.  EXCH.f has a LOT of
extra code right now to check the transfers.

I also haven't found anything calling EXCH2

it's on MARS
/gpfs/dell2/pmp/gwv/post.0813.exch.tar

On Fri, Aug 13, 2021 at 2:05 PM JesseMeng-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

[2021-08-13 20:50] JesseMeng-NOAA commented on #274
George's new fix works!
The tests reproduced bitwise identical results including SLP for numx=1,2,4.
Thanks, George!

[2021-08-13 21:27] GeorgeVandenberghe-NOAA commented on #274
Well that's a good way to end a Friday.

Sometimes we win one😐

On Fri, Aug 13, 2021 at 4:51 PM JesseMeng-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-08-13 23:06] HuiyaChuang-NOAA commented on #274
Totally agreed!  Thank you!

Huiya

Sent from my iPhone

[2021-08-13 23:38] WenMeng-NOAA commented on #274
The branch post_2d_decomp was just synced with upstream/develop.

[2021-08-16 13:57] HuiyaChuang-NOAA commented on #344
@WenMeng-NOAA @hertneky I agree with Wen about removing INITPOST_GFS_NEMS.f and INITPOST_GFS_SIGIO.f as they're no longer used operationally

[2021-08-16 14:18] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA great news from last Friday.  Will you commit your latest EXCH.f to  The branch post_2d_decomp
@JesseMeng-NOAA did you commit your updated SLP subroutines?

[2021-08-16 14:45] HuiyaChuang-NOAA commented on #274
thank you for doing the update

[2021-08-16 15:16] GeorgeVandenberghe-NOAA commented on #274
*Easy to get the git syntax wrong.  What are the command lines for doing
this commit.*

Also I need to remove some of the debug code and comment out the rest.   I
plan to change my plan for coordinate debug and use real  rather than
integer coordinate arrays for debugging so debug code can be placed outside
of exch. I didn't do this before because of precision concerns embedding
the coordinates in

[2021-08-16 15:43] JesseMeng-NOAA commented on #274
I tested George's code with Wen's latest merge for numx=4 and got bitwise identical results.
I will comment out most of George's print statements in EXCH and commit the changes today.

[2021-08-16 16:12] GeorgeVandenberghe-NOAA commented on #274
There is a lot of extra code to to do coordinate exchange testing.   Next
time I have a scatter,gather, or exchange issue I will use
real coordinates and do the debugging in the caller.  However for now all
of the code that does exchanges on INTEGERs need to be commented out.

     I am extremely tired, my son is home from school for a few days
(That's great!!) and I may just  take some time off t

[2021-08-16 16:45] JesseMeng-NOAA commented on #274
After push to Wen's repo I received a message of Run failed: Build and Test.
Github claimed an error in "use ifcore" in EXCH.f,
Fatal Error: Cannot open module file ‘ifcore.mod’ for reading at (1): No such file or directory

But it works fine on wcoss, compiles and runs without errors. Does any one know the reason and solution?

[2021-08-16 17:05] GeorgeVandenberghe-NOAA commented on #274
ifcore is an intel specific module used to generate runtime stack traces
without terminating the program.  Get rid of
the ifcore use and the subsequent traceback call  tracebackqq (which seems
to have already been removed).   Tracebackqq generates a traceback
indicating the call chain above.   I used it to determine who was calling
exch.

Since it's intel specific it can't be used in generalized r

[2021-08-16 18:10] HuiyaChuang-NOAA opened #365 "Transition UPP to use CRTM v2.4 for RRFS implementation"
Per email exchange with Daryl, DA group is planning to use CRTM V2.4 for RRFS implementation.

Haixia added the following lines to DA CRTM interface to adjust to CRTM V2.4 and recommended UPP does the same:

------------------------------------------------------------------------------------------------------
do ii=1,n_clouds_fwd_wk
           if(cloud_cont(k,ii) > 1.001_r_kind*1.0E-6_r_kind .and.

[2021-08-16 18:30] JesseMeng-NOAA commented on #274
It's good now after removing ifcore. Thanks you George!
I will continue modifying all im loops to ista:iend style. Agree to keep those debugging code until we are fully tested with 2d decomposition for the complete variable list.

[2021-08-16 18:36] HuiyaChuang-NOAA commented on #365
Emily indicated DA should be done with transitioning to crtm c2.4 at the end of Sep.
Huiya organized an Oct 4 meeting with Emily and Haixia to get their help transitioning UPP to use crtm 2.4.
This issue will be put on hold till then.

[2021-08-17 12:34] HuiyaChuang-NOAA commented on #274
Great!

[2021-08-17 16:51] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA @GeorgeVandenberghe-NOAA @WenMeng-NOAA @BoCui-NOAA
This is to follow up on why exch and exch_f are identical in EXCH.f
As I explained exch_f was for input array that were dimensioned (im,jm).  However, now
that Bo has updated UPP to dimension (im, jsta_2l,jend_2u), **let's remove exch_f section.**

@JesseMeng-NOAA please take on the task of removing exch_f section in EXCH.f but
bef

[2021-08-17 17:09] JesseMeng-NOAA commented on #274
I know. Thanks

[2021-08-17 17:35] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA Great!
I think you mentioned you've updated MDL2P.f
In your current regression test, do you have pressure level output?  If not, could you add them
and run regression tests again?

[2021-08-17 20:11] JesseMeng-NOAA commented on #274
Wen's test case only has hybrid level. I will try pressure level.

[2021-08-17 20:34] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA you can see
https://github.com/WenMeng-NOAA/EMC_post/blob/post_2d_decomp/parm/postcntrl_gfs_f00.xml
about adding isobaric level variables.   Also,
Can you report timing when running with different tasks at Thursday's tagup?

[2021-08-18 16:50] LinZhu-NOAA opened #366 "Add SSMIS-F17 channels to grib2 output"
Add SSMIS-F17 channels (channel 15, 16, 17, 18) to grib2 output for HAFS satellite products. There are parm file changes for hafs  in EMC_post/parm and source code changes (RQSTFLD.F, CALRAD_WCLOUD_newcrtm.f)

[2021-08-19 17:43] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA @JesseMeng-NOAA @WenMeng-NOAA @BoCui-NOAA
Summary for today's 2D decomposition tag up:
1. George updated EXCH.f and it worked in his test
2. Jesse tested George's new EXCH.f in his regression test that outputs model level variables and SLP as SLP computation calls SLP
3. Jesse verified that his tests reproduced all above output with numx=1,2,4
4. Jesse added isobaric heigh

[2021-08-19 19:51] WenMeng-NOAA commented on #347
It was indicated that the issue of  sigma level temperature definition made failure of writing grib2 message in RRFS PRSLEV dataset  when the regional inline post was conducted in debug mode. RRFS team confirmed that this sigma level temperature was inherited from the NAM products and can be removed in RRFS products. After RRFS control files were updated, the regional_quilt_debug test is able to r

[2021-08-19 20:08] WenMeng-NOAA commented on #347
The upp lib was rebuilt with the latest version of Wen's branch post_bndlyr at /scratch1/NCEPDEV/stmp2/Wen.Meng/upp_lib/EMC_post/tests/install on Hera.
The following tests were completed:

1. control :
   logs: /scratch1/NCEPDEV/stmp2/Wen.Meng/ufs/ufs-weather-model/tests/control_log_hera.intel
  working directory: /scratch1/NCEPDEV/stmp2/Wen.Meng/FV3_RT/rt_296154/

2. control_debug:
   logs: /scra

[2021-08-19 20:34] junwang-noaa commented on #347
Wen, thank you very much for looking into this issue. I took a quick look,
the post results in global tests (control and control_debug) look good to
me, but in the regional_quilt test, I see:

1024:34525988:vt=2018101501:30-0 mb above ground:1 hour fcst:MCONV
Horizontal Moisture Convergence [kg/kg/s]:
    ndata=53261:undef=6177:mean=4.81635e+18:min=0:max=9.99e+20

Are these values reasonable? All

[2021-08-20 17:59] WenMeng-NOAA commented on #347
@junwang-noaa Thanks for catching this. I just fixed it. You would expect MCONV having values like:
[Wen.Meng@hfe12 regional_quilt_debug]$ wgrib2 NATLEV.GrbF01 -match MCONV -stats
1424:41039794:ndata=53261:undef=7324:mean=8.9183e-09:min=-2.51e-06:max=3.96e-06:cos_wt_mean=1.10947e-08

I redo the tests and update my test locations above. Please let me know your comments. Thanks!

[2021-08-20 18:10] junwang-noaa commented on #347
Great, thanks for fixing it!

On Fri, Aug 20, 2021 at 1:59 PM WenMeng-NOAA ***@***.***>
wrote:

[2021-08-23 15:14] #347 closed, assigned to WenMeng-NOAA

[2021-08-23 15:18] WenMeng-NOAA commented on #166
Commit a49af05 : #348: Restrict undefined grids from UPP computation Part 3. A new tag upp_v10.0.9 will be created for upp/10.0.8 installation on the hpc-stack.

[2021-08-23 17:11] HuiyaChuang-NOAA commented on #340
@WenMeng-NOAA  I will pick up your test and start looking at this.

[2021-08-23 17:15] LinZhu-NOAA commented on #366
The variables are added in hafs products:
1) non-satellite products: WIND (max 3-houly 10-m wind)
2) satellite products: GOES-R (channel 8, 9, 10, 13), SSMIS-F17 (channel 15, 16, 17, 18)

The variables are removed from hafs products:
TKE, TCLSW, TCOLM, LWHR, LRGHR, CDLYR(ave), BRTMP,POT(10m, surface),GUST,SPFH at surface, SNOWC,LHTFL(ave),SHTFL(ave), EVP(acc),CD

[2021-08-23 17:17] WenMeng-NOAA commented on #340
@HuiyaChuang-NOAA That would be great. Please let me know if you have changes for me to pick up. Thanks!

[2021-08-23 20:53] fossell opened #368 "Bug fix release for public-v2/upp_v9.0.0"
A bug fix release will be created to address a few minor bugs in upp_v9.0.0. This will be done in conjunction with a bug fix release by SRW as well.  The UPP bugs to be applied are listed below.  The release tag will be upp_v9.0.1.

**Bug fixes to be cherry-picked from develop branch and applied to public-v2:**

1. Run script bug with fhrs in filename. Described in #356.  Fix has been identified a

[2021-08-24 18:27] fossell commented on #250
@WenMeng-NOAA @hertneky - Has this issue been resolved now with Tracy's recent documentation updates in #355?

[2021-08-24 18:35] fossell commented on #226
@edwardhartnett - When using gh-pages, can we have mulitple versions of the doxygen documentation?  I understand that there is one gh-pages branch, but what is it populated with?  documentation created from develop branch (I assume/hope not), or does it "point" to a certain branch or tag?  We have multiple implementation branches, and each may contain different states of the code, so the documenta

[2021-08-24 18:43] WenMeng-NOAA commented on #250
@fossell I think so. Thanks Tracy's efforts.

[2021-08-24 18:51] #250 closed, assigned to nobody

[2021-08-24 19:09] kgerheiser commented on #226
There's not a built-in way to host multiple documentation versions. `gh-pages` just serves up HTML. You generate the HTML using Doxygen, put it in the `gh-pages` branch, then commit and push. It will serve up `index.html` as the main page which is standard website stuff.

In that way you can only have the latest release.

It would be simple to have a custom top-level `index.html` that links into e

[2021-08-24 20:03] fossell commented on #226
@kgerheiser - Thanks, this makes sense and gives me something to consider. I think we'll have to discuss with the UPP team and see what works for all impacted groups.

[2021-08-25 03:15] edwardhartnett commented on #226
Still standing by to help at any time. ;-)

[2021-08-25 17:08] HuiyaChuang-NOAA commented on #340
@AliciaBentley-NOAA @GeoffManikin-NOAA @WenMeng-NOAA

Using the printouts from Wen for the 2021062212 case, I noticed that the the grid points with PV=2 level identified much higher than surrounding points had 2-3 layers that met PV<=2 over 25 mb while the sounding normal gird points have one deep layer of PV=2 at lower levels.

I decided to change 25 mb depth criteria to meet PV<=2 to 50 mb and i

[2021-08-25 21:18] HuiyaChuang-NOAA commented on #340
Huiya sent the following email to Jason, Fanglin, and Daryl, reiterating the proposed fix, showed the plots,
and proposed committing this fix to UPP develop and test the changes in GFS V17 parallel.
------------------------------------------------------------------------------------------------------
Hi, all,

Using the printouts from Wen for the 2021062212 case, I noticed that the problematic gri

[2021-08-25 21:23] HuiyaChuang-NOAA commented on #340
Jason and Alicia replied to above email and agreed we can wait to test this fix in GFS V17 parallel. (email attached)
Huiya requested Alicia and Daryl let users know a fix has been identified and will be tested in GFS V17 parallel.
Wen is starting a PR to commit this one-line fix.

---------------------------------------------------------------------------------------------------------------------

[2021-08-26 19:13] fossell commented on #145
- [x] Executable names have been unified.
- [x] Version numbers have been implemented.
- [x] Tagged releases are standardized to use underscores.
- [x] Renaming of repo to "UPP" is underway.

[2021-08-26 19:44] HuiyaChuang-NOAA commented on #145
Huiya, Wen and Kate jointly sent the following announcement to list of registered UPP users and EMC all hands:

--------------------------------------------------------------------------------------------------------------------------
In an effort to unify naming conventions for UPP across the board, we are planning to change the name of UPP repository on Github from
"EMC_post" to "UPP" in the wee

[2021-08-26 23:38] SMoorthi-emc commented on #145
How do I manually change the name?
Thanks
Moorthi

On Thu, Aug 26, 2021 at 3:44 PM HuiyaChuang-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:

[2021-08-27 02:07] WenMeng-NOAA commented on #145
@SMoorthi-emc Navigate the main page of your UPP fork https://github.com/SMoorthi-emc/EMC_post, click the settings and change repository name from EMC_post into UPP.

[2021-08-27 16:45] fossell commented on #368
There is a significant issue with the GOES bug fix from #353 when merged into the public-v2 branch and tested with SRW output. Further testing indicates unreasonable GOES brightness temps when running SRW app output through the develop branch as well. We suspect an incompatibility issue with the SRW configuration and develop branch and/or this GOES bug fix.

For the purposes on this upp_v9.0.1 bug

[2021-08-27 18:34] fossell commented on #368
Fixed with #369.

[2021-08-27 18:34] fossell commented on #356
Fixed with #369

[2021-08-27 18:34] #356 closed, assigned to fossell

[2021-08-27 18:35] fossell commented on #368
Closed wrong issue initially. This will stay open until SRW completes test and new upp_v9.0.1 tag created and released.

[2021-08-27 18:39] fossell commented on #368
@jwolff-ncar @mkavulich - We have completed testing for the upp bug fix v9.0.1.  The branch release/public-v2 is ready for your SRW testing. The bug fixes applied can be found in #369, note no code changes ended up being applied.

[2021-08-30 15:37] DusanJovic-NOAA opened #370 "EMC_post does not depend on iplib"
Dependency on iplib should be removed.

[2021-08-30 15:43] kgerheiser commented on #370
I came across this before because nothing uses `ip` in the repo, but I think it's used by `gtg` ?

https://github.com/NOAA-EMC/EMC_post/blob/develop/Externals.cfg

[2021-08-30 15:49] DusanJovic-NOAA commented on #370
Is there a way to make it conditional dependency if gtg is enabled?

I can not see https://github.com/NCAR/UPP_GTG.git Is it a private repo?

 How do we even compile gtg?

[2021-08-30 15:54] jwolff-ncar commented on #368
Would you like to create a tag and we can update this PR (https://github.com/ufs-community/ufs-srweather-app/pull/166) to include it for testing?

[2021-08-30 16:08] kgerheiser commented on #370
This commit is what made me think gtg requires ip:

https://github.com/NOAA-EMC/EMC_post/commit/ff42e0227d6100285d4179a2572b700fd5a959cb

I would say remove the `REQUIRED` from `find_package(ip)` and let it be optional.

[2021-08-30 16:11] WenMeng-NOAA commented on #370
@kgerheiser @DusanJovic-NOAA The ip lib is used by gtg code which is at NCAR private repos.

[2021-08-30 16:13] DusanJovic-NOAA commented on #370
How do we test that code if we can not see it?

[2021-08-30 16:20] WenMeng-NOAA commented on #370
That code is maintained by @YaliMao-NOAA. She can give permission of gtg repos. to specific groups of people. Do you have a list of testing persons?

[2021-08-30 16:28] WenMeng-NOAA commented on #370
Making finding ip lib to be optional might be good. The gtg code is used by GFS post processing only.

[2021-08-30 17:03] fossell commented on #368
@jwolff-ncar - A bug fix release tag upp_v9.0.1 was created and is now available.  Will comment on the srw app PR as well to get that change in the config file for testing.

[2021-08-31 14:43] WenMeng-NOAA commented on #340
Wen picked up Huiya's changes and submit PR #371 to develop branch.

[2021-08-31 17:17] #366 closed, assigned to LinZhu-NOAA

[2021-08-31 17:19] WenMeng-NOAA commented on #166
Commit e2235f3 : #367: Add ssmis f17 generation in UPP; Update UPP control files for hafs.

[2021-08-31 19:55] jwolff-ncar opened #373 "10m wind output is all zero"
When running EMC_post via the SRW App (using the postxconfig-NT-fv3lam.txt flat file), the post output file creates 10m wind output but it is all zero.

For example:
wgrib2 -V -d 1395 rrfs.t00z.bgrd3df006.tm00.grib2
1395:5308958455:vt=2019041506:10 m above ground:5-6 hour max fcst:WIND Wind Speed [m/s]:
    ndata=10777921:undef=932171:mean=0:min=0:max=0
    grid_template=1:winds(N/S):
	rotated lat

[2021-08-31 20:15] fossell commented on #373
@jwolff-ncar - What version/branch of UPP is being used for this?  Is this from bug fix release testing or separate development testing using develop branch?

[2021-09-01 02:40] jwolff-ncar commented on #373
@fossell There are a few different versions that this has recently been discovered in:
hash = 9fa1e088
and
hash = a49af05
This was identified through separate testing not related to the bug fix release.

[2021-09-01 16:58] #340 closed, assigned to WenMeng-NOAA, HuiyaChuang-NOAA

[2021-09-01 17:01] WenMeng-NOAA commented on #166
Commit 34bd5e5: #371: Increase pd to 50 mb to solve GFS V16 pvu layer issue.

[2021-09-01 17:02] WenMeng-NOAA commented on #340
The changed results in GFS master are:
[Wen.Meng@m71a1 ptmp]$ cat gfs.20200204/gfs.t00z.master.grb2f006.diff
1047:2866603169:UGRD:PV=5e-07 (Km^2/kg/s) surface:rpn_corr=0.93192:rpn_rms=7.56224
1048:2870273970:VGRD:PV=5e-07 (Km^2/kg/s) surface:rpn_corr=0.925165:rpn_rms=5.68945
1049:2873906091:TMP:PV=5e-07 (Km^2/kg/s) surface:rpn_corr=0.885917:rpn_rms=8.81512
1050:2877909539:HGT:PV=5e-07 (Km^2/kg/s)

[2021-09-01 18:18] BijuThomas-NOAA opened #374 "Incomplete/corrupted grib2 outputs from Post-Processing - UPP"
The post jobs in the HAFS system, when the UPP convert native model grid (in
netCDF format)  dynf*.nc and phyf*.nc  files to GRIB2 format, occasionally it produces corrupted GRIB2 files on Orion. Rewinding the post jobs normally resolves the issue, but this error occurring frequently on Orion.

The message we get when we try to read the corrupted GRIB2 files using wgrib2 is like this:

*** FATAL E

[2021-09-01 19:05] kgerheiser commented on #374
Think it could be g2 related?

If you say it only happens sometimes maybe there's a race condition related to OpenMP/MPI somewhere.

[2021-09-01 19:20] BijuThomas-NOAA commented on #374
@kgerheiser, It happens sometimes, something like once in 20-30 trials. Also, we have seen this issue only on Orion.

[2021-09-01 19:24] kgerheiser commented on #374
Have you looked at the corrupted file? Is it missing large chunks of data or is there something obviously wrong with it?

[2021-09-01 20:14] GeorgeVandenberghe-NOAA commented on #274
I need a way to get COLLECT_LOC called.  In the testcase supplied by Jesse
it isn't so I can't verify it works although. of course
I would NEVER make a misteak

On Fri, Aug 13, 2021 at 3:17 PM George Vandenberghe - NOAA Affiliate <
***@***.***> wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(w

[2021-09-01 20:15] BijuThomas-NOAA commented on #374
The file size is the same(bad and good GRIB2 files).  The portion of the data in the bad GRIB2 file that can be read(using wgrib2) is identical to the good GRIB2 file.

[2021-09-01 20:40] JesseMeng-NOAA commented on #274
The testcase Wen generated uses netcdfpara input handled by INITPOST_GFS_NETCDF_PARA.f in which
call collect_loc is commented out.
Wen, what do you think?

[2021-09-01 21:11] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA @JesseMeng-NOAA @BoCui-NOAA @WenMeng-NOAA
actually I asked Bo to comment that section out until we're ready to test collect_loc.
Jesse please uncomment the section to help George test out his version of collect_loc

[2021-09-02 16:39] WenMeng-NOAA commented on #357
The rtma WRFTWO dataset will have changed results as:
------------
155:124468303:EFHL:surface:rpn_corr=0.461903:rpn_rms=35.5199
156:124649091:EFSH:level of free convection:rpn_corr=-0.129192:rpn_rms=1820.59
157:124998736:EFSH:equilibrium level:rpn_corr=0.0708612:rpn_rms=1950.37
158:125578517:UESH:level of free convection:rpn_corr=0.112788:rpn_rms=1.96378
159:125665943:VESH:level of free convection

[2021-09-02 16:47] #357 closed, assigned to EdwardColon-NOAA

[2021-09-02 16:49] WenMeng-NOAA commented on #166
Commit 932e758 : #358 : Correct the effective layer top and bottom calculation.

[2021-09-02 17:21] WenMeng-NOAA commented on #274
The branch post_2d_decomp was synced with upstream/develop. The conflicts were solved.

[2021-09-02 18:19] GeorgeVandenberghe-NOAA commented on #274
Does this mean that a clone of develop has some support for 2D
decomposition?

On the COLLECT_LOC  testing issue I can test it with a call to gather the
coordinate array, inverting my scatter test.  If this works it's going to
work for other arrays.

grib2_module.f uses a different array to gather with possibly different
shape on the remote ranks.  The shape of the gathered object is the same, a
f

[2021-09-02 18:24] WenMeng-NOAA commented on #274
@GeorgeVandenberghe-NOAA No, my updates are syncing the latest changes of branch develop at authoritative UPP repso. in the 2d decomposition developing branch.

[2021-09-03 19:35] fossell commented on #373
@jwolff-ncar - It looks like this field is possibly just a "pass-through" variable meaning it is read from the model output and then directly output into the grib2 file.  Can you see if there are valid data in the variable "spd10max" of your SRW output?  If yes, then we'll keep digging here.
@hertneky - Can you confirm this as a pass-through variable too? Just want to make sure I'm not overlooking

[2021-09-03 19:57] jwolff-ncar commented on #373
Good to know, @fossell. I took a look at our output and spd10max is not in there (it is not included the diag_table.FV3_RRFS_v1alpha). In fact it is not included in most of the diag_tables included in the SRW App (it is only in diag_table.FV3_GFS_2017_gfdlmp_regional) That would explain it. We will have to decide as a team how to proceed. Thanks for your help.

[2021-09-03 19:59] hertneky commented on #373
@fossell @jwolff-ncar I also see it as a pass through variable, reading the field 'spd10max' from the model output as Kate mentioned.

[2021-09-03 20:00] fossell commented on #373
@jwolff-ncar - Ok great, well I mean not great that it's not in your model output, but I'm glad there isn't a bug or problem! Let's know if you encounter problems trying to output it in the future, happy to help.  Closing this now.

[2021-09-03 20:05] jwolff-ncar commented on #373
@fossell Actually, if it is not in the model output why does it turn to 0 coming out of post? Shouldn't it not be included in the post output then?

[2021-09-03 20:09] fossell commented on #373
@jwolff-ncar - If it is requested in the postxconfig file, UPP will attempt to output that field. It is not smart enough to dynamically know what fields from model are required to produce the requested output fields and error out if there is missing data. But that sort of mapping has been discussed as a benefit, it's heavier lift than we have resources for at the moment though.  Typically a field

[2021-09-03 21:29] jwolff-ncar commented on #373
Ok. It is a bit unfortunate it is filled with zeros since that is a plausible value! Thanks again for your help!

[2021-09-07 12:19] WenMeng-NOAA commented on #145
On 09/07/2021, Wen changed the repository name from EMC_post to UPP.

[2021-09-07 14:35] fossell commented on #373
@jwolff-ncar - Ah ok, I see what you're saying now.  Apologies, I think I misunderstood the concern before.  Agreed that is a little misleading, and actually I'm not sure why this is a case.  There should be a uniform assignment of missing values if a variable is not present in the model output, this value is typically 9.9e10.  I can reopen this issue and we can try to figure out what's going on h

[2021-09-08 19:41] fossell commented on #373
@WenMeng-NOAA - Do you know what groups at EMC use the postxconfig-NT-fv3lam.txt for product generation? Is it used in operations?

The SRW App team has come across an issue with one of the fields requested (MAX_WIND_ON_SPEC_HGT_LVL_ABOVE_GRND_10m; UPP ID 422) that is not in the model output (fv3lam output field is called "spd10max") resulting in a grib2 record of all zeros. This is undesirable as

[2021-09-08 20:58] HuiyaChuang-NOAA commented on #274
Huiya emailed Zhang and Kate from DTC indicating our plan to retire SLP_NMM,f as it only is used for HWRF operationally and HWRF will be replaced by HAFS.  Additionally, HWRF maintains its own branch.
1. Zhang indicated the current plan is to replace HWRF with HAFS in 2023.  He expressed concerns for HWRF UPP support prior to that but we assured him the UPP HWRF branch will not be changed unless n

[2021-09-08 23:01] WenMeng-NOAA commented on #373
@fossell The postxconfig-NT-fv3lam.txt has been used for RRFS operational development. I looked into the UPP regression tests for RRFS. It appears to me that the variable "spd10max" is in the RRFS model output. So the UPP output in GRIB2 has non-zero values for field 10m wind. You might contact with EMC RRFS team regarding the SRW app issue:
jacob.carley@noaa.gov, eric.rogers@noaa.gov, benjamin.bl

[2021-09-09 00:56] fossell commented on #373
@WenMeng-NOAA - Thanks for the info, very helpful.  We'll touch base with RRFS and see what next steps are.

[2021-09-10 14:39] fossell commented on #373
@jwolff-ncar - Per email conversation it sounds like this is mostly resolved? The spd10max will be added to the diag tables for your SRW App configuration eventually, correct? And there is a solution in METplus to compute the instantaneous wind at 10m and ignore the current missing max wind field.  Please let me know if there is anything you need UPP to do differently now or in the future. Otherwi

[2021-09-10 15:50] DusanJovic-NOAA opened #375 "Move cmake 'Package config' code to the top-level CMakeLists.txt"
In order to use (and build) UPP as a submodule of another project, the 'package config' cmake code should be moved from `sorc/ncep_post.fd/CMakeLists.txt` to the top-level `CMakeLists.txt`.
Also, in `configure_package_config_file` function `${CMAKE_SOURCE_DIR}` should be changed to `${CMAKE_CURRENT_SOURCE_DIR}`.

[2021-09-10 18:43] jwolff-ncar commented on #373
@fossell I think there is still a need to understand why, when there is no spd10max field in the model output, UPP still outputs a field of zeros when it is requested in the flat file. It should be undefined or bad data, I would think.

[2021-09-10 18:59] fossell commented on #373
@jwolff-ncar, Yes we can look into that and make sure UPP is behaving as we expect and not giving these misleading 0s. I just want to make sure I understand what problems we have and are trying to solve... if that field is output as undefined or bad data as expected instead of zeros, then are you good to go with your configuration that doesn't output spd10max in model history files? Or does that s

[2021-09-10 19:12] fossell commented on #373
@WenMeng-NOAA - We've have some email exchanges with @ericaligo-NOAA regarding this hourly max wind speed at 10m AGL field (UPP ID 422).  As described before, this is model variable spd10max that is simply read in from model history files in the INITPOST_NETCDF routine, passed through UPP and output in the grib file.  In this case, that spd10max is not present in the model history file, so UPP fil

[2021-09-10 19:26] fossell commented on #373
I'm beginning to wonder if this is a grib utility thing?  As I look at that wgrib2 output example above, there are 23,115 grid points that are undefined. Look at the second line and `undef=23115`
So wgrib2 is in fact finding that each grid point is an undefined value.  Perhaps the mean/min/max=0 is a default for wgrib2 or something and not actually reflective of the values on the grid?  I'm not su

[2021-09-10 19:30] fossell commented on #373
And actually, using wgrib2 to print out a sample value at i,j:
[code]
the value appears to be undefined, e.g. 9.999e+20

[2021-09-10 19:53] WenMeng-NOAA commented on #373
I agree with Kate that might be the way of  wgrib2 utility thing to dump a field with all undefined as min/max/mean as 0. You might check if a field is all undefined via comparing "ndata" and "undefine".

[2021-09-11 18:54] HelinWei-NOAA opened #376 "adding some extra surface fields to the model output"
Some extra surface fields are required to close the offline energy/water budget computation. These fields are listed below and described in [GRIB2 - TABLE 4.2-2-0](https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table4-2-2-0.shtml)

(1)LAND FRACTION  (#233, LANDFRC)
(2)INST PREC ADVEC HEAT(#235, PAHFLX)
(3)WATER IN AQUIFER (#236, WATERSA)
(4)ACM EIWATER(CANOPY WATER EVAPORATION) (#237

[2021-09-13 13:43] fossell commented on #373
@WenMeng-NOAA - Just to wrap this up and so you're aware of the findings, Jamie and I were able to trace the problem to using an older verision of UPP from December 2020. In that version, the fields were not filled properly with missing values, so in the output some grid points appeared as zeros. We have confirmed this issue has since been fixed in develop branch.  And to be clear, there is no iss

[2021-09-13 13:43] #373 closed, assigned to nobody

[2021-09-13 14:54] WenMeng-NOAA commented on #373
@fossell Thanks for confirming. Sometimes, decoding GRIB2 data via wgrib2 is trivial.

[2021-09-14 18:41] WenMeng-NOAA opened #379 "The ufs-weather-model rt tests control_debug and regional_quilt_debug failed at inline post on WCOSS-Cray"
The ufs-weather-model rt tests control_debug and regional_quilt_debug failed at inline post as:

control_debug:
[code]

regional_quilt_debug
[code]

[2021-09-14 18:50] WenMeng-NOAA commented on #363
Wen created a feature branch post_gfsv16_wcoss2 for porting UPP for GFSV16 on WCOSS at
https://github.com/WenMeng-NOAA/UPP/tree/post_gfsv16_wcoss2

[2021-09-15 14:51] DavidHuber-NOAA opened #380 "Add Jet to fv3gfs_downstream_nems.sh"
To support the global workflow on Jet, fv3gfs_downstream_nems.sh should allow MPMD srun calls on the system.

This is in reference to NOAA-EMC/global-workflow#357.

[2021-09-15 17:27] WenMeng-NOAA commented on #363
**Build an UPP executable for GFSV16 on wcoss2 Cactus:**
[code]
The executable "ncep_post" will be created under UPP/exec/.

[2021-09-15 17:30] WenMeng-NOAA commented on #363
The upp/8.0.11 module for GFSV16 is available on Cactus for testing GFSV16 inline post.
To load it:
[code]

[2021-09-15 18:33] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA @BoCui-NOAA @WenMeng-NOAA @GeorgeVandenberghe-NOAA
Per discussion from tag up on this project yesterday, we will plan on retiring SLP_NMM.f and EXCH2.f in this branch.

[2021-09-16 14:01] WenMeng-NOAA commented on #380
@DavidHuber-NOAA It seems you have done some tests on jet. Would you like to submit PR for adding MPMD PGRB dataset process on jet? Thanks!

[2021-09-16 14:16] DavidHuber-NOAA commented on #380
@WenMeng-NOAA Yes, I will get to that today.  Thanks for the nudge.

[2021-09-17 13:10] hertneky opened #382 "Himawari-8 fix and add parameters to Grib2 table"
1. Need to apply a bug fix for Himawari-8 to remove old code that I believe was used for Grib1 output.

2. Need to add the parameters for Himawari-8 band 7-16 to Grib2 table

[2021-09-17 18:11] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA
Jesse, please remove the following list of UPP subroutines from 2D decomposition branch:
1. SLP_NMM.f
2. EXCH2.f
3. INITPOST_SIGIO.f
4. INITPOST_GFS_NEMS.f

Thank you.

[2021-09-17 18:21] WenMeng-NOAA commented on #274
@HuiyaChuang-NOAA I could remove the INITPOST_SIGIO.f and INITPOST_GFS_NEMS.f in UPP develop branch before 2D decomposition branch merging.

[2021-09-17 18:25] GeorgeVandenberghe-NOAA commented on #274
Are these still used for older applications that use GFS NEMSIO and even
older SIGIO files?  Or did the developers fork their own versions long ago
as the NAM people did?

On Fri, Sep 17, 2021 at 2:22 PM WenMeng-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  301775154

[2021-09-17 18:28] WenMeng-NOAA commented on #274
These are legacy read interfaces which are not used in operational applications any more.  We still keep the interface for NAM.

[2021-09-17 18:48] HuiyaChuang-NOAA commented on #274
@WenMeng-NOAA thank you.  that would be great.
@GeorgeVandenberghe-NOAA you're right that these two subroutines are read interfaces for old GFS sigio and serial nems io output.  However, we're still keeping INITPOST_GFS_NEMS_MPIIO.f which was what's used operationally to parallel read nemsio output.

[2021-09-17 19:14] JesseMeng-NOAA commented on #274
Will do
==============================================
Dr. Jesse Meng
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct. Room 2037
College Park, MD 20740
email: ***@***.***
==============================================

On Fri, Sep 17, 2021 at 2:12 PM HuiyaChuang-NOAA ***@***.***>
wrote:

[2021-09-17 21:28] JesseMeng-NOAA commented on #274
Somehow I cannot get rid of INITPOST_GFS_NEMS. Does not compile without it. I have commented out the call from WRFPOST and doublechecked that no other subroutines call INITPOST_GFS_NEMS. Just let it sit there for now until we know the reason.

[2021-09-20 12:28] WenMeng-NOAA commented on #380
@DavidHuber-NOAA Thanks for submitting the PR. It looks good to me.  The UPP authoritative repos. was renamed from EMC_post to UPP. Would you rename your fork accordingly? Our announcement can be found at https://github.com/NOAA-EMC/UPP/discussions/372. Please let me know if you have any questions. Thanks!

[2021-09-20 12:29] #380 closed, assigned to nobody

[2021-09-20 12:31] WenMeng-NOAA commented on #166
Commit 823343f: #381: Enable MPMD srun calls for Jet.

[2021-09-20 13:44] DavidHuber-NOAA commented on #380
@WenMeng-NOAA I have changed the name of my fork.  Thanks!

[2021-09-20 16:05] HelinWei-NOAA commented on #376
LANDFRC has been added to both master and surface flux file for all forecast lengths including 00Z
The other have been added to surface flux file only

[2021-09-20 17:32] WenMeng-NOAA commented on #376
The following changes will be made in GFS baseline with the PR #378:

- Update input gfs model history files from 2019062000 F006.
- Add new grib2 field LANDFRC in gfs master file.
- Add the following new grib2 fields in gfs flux file
   1. instant LANDFRC
   2. instant PAHFLX
   3. averaged PAHFLX
   4. accumulated WATERSA
   5. accumulated EIWATER
   6. accumulated PLANTTR
   7. instant SOILSE

[2021-09-22 19:48] #376 closed, assigned to HelinWei-NOAA

[2021-09-22 19:50] WenMeng-NOAA commented on #166
Commit 1aaec8d : #378 : Adding extra surface fields to model output.

[2021-09-23 17:28] edwardhartnett opened #384 "Need to copy FindNetcdf.cmake into cmake directory, and not depend on CMakeModules, in order for releases to work"
When you mark a release in GitHub, it packages up the repo for you and provides that as a .tar.gz file, available on the "Releases" page.

However, in the case of UPP, all these tarballs are broken, because the GitHub packaging is not smart enough to handle submodules. :-(

As a result, you need to copy the FindNetCDF.cmake file into your cmake directory, and use it from there. This is unfortunate

[2021-09-23 17:40] WenMeng-NOAA commented on #384
@edwardhartnett Thanks for addressing this issue in UPP. Would you please submit a PR for your solution? Thanks!

[2021-09-23 17:52] fossell commented on #384
Yes this is known limitation. For community standalone applications, we've documented use of git clone as the procedure to obtain the code, instead of advertising downloading a tarball, for this reason. This was also an issue in the past when crtm was a submodule to UPP, but we have since moved to using crtm as part of NCEPLIBS.

@EdwardColon-NOAA - Do you have recommendations on how to remain up

[2021-09-23 18:06] kgerheiser commented on #384
Changes are few and far between. We can put in a PR if there's any substantial change that needs  to be propagated.

[2021-09-23 18:08] fossell commented on #384
@kgerheiser - Great, thanks!

[2021-09-23 22:07] hertneky commented on #344
@fossell @WenMeng-NOAA I am at a point in this process that a discussion will be useful in order to complete this task.

I have removed the body of RQSTFLDS.F and am left with a few remaining variables that are initialized in this routine. The options I see moving forward are:
1. Keep these variables in RQSTFLD.F (maybe rename this file to something more representative of what is left)
2. Move the

[2021-09-23 22:13] hertneky commented on #274
@JesseMeng-NOAA I ran across this issue when doing a bit or Grib1 cleanup of RQSTFLDS.f. I have been able to remove INITPOST_GFS_NEMS.f and build successfully with some additional changes to WRFPOST.f and thought I would pass this information along. I made changes made in WRFPOST.f to use the 'nemsio_module_mpi' instead of 'nemsio_module' since otherwise there was an error with building related to

[2021-09-24 13:53] fossell commented on #368
This release is complete.

[2021-09-24 13:53] #368 closed, assigned to fossell

[2021-09-24 14:01] fossell commented on #226
@edwardhartnett - I'm ready to move forward with this now.  Perhaps the best first step is start with just using develop branch as the source, and further down the line when we have a release branch break off then look at potentially populating subdirectories of specific version documentation with reference links.  Does that work?  If yes, let me know the steps I need to take to help set this up.

[2021-09-24 14:15] fossell opened #386 "Update documentation to remove submodules"
Submodules will be removed with #385.

Need to update rst documentation to:
- [x] Remove mention of CMakeModules or .gitmodules in directory tree
- [x] Remove  "--recurse-submodules" from clone commands

Wiki Update:
- [x] Remove "git submodule update --init CMakeModules" step from build procedures  or  "--recurse-submodules" from clone commands for develop

[2021-09-24 14:27] #384 closed, assigned to edwardhartnett

[2021-09-24 14:29] WenMeng-NOAA commented on #166
Commit 62dcbd4 : #385 : switch to local copy of FindNetCDF.cmake.

[2021-09-24 14:52] WenMeng-NOAA commented on #384
@edwardhartnett and @kgerheiser Thanks for help to enhance UPP.

[2021-09-24 14:55] JesseMeng-NOAA commented on #274
@hertneky
Thanks for your help. However, I tried the same thing you did for WRFPOST but still have the link errors as

/gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/ips-18.0.1.163/impi-18.0.1/nemsio/2.5.2/lib/libnemsio.a(nemsio_read.f90.o): In function `nemsio_read_mp_nemsio_readrecgrb8_':
/usrx/local/nceplibs/dev/hpc-stack/src/hpc-stack/pkg/nemsio-v2.5.2/src/nemsio_read.f90:979: un

[2021-09-24 15:00] edwardhartnett commented on #226
You need to turn on the gh-pages feature, and add me as a developer to the project, so I can push to the gh-pages branch.

Alternatively, someone who is already a developer can create and populate the gh-pages branch.

[2021-09-24 15:04] fossell commented on #226
I've turned on gh-pages features.  Since you are most familiar with this development I am fine with you taking the lead to get things set up and helps us get started. I can add you as maintain role, with @WenMeng-NOAA approval, I think that should get you the permissions needed to configure pages.

[2021-09-24 15:12] WenMeng-NOAA commented on #274
@JesseMeng-NOAA and @HuiyaChuang-NOAA I would suggest removing legacy INITPOST_SIGIO.f and INITPOST_GFS_NEMS.f in
Tracy's PR which would be merged in develop branch before 2D decomposition PR. Please let me know your thoughts.

[2021-09-24 15:19] JesseMeng-NOAA commented on #274
Sounds good.

[2021-09-24 15:29] edwardhartnett commented on #226
Thanks, I don't need a "maintain" role, I just need "write" role, so I can push to branches. (but someone with maintain role has to turn on the gh-pages feature. It's just one check-box in the repo settings...)

Here's an example from UFS_UTILS settings. It's on the "Pages" tab...

![image](https://user-images.githubusercontent.com/38856240/134701606-f88cd9a6-ef2e-4ebc-a04a-f4a661407512.png)

[2021-09-24 15:32] hertneky commented on #274
@JesseMeng-NOAA I was testing on NCARs Cheyenne initially. The nemsio library used was version 2.5.2. I will test on Hera as well.

[2021-09-24 16:31] fossell commented on #226
@EdwardColon-NOAA - Ok, you should be good to go.  Please let me know if there are any issues.

[2021-09-24 16:33] EdwardColon-NOAA commented on #226
Thank you Kate!

On Fri, Sep 24, 2021 at 12:31 PM Kate Fossell ***@***.***>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-09-24 16:56] edwardhartnett commented on #226
Are we sure the settings are correct? In particular, the "Source" setting should be as those in the image I attached to this issue: branch gh-pages, /(root).

[2021-09-24 16:58] fossell commented on #226
Sorry about that, should be correct now. Give it a try

[2021-09-24 17:10] edwardhartnett opened #389 "Update Doxyfile.in, turn on warnings"
The doxygen documentation build uses the settings file docs/Doxyfile, which is generated by CMake from docs/Doxyfile.in.

The doxyfile contains many settings, and the availability of these settings changes (slowly) from version to version of doxygen.

The doxyfile used in UPP is pretty old can can be updated. Also, warnings for missing documentation can be turned on. These warnings will show up in

[2021-09-24 17:15] edwardhartnett opened #391 "Add links to the main page of UPP doxygen documentation"
The main page of the UPP doxygen based documentation can be see here: https://noaa-emc.github.io/UPP/

The text that appears here is from docs/user_guide.md. This is the landing page for the documentation can should also contain some high-level description of what is in UPP, with links to the utilities and most important library functions, to get the new users started on understanding the UPP pack

[2021-09-24 17:36] fossell commented on #391
@edwardhartnett - docs/user_guide.md is essentially a copy of docs/Introduction.rst.  Do you know if it is possible for the doxygen documentation to leverage this existing introduction rst file (or perhaps vice versa) instead of having two separate identical copies to maintain? Or is there inherent incompatibility?

[2021-09-24 17:51] #226 closed, assigned to edwardhartnett

[2021-09-24 17:52] WenMeng-NOAA commented on #166
Commit 030f6a2 : #388 : Add link to built doc on gh-pages branch in README.

[2021-09-24 18:43] WenMeng-NOAA commented on #274
@JesseMeng-NOAA Could you back up the changes for removing these two routines in branch post_2d_decomp ? Thanks!

[2021-09-24 18:54] JesseMeng-NOAA commented on #274
INITPOST_GFS_SIGIO.f was removed.
I am keeping INITPOST_GFS_NEMS.f, but commented out all calls, until we have a solution to compile without it.

[2021-09-24 19:12] edwardhartnett opened #392 "Fix doxygen warnings, turn on WARN_AS_ERROR"
Doxygen gives warnings when things aren't quite right. I've added the current list of warnings, they can also be seen in the CI runs (after #390 is merged).

Once all these warnings are fixed, we can turn on the WARN_AS_ERROR flag, and that will cause the CI build to break if someone commits code without proper doxygen documentation. This is very worthwhile as it enforces some documentation standa

[2021-09-24 19:32] edwardhartnett commented on #391
There is no inherent incompatibility. I believe that doxygen can also generate the usethedocs documentation, from the same source.

However, I have not worked that out yet. Also it's not clear that this is as important as it may seem. The readthedocs documentation seems to be more high-level, and the doxygen documentation more code-level, and that's OK. ;-)

So there is some duplication in the doc

[2021-09-24 20:20] hertneky commented on #382
@WenMeng-NOAA I conducted tests on Hera, which showed diffs in the gfs test for precip and categorical precip vars (both for my branch him8_mods and develop). Is there something I should know about when running the rt_for_developer.sh?

Output can be found here for tests on both branches: scratch1/NCEPDEV/stmp2/Tracy.Hertneky

[2021-09-24 20:24] EricRogers-NOAA opened #393 "1000 mb heights for the North American RRFS domain is corrupted"
After the ufs-weather-model code being run in the LAM parallels was compiled with upp/10.0.9, it was discovered that the 1000 mb heights were corrupted:

132:1297512681:vt=2021092612:1000 mb:60 hour fcst:HGT Geopotential Height [gpm]:
    ndata=15634112:undef=6238409:mean=-2.33694e+15:min=-1.19702e+20:max=1.01562e+14
    grid_template=20:winds(grid):
        polar stereographic grid: (4784 x 3268)

[2021-09-24 20:32] fossell commented on #392
@edwardhartnett - Thank you for providing this list. The DTC would like to help with the effort to initiate proper documentation in the existing code base as well as establish documentation standards for code developers.  Would you be able/willing to meet to help get us started in the right direction or perhaps you have resources, examples already you can point us to?

[2021-09-24 21:18] WenMeng-NOAA commented on #393
@EricRogers-NOAA This 1000 mg HGT issue occurs in all forecast hours or just particular hour?

[2021-09-24 21:20] EricRogers-NOAA commented on #393
This issue occurs for all forecast hours.

[2021-09-24 22:40] WenMeng-NOAA commented on #382
@hertneky Could you submit your branch as a new PR? It might be easy to look into your changes and conduct tests. The further modifications could be made based on testing and reviewing. Thanks!

[2021-09-24 22:46] WenMeng-NOAA commented on #382
@hertneky There should be gfs test script syncing foe developer side testing. Sorry for confusing. Please conduct gfs test again.

[2021-09-24 22:57] edwardhartnett commented on #392
I'm absolutely happy to help by meeting at any time.

Most of the warnings are pretty self-explanatory. Let's take an example:

`/home/ed/UPP/sorc/ncep_post.fd/AVIATION.f:231: warning: Member calcat(U, V, H, U_OLD, V_OLD, H_OLD, CAT) (function) of file AVIATION.f is not documented.
`

So when I look at AVIATION.f, around line 231, here's what I see:

[code]

So the problem here is that the legacy

[2021-09-26 00:05] #389 closed, assigned to edwardhartnett

[2021-09-26 00:06] WenMeng-NOAA commented on #166
Commit cdfe99e : #390 : Updated Docyfile, turned on warnings.

[2021-09-27 13:32] WenMeng-NOAA commented on #393
Wen set up an UPP standalone test with model history files provided by Eric. This test case can reproduce the failure reported by Eric.

[2021-09-27 13:44] WenMeng-NOAA commented on #393
There are no corrupted 1000 mb heights in HAFS dataset though HAFS also has computation domain smaller than output domain.

[2021-09-27 15:31] hertneky commented on #382
@WenMeng-NOAA Thanks - syncing the gfs script created bit-wise results. Question - Does nmmb still need to be tested - is it still used in operations (e.g. nam?). I tested, but checking for future.

[2021-09-27 15:39] WenMeng-NOAA commented on #382
@hertneky The nmmb baseline might have discrepancy with the ops. nam due to some updates from UPP refactor in develop branch. But we keep this testing for a reference for RRFS and HAFS development.

[2021-09-27 18:48] EricRogers-NOAA commented on #393
The problem in the RRFS domain is intermittent; from the 00z 9/27 RRFS DA run:

132:1302734770:vt=2021092903:1000 mb:51 hour fcst:HGT Geopotential Height [gpm]:
    ndata=15634112:undef=6238409:**mean=116.05:min=-156.904:max=269.368**

132:1302823635:vt=2021092904:1000 mb:52 hour fcst:HGT Geopotential Height [gpm]:
    ndata=15634112:undef=6238409:**mean=1.21493e+14:min=-3.74382e+19:max=1.96875e+1

[2021-09-28 12:29] #382 closed, assigned to hertneky

[2021-09-28 12:31] WenMeng-NOAA commented on #166
Commit 46d830b : #394 : Update for Himawari-8.

[2021-09-28 15:40] WenMeng-NOAA commented on #393
With the fixes applied, here are the changed results in the failure case 2021092412 F12:
-----
![image](https://user-images.githubusercontent.com/48260754/135119496-c61718b4-6235-4791-a449-943ea4da3745.png)
![image](https://user-images.githubusercontent.com/48260754/135119737-c1510f05-3a9d-43da-a17a-f2958c90ed6f.png)
![image](https://user-images.githubusercontent.com/48260754/135120084-b4a1c9c4-27

[2021-09-28 15:46] WenMeng-NOAA commented on #393
The UPP regression tests were conducted on WCOSS-Dell. The changed results in HAFS are:
[code]
The HAFS has undefined grids in output domain. The changes should be expected.

[2021-09-28 18:31] GeorgeVandenberghe-NOAA commented on #274
Turns out the post doesn't have a generalized namelist read.  The closest analog is itag.   I could add a line in itag but then versions that don't yet support 2D would break.   I could try to read it in itag and branch around a failure.   Or I could put it in the environment or another file and if the file weren't there, assume default numx=1.   Considering options.

Wen's 2d Post currently passe

[2021-09-28 22:02] WenMeng-NOAA commented on #393
A new upp lib was built in Wen's account. This upp lib can be run through in ufs-weather-model rt tests, control and regional_quilt which include inline post.

[2021-09-29 12:54] #393 closed, assigned to WenMeng-NOAA

[2021-09-29 12:58] WenMeng-NOAA commented on #166
Commit 14171cd : #396: Fixes for 1000 mb HGT corrupted at RRFS 3km parallel run. A new upp tage upp_v10.0.10 will created for upp lib installation at the hpc-stack.

[2021-09-30 15:18] GeorgeVandenberghe-NOAA commented on #274
I have modified the numx setting in the 2D post to be done in WRFPOST.f
with the value of numx read from a line in itag (numx=4) for example.  This
would be the first line
in itag and if absent, the value DEFAULTS to 1 so current itags can still
be used and cause the code to fall back to a 1D decomposition.

It requires disabling the hardwire in MPI_FIRST.f, adding it to CTLBLK.mod
and setting it

[2021-09-30 15:47] JesseMeng-NOAA commented on #274
Great! Please let me know where to grab your files. Thanks!

[2021-09-30 16:06] GeorgeVandenberghe-NOAA commented on #274
/gpfs/dell3/ptmp/gwv/post.runtime2d.tar

To actually use it place numx=$something
in the FIRST line of itag.  WRFPOST.f checks for this and backspaces itag
to the first line if it isn't present so the rest of the itag input is
unaffected

On Thu, Sep 30, 2021 at 11:47 AM Jesse Meng ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

[2021-09-30 17:36] JesseMeng-NOAA commented on #274
Thanks George! It works great!
numx is read from itag, with default =1 if not present in itag.
Both cases generate identical results in my 2d test.

[2021-09-30 19:07] fossell opened #397 "Add CODEOWNERS file"
The CODEOWNERS file will automate some of the assigning of reviewers for certain PRs. This may be helpful to ensure that certain people/groups are reviewers when certain parts of the code and repo are modified.

Examples and documentation [here](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners).

[2021-09-30 21:14] hertneky opened #399 "Update documentation to reflect repository name change"
The documentation needs to be updated by changing all instances of EMC_post to UPP with respect to the repository name change.

[2021-09-30 21:40] hertneky commented on #386
@fossell there were no mentions of CMakeModules or .gitmodules in the rst documentation, in particular the directory structure. I have marked the rst updates as complete with the recent PR

[2021-10-01 15:31] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA @JesseMeng-NOAA
Sorry I meant to reply earlier but was attending DTC SAB meetings.  UPP does read in a namelist  "nampgb"
namelist/nampgb/kpo,po,kth,th,kpv,pv,fileNameAER,d3d_on,gocart_on,popascal &
                     ,hyb_sigp,rdaod,aqfcmaq_on
I think this would be an ideal place to add numx.  I like George's idea of setting numx=1 as default.  If you look
at WRFPOST.f,

[2021-10-01 15:37] fossell commented on #274
@HuiyaChuang-NOAA @WenMeng-NOAA @GeorgeVandenberghe-NOAA @JesseMeng-NOAA - I also meant to comment. DTC's @kayeekayee is working on some development to translate all info in the itag to a formal fortran namelist (Issue #115) and has the work largely done and tested with current develop branch.  Woudl this be of interest to review and push this feature enhancement to help aid the 2d decomp work?

[2021-10-01 17:01] #397 closed, assigned to fossell

[2021-10-01 17:02] WenMeng-NOAA commented on #166
Commit 74135d2 : #398 : Add CODEOWNERS file.

[2021-10-01 17:44] junwang-noaa opened #401 "post filename needs to have full time stamp when the forecast time is not integer hour"
It was found that both model and post file names do not reflect the correct output time when the non-integer output time is used. The issue on model history files was fixed. Now the history files have filename format:

atmfHHH-MM-SS
sfcfHHH-MM-SS

for non integer forecast time. Post file name may need to have similar format when full time stamp is needed.

[2021-10-01 20:08] HuiyaChuang-NOAA commented on #274
@KateFriedman-NOAA @kayeekayee @GeorgeGayno-NOAA @JesseMeng-NOAA @WenMeng-NOAA have kayee started a PR to merge her changes in?

[2021-10-01 20:14] GeorgeVandenberghe-NOAA commented on #274
Good for other reasons but I don't need it.  Downward compatibility with
current itag use would be helpful and I built that into my numx= itag read
code.  If we change itag to a namelist we
will have to change runscripts to build it.   Downward compatibility can be
implemented if itag is retained as the input file but just with namelist
stuff, by looking for non namelist stuff and branching to the

[2021-10-01 21:30] WenMeng-NOAA commented on #274
@fossell and @kayeekeyee Could you start a PR to the branch develop so we may have further discussion for flexible namelists. Thanks!

[2021-10-04 13:34] KateFriedman-NOAA commented on #274
@HuiyaChuang-NOAA Nothing into global-workflow yet but I'm happy to bring in a new UPP tag/version when the refactoring goes into UPP develop. Most of the workflow scripts for UPP are in the UPP so I won't have much to adjust on the global-workflow side for this other than just trying it in a cycled run when ready. Please open a [new global-workflow issue](https://github.com/NOAA-EMC/global-workfl

[2021-10-04 13:58] WenMeng-NOAA commented on #274
@KateFriedman-NOAA The UPP 2D decomposition from UPP refactor efforts has been developing yet. When this feature is merged in UPP develop branch, I will open issue and submit PR for the changes in global-workflow. Thanks!

[2021-10-04 14:57] WenMeng-NOAA commented on #363
@KateFriedman-NOAA I would like to bump up upp lib version to 8.1.0 on wcoss2. You may load a testing upp lib on Cactus as:
[code]

[2021-10-04 15:02] KateFriedman-NOAA commented on #363
Got it, thanks for the update!

[2021-10-04 19:55] fossell commented on #274
@WenMeng-NOAA - Yes, @kayeekayee is planning to submit PR soon so we can all review proposed mods.

[2021-10-05 13:07] #386 closed, assigned to hertneky

[2021-10-05 13:07] #399 closed, assigned to nobody

[2021-10-05 13:10] WenMeng-NOAA commented on #166
Commit 728bdf0 : #400 : Update build instructions with UPP repository name change and submodule removed.

[2021-10-05 20:16] HuiyaChuang-NOAA commented on #274
If NUMX is read in as a variable in namelist, then it can be an optional variable too.
I looked at what you did and it looked fine.  We can talk at next week's 2D decomposition tagup to see if we want to change numx to be in namelist

[2021-10-05 20:25] HuiyaChuang-NOAA commented on #274
As Wen mentioned, it's still work in progress.  The projected completion date is June next year.

[2021-10-06 12:46] WenMeng-NOAA commented on #166
Commit 9f5f788 : #395 : Fix doxygen in AVIATION.f.

[2021-10-07 17:43] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA @BoCui-NOAA @GeorgeVandenberghe-NOAA @WenMeng-NOAA
Spoke to Wen and DTC submitted a PR #402 for making entire itag a namelist.
Wen is running regression tests for this PR.  She estimated this PR will be merged in 3 weeks
if all goes well.  Wen will then work with Jesse to sync this merge from develp to 2D decomposition branch,
at which time, we can make numx part of namelist as wel

[2021-10-07 17:46] GeorgeVandenberghe-NOAA commented on #274
Will it still work with the old itag or will that have to be changed?

On Thu, Oct 7, 2021 at 1:43 PM HuiyaChuang-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-10-07 18:12] WenMeng-NOAA commented on #274
@GeorgeVandenberghe-NOAA There will be format changes in old tag with all in namelist. Right now, you may modify itag for 2d decomposition testing. I will work with you for updating itag later.

[2021-10-08 15:49] EricJames-NOAA opened #403 "Test issue...see if I have permission..."

[2021-10-08 15:49] #403 closed, assigned to nobody

[2021-10-08 15:58] EricJames-NOAA opened #404 "NOAA GSL UPP updates being prepared"
NOAA-GSL developers have some UPP updates for our Rapid Refresh Forecast System (RRFS).  We are working to finalize and test the code, and hope to have it ready within 1-2 weeks.   There are a few modifications / new fields in the works:

- Four new fields for model forecasts (exceedance flags for precipitation exceeding reference thresholds):
(1) 1h QPF exceeding Flash Flood Guidance (FFG)
(2) ru

[2021-10-14 17:50] LydiaStefanova-NOAA opened #405 "Wrong values in grib2 files' land mask over sea ice"
In grib2 files from the coupled ufs-weather-model, the land mask has values of 2 along the contour of the sea ice region, and values of 0 in its interior.

The grib2 files should either have values of 2 in all of the areas with sea ice or no values of 2 at all.

An example grib2 file with this problem is here:

_/scratch1/NCEPDEV/stmp2/Lydia.B.Stefanova/upp_issues/gfs.20130701/00/atmos/gfs.t00z.sf

[2021-10-14 17:51] LydiaStefanova-NOAA opened #406 "requesting addition of foundation temperature to surface grib2 files"
The coupled modeling group is requesting that foundation temperature be added as a new variable to the surface grib2 files.

The foundation temperature is currently output in the surface netcdf files under the name "tref". An example surface netcdf with tref is here:

_/scratch1/NCEPDEV/stmp2/Lydia.B.Stefanova/upp_issues/gfs.20130701/00/atmos/gfs.t00z.sfcf006.nc_

Information about the grib2 code

[2021-10-18 18:19] fossell commented on #392
@WenMeng-NOAA - Our team is starting to tackle this issue of translating current UPP routines to use Doxygen documentation syntax. As we make progress, would you prefer PRs for sets of files as they're ready, or wait until we make changes in all routines and submit the bulk of these documentation updates in one PR?

[2021-10-18 18:42] WenMeng-NOAA commented on #392
@fossell Multiple PRs would be easy for reviewing and merging. Thanks!

[2021-10-18 19:02] edwardhartnett commented on #392
I strongly recommend that each programmer working on doxygen conversion start with one code file, and put that up for PR, tagging me for review. As we work through the issues, each programmer will learn how to do documentation in a way that's similar to the way the rest of the UPP documentation is done.

Doxygen offers many alternatives - we don't want each programmer finding their own way of doin

[2021-10-18 19:19] fossell commented on #392
@edwardhartnett - thanks for your suggestions, this all sounds good to me. Appreciate your willingness to review these PRs and help us learn leverage from your experience. Our initial plan is to just convert the existing content to doxygen syntax, like you did with AVIATION.f, and not pursue any further enhancements at this time.  Does that sound like a reasonable approach or do you recommend othe

[2021-10-18 19:28] edwardhartnett commented on #392
That is a good approach and there is plenty of work there. In doing that, every programmer will learn the common doxygen tags, and such fancy tricks as tables, lists, and references.

Once that is complete, all the programmers involved will have a good understanding of doxygen. Those who are interested can read the documentation and tutorials to learn more advanced doxygen techniques and more ways

[2021-10-19 13:10] WenMeng-NOAA commented on #404
@EricJames-NOAA Thanks for the heads-up. Please follow the instructions of UPP code changing at
https://github.com/NOAA-EMC/UPP/wiki/UPP-Code-Development#contribute-changes-in-upp-main-development-branch-develop

I invite @ericaligo-NOAA and @BenjaminBlake-NOAA in this issue so they will be aware of upcoming changes for RRFS.

[2021-10-21 11:10] edwardhartnett opened #407 "handle bacio library name change with bacio-2.5.0 release"
handle bacio library name change with bacio-2.5.0 release

[2021-10-21 22:21] JesseMeng-NOAA commented on #274
@GeorgeVandenberghe-NOAA
Hi George, I am modifying the subroutine MDL2THANDPV.f to 2D decomposition. This is the first subroutine that I test so far that actually does i-direction differential. EXCH.f, has the following lines of
      ibl=max(ista-1,1)
      ibu=min(im,iend+1)
that set the i boundaries to 1 and im. If I understand it correctly, at i=1 the left halo carries the same value as i=1. S

[2021-10-21 22:42] GeorgeVandenberghe-NOAA commented on #274
Exch exchanges neighbor columns so thus should just already  work

On Thursday, October 21, 2021, Jesse Meng ***@***.***> wrote:

decomposition. This is the first subroutine that I test so far that
actually does i-direction differential. EXCH.f, has the following lines of

i=1 the left halo carries the same value as i=1. So does at i=im, the right
halo carries the same value as i=im. This works fi

[2021-10-21 22:48] GeorgeVandenberghe-NOAA commented on #274
We need to think about this. Using the im value to replace the 0 value only
works for   global domain and that was also the case for the 1ď
decomposition.
On Thursday, October 21, 2021, Jesse Meng ***@***.***> wrote:

decomposition. This is the first subroutine that I test so far that
actually does i-direction differential. EXCH.f, has the following lines of

i=1 the left halo carries the same val

[2021-10-21 23:07] JesseMeng-NOAA commented on #274
@HuiyaChuang-NOAA @WenMeng-NOAA
Several things with MDL2THANDPV.f that we need to discuss.
1. It looks like the current EXCH.f probably does not cross i=1 and i=im. I am seeking George's help.
2. Line 68: imb2  = im /2
and later on in the 206-216 block it does calculations with 2 points from the opposite location around the i circle. This cannot be done in x decomposition.
3.  Line 757: call polea

[2021-10-22 00:57] GeorgeVandenberghe-NOAA commented on #274
All of this is tractable.  Lets think about approaches.

On Thursday, October 21, 2021, Jesse Meng ***@***.***> wrote:

am seeking George's help.

the opposite location around the i circle. This cannot be done in x
decomposition.

be done in x decomposition.

https://ci4.googleusercontent.com/proxy/1O-M3XlkdNawr7mVU0WPXtnT3xb3KM290oLuKUuz0lALycZzzCI_XtPD3jI0hc0uv2ZL3uMiKG6YR-Gt6FH7cYfwtfh739ztqnEM

[2021-10-22 13:37] JesseMeng-NOAA commented on #274
Confirmed that my 2D decomposition tests, for both numx=1 and numx=12, MDL2THANDPV.f generated potential vorticity field are mostly identical to that from dev branch, except for the 4 lines of i=1,i=im, j=1, j=jm.

[2021-10-22 13:47] GeorgeVandenberghe-NOAA commented on #274
There should be no difference with numx=1 since that morphs to the 1D
decomposition.

We need to think about what to do for boundaries esp. if the domain isn't
global.

On Fri, Oct 22, 2021 at 9:38 AM Jesse Meng ***@***.***> wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cel

[2021-10-22 13:51] JesseMeng-NOAA commented on #274
Yes numx=1 has no difference. Sorry.
numx=12 was different only in the four lines of x=1, x=im, y=1, y=jm.

[2021-10-22 17:55] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA @GeorgeGayno-NOAA Thank you.
 Let me think about a way to deal with vorticity computation at the boundaries.
Let's discuss this at next Tuesday's 2D decomposition tag up

[2021-10-22 18:01] GeorgeGayno-NOAA commented on #274
Do you mean @GeorgeVandenberghe-NOAA? I don't work with the UPP. But somehow I am getting updates for this issue.

[2021-10-22 18:12] HuiyaChuang-NOAA commented on #274
@GeorgeGayno-NOAA yes.  thanks for letting me know I used wrong George.

[2021-10-22 18:12] GeorgeVandenberghe-NOAA commented on #274
How do we do it now for regional grids where the I domain does not span all
longitudes?
Treating a(im) and a(1) as adjacent produces a smooth derivative for a
global domain because they are adjacent.   But this is
not the case for a regional grid.   We deal with regional grids now, so
what do we do?

On Fri, Oct 22, 2021 at 1:55 PM HuiyaChuang-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*

[2021-10-22 18:19] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA @GeorgeVandenberghe-NOAA  in lines 204-216 in MDL2THANDPV.f, what UPP was doing was computing vorticity at J=1 by using centered differencing across the South Pole or J=JM across North Pole.  This used to work when I is not decomposed.  My thought is we will have to switch to backward differencing.  Also, @JesseMeng-NOAA we have more than 1 places where vorticity is computed.  I th

[2021-10-26 17:21] JesseMeng-NOAA commented on #274
One more thing I have mentioned in my comment above but not in the conversation today.
There is also the subroutine POLEAVG.f that computes averages around the entire i circle at j=1 and j=jm.
@GeorgeVandenberghe-NOAA could you please also look into this? Thanks!

[2021-10-27 19:11] #115 closed, assigned to fossell

[2021-10-27 19:13] WenMeng-NOAA commented on #166
Commit a774356: #402 : Created formal fortran namelist for itag.

[2021-10-27 22:33] WenMeng-NOAA commented on #274
@GeorgeVandenberghe-NOAA The itag for gfs is created in post workflow script. You might see new gfs itag format like:
&model_inputs
fileName='nemsfile'
IOFORM='netcdfpara'
grib='grib2'
DateStr='2021-02-16_06:00:00'
MODELNAME='GFS'
fileNameFlux='flxfile'
/
 &NAMPGB
KPO=57,PO=1000.,975.,950.,925.,900.,875.,850.,825.,800.,775.,750.,725.,700.,675.,650.,625.,600.,575.,550.,525.,500.,475.,450.,425.,400.

[2021-10-28 13:33] WenMeng-NOAA commented on #166
Commit 06c5e22 : #408 : Doxygen for BNDLYR.f.

[2021-11-02 15:14] WenMeng-NOAA commented on #401
@junwang-noaa I have been testing UPP for your  request. I propose the inline post output file name conversion would be
{datasetname}F{forecast hour}-{forecast min}-{forecast sec}, like NATLEVF006-00-00. Please let me know your comments. Thanks!

[2021-11-02 16:08] junwang-noaa commented on #401
yes, that's orrect

On Tue, Nov 2, 2021 at 11:14 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-11-03 13:45] JesseMeng-NOAA commented on #274
Done all my shares of 2D DECOMPOSITION subroutines including those I took over from Bo.
Wen's regression test in venus:/u/Wen.Meng/noscrubd/ncep_post/post_regression_test_new
still works and I added numx=1 in itag namelist. numx=1 passes regression test for most of the models except for nmmb RH on just a few sigma levels, not all levels. I will look into this.
1125:462230579:RH:0.47-1 sigma layer:

[2021-11-06 20:01] BoCui-NOAA commented on #274
Thanks Jesse' support and took over many subroutines' 2d decomposition. Now
I am also done with all my tasks. I ran Wen's regression test with numx=1,
the regression test worked  for most of the models except for nmmb RH on
some sigma levels, the similar results as Jesse's.

Bo

On Wed, Nov 3, 2021 at 9:45 AM Jesse Meng ***@***.***> wrote:

--

Bo Cui

IMSG at NOAA/NWS/NCEP/EMC

5830 University Re

[2021-11-10 15:12] HuiyaChuang-NOAA commented on #406
Huiya is working on adding foundation temperature in a branch in her UPP fork.

[2021-11-10 17:47] #375 closed, assigned to nobody

[2021-11-10 17:49] WenMeng-NOAA commented on #166
Commit c939eae : #412 : Move package config to top-level CMakeList.txt for checking out UPP as submodule in ufs-weather-model. The VERSION was updated to 10.0.11.

[2021-11-12 22:18] #342 closed, assigned to XianwuXue-NOAA

[2021-11-16 22:13] HuiyaChuang-NOAA commented on #406
1. Huiya created a branch: Add_tref to her fork.
2. She modified UPP source code to read and output foundation temperature
3. She modified post_avblflds.xml, postcntrl_gfs_flux_f00.xml,  postcntrl_gfs_flux.xml, postcntrl_gfs_f00_two.xml, postcntrl_gfs_two.xml to add foundation  to inline and offline GFS post control files
4. Ran two post runs using model output from Coupling group using updated so

[2021-11-17 15:43] BenjaminTJohnson commented on #365
@WenMeng-NOAA @HuiyaChuang-NOAA @jasonotkin @gthompsnJCSDA     All:  Jason / Curtis Alexander / Geoff Manikin and JCSDA collaborators (me included) have a funded proposal that partly includes the update of UPP to use CRTM v2.4.   We're more than happy to kickstart this process.

[2021-11-17 16:49] #344 closed, assigned to hertneky

[2021-11-17 16:51] WenMeng-NOAA commented on #166
Commit d903e3e : #410 : Grib1 cleanup and sigio read interface removal.

[2021-11-17 23:00] WenMeng-NOAA commented on #406
@LydiaStefanova-NOAA and @HuiyaChuang-NOAA The grib2 table 4.2-3-5 is for satellite remote sensing products. The foundation temperature output from FV3 is that category?

[2021-11-18 16:30] fossell commented on #145
This issue is complete.

[2021-11-18 16:30] #145 closed, assigned to fossell, WenMeng-NOAA, HuiyaChuang-NOAA

[2021-11-18 18:25] HuiyaChuang-NOAA commented on #406
@WenMeng-NOAA it appeared that the Grib2 template table params_grib2_tbl_new already used this table to define foundation temperature before I added this variable to UPP so it should be ok

[2021-11-18 18:46] hertneky opened #415 "Update documentation related to recent PRs"
Need to update documentation to reflect recent changes in develop related to:

1. Cleaning up some lingering Grib1 code (#410). Changes will specifically be needed for the document on adding a new variable to UPP.
2. Changes to use fortran namelist (#402) - some minor rewording in the itag namelist description.

[2021-11-18 19:52] WenMeng-NOAA commented on #406
@HuiyaChuang-NOAA I mean if the users will think this is a satellite remote sensing product since FDNSSTMP is in from the grib2 table for satellite remote sensing category. If you and @LydiaStefanova-NOAA think it is good, I and okay for that.

[2021-11-18 21:33] HuiyaChuang-NOAA commented on #406
Fine with me.  I think Lydia should be fine too since she's the one pointing out the Grib2 ID for foundation temperature.
Thank you for running UPP regression tests for me and committing the changes.

[2021-11-18 23:26] climbfuji opened #416 "Linker errors against UPP library with Intel on macOS"
This issue relates to https://github.com/ufs-community/ufs-weather-model/issues/925 - when using Intel on macOS, the common symbols are not automatically linked into the library, which leads to linker errors for the ufs-weather-model.

The solution is to add `-c` to the linker command when Intel is used on macOS, as proposed by @kgerheiser here: https://github.com/ufs-community/ufs-weather-model/i

[2021-11-19 00:50] kgerheiser commented on #416
Hmm, I already added it a few months ago:

https://github.com/NOAA-EMC/UPP/blob/d903e3ecced8e3e6d78e3089b3371733348153fd/CMakeLists.txt#L43

I believe the issue is  the presence of C code, but we use `CMAKE_Fortran_ARCHIVE_FINISH`, which causes it to not be called. It should be `CMAKE_C_ARCHIVE_FINISH` (or both).

Edit: the lone `.c` file isn't even compiled, so I'm not sure what's going on.

[2021-11-19 02:06] LydiaStefanova-NOAA commented on #406
Thank you, @HuiyaChuang-NOAA and @WenMeng-NOAA Yes, I am also fine with the definition being from that category.

@HuiyaChuang-NOAA, could you please clarify about this part:

For the plot of the post-processed foundation temperature that you had sent I had confirmed that it was very similar to the one plotted from surface netcdf output, **except** that it had some spurious vertical (oriented N to

[2021-11-19 13:32] GeorgeVandenberghe-NOAA commented on #274
So.ooo
How do we want to handle that IMx2 structure that is needed for full polar I domains.   Should we change the exch binding or just document something extra that is available in anything
that uses CTLBLK_MOD.f after exch is called, or generate an exch_pole routine that fills this structure when called with the subdomain field, similar to what exch does with the boundaries except what's return

[2021-11-19 13:48] HuiyaChuang-NOAA commented on #406
@LydiaStefanova-NOAA I used snipping software to save the plot and I think that's the artifacts.
I am going to dentist and then have 4 meetings but will make another plot this afternoon.

[2021-11-19 16:00] BinLiu-NOAA opened #417 "Add HAFS nosat post control file"
We would like to add the HAFS nosat post control files (postxconfig-NT-hafs_nosat.txt and postcntrl_hafs_nosat.xml) back to UPP develop branch. After that HAFS application can point to UPP develop branch directly.

Associated PR:
- NOAA-EMC/UPP/pull/418

[2021-11-19 16:10] GeorgeVandenberghe-NOAA commented on #274
I have run into a snag with the boundary halos.   The subdomains are dimensioned with the lowest I to be the greater of ista-2, or 1.  The 1 is causing issues for I=1, no place to put the cyclic IM value to the left.  An analagous situation occurs for I=im.

Pondering how to cleanly fix this.

[2021-11-22 16:40] #417 closed, assigned to nobody

[2021-11-22 16:41] WenMeng-NOAA commented on #166
Commit 0d0c721 : #418 : Add HAFS related nosat post control files.

[2021-11-23 21:45] HuiyaChuang-NOAA commented on #405
Investigation by post team indicated UPP identified a grid point is land when sea ice is larger than 0.1.  This works
when sea ice is binary.  However, recent change for the coupling team to use fractional ice rendered this logic invalid.
Wen updated UPP to use "0" as sea ice threshold instead of ".1" and this fixed the issue (see attached plot).

![GFS_landmask](https://user-images.githubusercont

[2021-11-23 21:46] HuiyaChuang-NOAA commented on #406
@LydiaStefanova-NOAA please see attached new plot, generated by saving plot to a png file.
![GFS_FDNSSTMPsfc_2014101500F12](https://user-images.githubusercontent.com/56728916/143134148-fd4be9c1-c3fa-4f7e-a6e2-ac4c31108028.PNG)

[2021-11-23 21:59] HuiyaChuang-NOAA commented on #274
Summary from 11/23/2021 2D decomposition meeting today:

- The team discussed whether to decompose INITPOST for nemsio and wrfio and **decided not to.**  These are legacy IO to be phased out in the near future.  Additionally, the re-engineered version reproduces these two options for numx=1
- Jesse will update WRFPOST to set numx=1 for nemsio and wrfio, and print out a warning message that these t

[2021-11-23 22:00] LydiaStefanova-NOAA commented on #406
Thank you, @HuiyaChuang-NOAA - looks perfect! Shall I close this issue now?

[2021-11-24 00:40] WenMeng-NOAA commented on #406
@LydiaStefanova-NOAA You don't need to close this issue. Huiya will submit a PR to develop branch. After merging is done, I will close it. Thanks!

[2021-11-24 00:53] LydiaStefanova-NOAA commented on #406
@WenMeng-NOAA - thanks for explaining to me how it works!

[2021-12-02 20:27] #405 closed, assigned to HuiyaChuang-NOAA

[2021-12-02 20:27] #406 closed, assigned to HuiyaChuang-NOAA

[2021-12-02 20:28] WenMeng-NOAA commented on #166
Commit e59b906 : #419 : Output foundation temperature from UPP; fix global FV3 land-sea mask issue.

[2021-12-07 16:20] BoCui-NOAA commented on #274
@JesseMeng-NOAA  Please check the following two routines and lines and see if (i,j,jj) would be replaced by (i,ii,j,jj).

 MISCLN.f:4177:! $omp parallel do private(i,j,jj)

SURFCE.f:463:!$omp parallel do private(i,j,jj)
SURFCE.f:913:!$omp parallel do private(i,j,jj)
SURFCE.f:1738:!$omp parallel do private(i,j,jj)
SURFCE.f:1966:!$omp parallel do private(i,j,jj)
SURFCE.f:2334:!$omp parallel do priva

[2021-12-07 16:49] JesseMeng-NOAA commented on #274
Yes all should be  (i,ii,j,jj). Thanks for double checking. I will update those.

[2021-12-09 13:12] #404 closed, assigned to nobody

[2021-12-09 13:13] WenMeng-NOAA commented on #166
Commit 0dc3c0c : #413 : NOAA GSL UPP updates.

[2021-12-09 17:36] WenMeng-NOAA commented on #165
Merge PR #420 at 52af7f9 for porting UPP for GFS V16 on wcoss2.

[2021-12-15 15:51] WenMeng-NOAA commented on #363
The tag upp_v8.1.0 was created for GFS V16 implementation on WCOSS2.

[2021-12-21 16:52] WenMeng-NOAA opened #421 "Sync the changes from UPP for GFSV16"
Update the branch develop with the changes from UPP version for GFSV16:

- Remove mange_externals for checking gtg code
- Check out gtg code as submodule
- Update GFS post workflow scripts with changes from GFSV16

[2021-12-27 16:57] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA @BoCui-NOAA @GeorgeVandenberghe-NOAA @WenMeng-NOAA @fossell
Summary from 12/21/2021 2D decomposition tag-up:
1. Jesse reported the team is done with 2D decomposition work, thanks to George's recent work to update EXCH to carry our derivatives across the poles.
2. Jesse updated UPP so only GFS runs with 2D decomposition.
3. Wen is planning to unify initialization for GFS and RRFS wh

[2021-12-28 14:43] #421 closed, assigned to WenMeng-NOAA

[2021-12-28 14:51] WenMeng-NOAA commented on #166
Commit 7e9b6eb : #423 : Doxygen CALDWP.f.

[2021-12-28 14:52] WenMeng-NOAA commented on #166
Commit 9e1a0f : #424 : Doxygen CALDRG.f.

[2021-12-28 14:53] WenMeng-NOAA commented on #166
Commit f46b609 : #422 : Sync changes from UPP for GFSV16.

[2021-12-28 17:36] JeffBeck-NOAA opened #425 "Submodule pointer for post_gtg.fd and/or UPP_GTG repo doesn't exist when cloning the develop branch of UPP"
When cloning the UPP develop branch with manage_externals through the SRW App, the pointer for post_gtg.fd and/or the UPP_GTG repo is not found.

Error from manage_externals:

ERROR:root:Failed with output:
    Submodule 'sorc/post_gtg.fd' (https://github.com/NCAR/UPP_GTG) registered for path 'sorc/post_gtg.fd'
    remote: Repository not found.
    fatal: repository 'https://github.com/NCAR/UPP_GT

[2021-12-28 17:45] fossell commented on #425
GTG repo was changed from a manage_externals to a submodule recently for GFSv16, it looks like this was just merged into develop but I have not been able to test.  GTG repo is a private protected repo of source code.  I don't think we want UFS to clone it as it's meant just for operational implementation.  @JeffBeck-NOAA - just to confirm, you're not really try to access the GTG code, right? It's

[2021-12-28 17:51] JeffBeck-NOAA commented on #425
@fossell, yep, I'm just trying to clone the UPP develop branch, not trying to access the GTG code, so it's failing when trying to access the submodule (the SRW App does a recursive clone).

[2021-12-28 17:54] fossell commented on #425
@JeffBeck-NOAA - thanks for confirming. It looks like there will be an access issue. Is it possible to modify the clone for UPP repo to not be recursive as a short term fix while we assess the best path forward?

[2021-12-28 17:56] JeffBeck-NOAA commented on #425
@fossell, actually, we're not using the HEAD of the UPP develop branch in the SRW App just yet.  We're still on an older hash that works, but I was just testing things out on all the develop branches briefly.  So, we should be OK for now!

[2021-12-28 18:00] fossell commented on #425
@JeffBeck-NOAA - sounds good, thanks for bringing this to our attention! We'll work on finding a solution.

[2021-12-28 18:05] fossell commented on #425
@WenMeng-NOAA - we'll need to address this submodule issue as it may cause issues for other users too. I think the quickest things we can recommend is just to have users clone without using recurse-submodules.  For future more permanent and sustainable fix, I'd like to revisit the potential of using cmake options to control which external repos are cloned. Both Sam and Rahul mentioned and recommen

[2021-12-28 18:35] WenMeng-NOAA commented on #425
@fossell Thanks for suggestions on this issue.  I agree with you. Right now post_gtg.fd is only submodule in UPP. The solution would be non-recursively cloning for UPP code checking out.

[2021-12-28 18:49] fossell commented on #425
@WenMeng-NOAA - we had removed any submodule references from procedures in our user documentation a couple weeks ago so we should be ok from that angle.  I can reach out to Sam and/or Rahul after the holidays and see what it might take to get that underway. We might also be able to ask Mike on our DTC UPP team as he might have experience with the cmake options as well.

[2021-12-28 19:07] WenMeng-NOAA commented on #425
@fossell An announcement for checking out general UPP code was just sent out.  I also updated the wiki [GTG Access](https://github.com/NOAA-EMC/UPP/wiki/GTG-Access). Please let me know if DTC have more solutions/suggestions. Thanks!

[2021-12-28 20:22] JeffBeck-NOAA commented on #425
@fossell, @WenMeng-NOAA, just a quick update on this issue in another location: I have a series of PRs open in ufs-weather-model and their related submodules to add SPP to FV3.  When I issue a "git submodule --init --update --recursive" to update the pointers of the submodules in the ufs-weather-model PR, I also get the error about https://github.com/NCAR/UPP_GTG not being found.  In order to avoi

[2021-12-28 20:33] WenMeng-NOAA commented on #425
@JeffBeck-NOAA Could you provide me your UFS PR location? We will work with UFS team for adding the issue since UPP is a submodule of FV3 and GTG is a submodule of UPP. Thanks!

[2021-12-28 20:35] JeffBeck-NOAA commented on #425
@WenMeng-NOAA, sure!  My ufs-weather-model PR is [here](https://github.com/ufs-community/ufs-weather-model/pull/982).

[2022-01-04 21:27] JesseMeng-NOAA commented on #274
Tested George's fix for EXCH.f and identical results were reproduced. Code pushed to github.
A developer's guide for testing UPP GFS 2D Decomposition has been drafted,
https://docs.google.com/document/d/1jvky8T3S7uo7z_Y_hHDj9Ak0DgmkPI75Q8RcqAazeno

[2022-01-05 16:12] HuiyaChuang-NOAA commented on #274
Summary from 1/4/2022 decomposition meeting:
. DTC will run their version of EMC's version's UPP regression tests on 2D decomposition branch and report their findings at next tag-up
. George will do a quick clean-up and hand off his code to Jesse to commit (done)
. Jesse will work on a quick user guide on running UPP with 2D decomposition (done)
. Wen will work on syncing 2D decomposition branch t

[2022-01-05 16:28] WenMeng-NOAA commented on #425
Thanks @DomHeinzeller for providing the solution of skipping gtg code checkout.  I submitted his fix in PR #427.
@JeffBeck-NOAA Could you test if it works at your end. Thanks!

[2022-01-05 16:51] JeffBeck-NOAA commented on #425
@WenMeng-NOAA, unfortunately, I still get an error:

Checking status of externals: upp,
Checking out externals: upp, ERROR:root:Command '['git', 'submodule', 'update', '--init', '--recursive']' returned non-zero exit status 1.
ERROR:root:Failed with output:
    Submodule 'sorc/post_gtg.fd' (https://github.com/NCAR/UPP_GTG) registered for path 'sorc/post_gtg.fd'

[2022-01-05 16:57] WenMeng-NOAA commented on #425
@JeffBeck-NOAA Did you test in your ufs-weather-model clone or UPP clone?
If it is from ufs side, you might test with Dom's branch
https://github.com/climbfuji/ufs-weather-model/tree/recurse_upp_test

[2022-01-05 17:01] JeffBeck-NOAA commented on #425
Sorry, @WenMeng-NOAA, my mistake.  It is working now!

[2022-01-05 17:07] WenMeng-NOAA commented on #425
@JeffBeck-NOAA Great. Thanks for testing.

[2022-01-05 19:28] #425 closed, assigned to nobody

[2022-01-05 19:31] WenMeng-NOAA commented on #166
Commit 98f7acd : #427 : Disable recursive checkout on gtg code.

[2022-01-07 14:24] WenMeng-NOAA opened #429 "New gtg code compiling option needed"
The gtg code is stored at a NCAR private github repository. Only granted users can check out gtg code as a submodule of UPP at sorc/ post_gtg.fd. UPP needs an option for compiling gtg code from sorc/post_gtg.fd instead of overwriting the stub gtg code at sorc/ncep_post.fd via cmake.

[2022-01-07 14:29] WenMeng-NOAA commented on #429
@junwang-noaa @DusanJovic-NOAA @climbfuji @aerorahul UPP needs help on this new build feature. Would you please let me know your suggestions. Thanks!

[2022-01-07 14:36] kgerheiser commented on #429
Sounds like you want [ExternalProject_Add](https://cmake.org/cmake/help/latest/module/ExternalProject.html) to pass build commands to gtg. How does gtg build (CMake, Makefile, etc)?

[2022-01-07 14:53] WenMeng-NOAA commented on #429
@kgerheiser gtg code along with other UPP code are compiled via CMake. We currently overwrite the stub gtg code (with suffix .F90, e.g. gtg_algo.F90 ) under sorc/ncep_post.fd with real gtg code from sorc/post_gtg.fd.

[2022-01-07 14:54] aerorahul commented on #429
@WenMeng-NOAA
You would build the GTG code in `sorc/post_gtg.fd` with CMake into a library.
You would build the GTG stub code in `sorc/ncep_post.fd` with CMake into a library.

When one or the other is available, use the appropriate one to create the UPP library.

[2022-01-07 15:12] DusanJovic-NOAA commented on #429
Another alternative. Since g2g is optional functionality, introduce a build option that enables g2g (optionally ON, OFF by default), then in `sorc/ncep_post.fd/CMakeLists.txt` use that option to add actual g2g modules to the library, and in the source code where g2g code is used add something like `#ifdef G2G_ENABLED` to conditionally use g2g module and call 2g2 subroutines. This will eliminate th

[2022-01-07 15:19] WenMeng-NOAA commented on #429
@aerorahul @kgerheiser @DusanJovic-NOAA  The gtg code building might have dependency on other general UPP routines. I invite @YaliMao-NOAA in the discussion. She could provide details. We don't have more CMake knowledge. Could we get further guidance? I have an UPP checkout including gtg at /u/Wen.Meng/noscrubd6/ncep_post/develop/UPP/ on Venus. You might use it for testing. Thanks!

[2022-01-07 16:07] YaliMao-NOAA commented on #429
@WenMeng-NOAA You are right, GTG calls some subroutines of the general UPP. It's part of UPP code, not a standalone package.

[2022-01-07 16:36] aerorahul commented on #429
This [branch](https://github.com/NOAA-EMC/UPP/tree/feature/add_gtg_compile_option) is basically it.
I tried to build the UPP library on wcoss2 with the current `develop`, but ran into errors in the GTG code.
[code]

[2022-01-07 16:50] kgerheiser commented on #429
Looks good @aerorahul.

 I would also incorporate optionally find/linking to ip based on that option. See https://github.com/NOAA-EMC/UPP/issues/370

[2022-01-07 17:00] aerorahul commented on #429
@kgerheiser done in 85138f06

[2022-01-07 17:25] YaliMao-NOAA commented on #429
defuvp is defined in map_routines.F90, which is part of GTG code.

[2022-01-07 17:35] WenMeng-NOAA commented on #429
Thanks for all your help! I tested PR #430 on Dell. The executable was successfully built.

[2022-01-10 16:23] #370 closed, assigned to nobody

[2022-01-10 16:23] #429 closed, assigned to nobody

[2022-01-10 16:25] WenMeng-NOAA commented on #166
Commit 803830 : #430 : Add option to build with GTG code or stubs.

[2022-01-11 14:05] WenMeng-NOAA commented on #416
@climbfuji and @kgerheiser With UPP being a submodule of FV3, does this linker issue still exist on macOS? If yes, do you have any solutions? Thanks!

[2022-01-11 14:21] WenMeng-NOAA opened #431 "Add an option of compiling gtg code in UPP build script"
Add an option of compiling gtg code in UPP build script.

[2022-01-11 17:15] WenMeng-NOAA opened #432 "Update branch release/gfs_v16 on WCOSS2 with NCO's feedback"
Update branch release/gfs_v16 on WCOSS2 with NCO's feedback.

[2022-01-11 20:34] WenMeng-NOAA commented on #165
Merge PR #433 at 814077d for feedback from NCO.

[2022-01-12 18:41] WenMeng-NOAA commented on #165
Merge PR #434 at 45feeb03 for further modification on j-job script. The tag upp_v8.1.0 was created.

[2022-01-13 19:16] #431 closed, assigned to WenMeng-NOAA

[2022-01-13 19:17] WenMeng-NOAA commented on #166
Commit 89357d0: #435: Add options in build script.

[2022-01-14 15:58] WenMeng-NOAA opened #436 "Remove legacy read interfaces"
Remove legacy read interfaces:

- INITPOST_GFS_NEMS
- INITPOST_NEMS_MPIIO
- INITPOST_NMM

[2022-01-14 16:54] WenMeng-NOAA commented on #436
To remove INITPOST_GFS_NEMS, the changes are made in sorc/ncep_post.fd/WRFPOST.f as:
[code]
When the line "INITPOST_GFS_NEMS.f" is removed from sorc/ncep_post.fd/CMakeLists.txt, there are executable build errors via cmake build:
[code]

[2022-01-14 17:02] WenMeng-NOAA commented on #436
@kgerheiser @aerorahul @DusanJovic-NOAA  @fossell @HuiyaChuang-NOAA Do you have any suggestions on fixing linking failure above? With the line "INITPOST_GFS_NEMS.f" kept in sorc/ncep_post.fd/CMakeLists.txt, the building was successful.

[2022-01-14 17:09] aerorahul commented on #436
looks like a missing link to w3emc/w3nco.

[2022-01-14 17:10] aerorahul commented on #436
Do you have a branch @WenMeng-NOAA ?

[2022-01-14 17:11] kgerheiser commented on #436
Yes, Nemsio calls `getgbm` which is contained in `w3nco` (or the new version of w3emc which combined w3nco). It should be handled automatically by nemsio's package config.

[2022-01-14 17:16] kgerheiser commented on #436
There's a bug in Nemsio's build where w3nco/w3emc are searched for (even in the package config), but never linked to. https://github.com/NOAA-EMC/NCEPLIBS-nemsio/blob/develop/src/CMakeLists.txt. So, the transitive link isn't there.

[2022-01-14 17:17] hertneky commented on #436
@WenMeng-NOAA I also saw this issue when doing grib1 cleanup - If I removed both ""INITPOST_GFS_NEMS.f"" and "INITPOST_NEMS.f", I did not have this error.

Edit: Ah oops, you're not removing both, Just the "INITPOST_GFS_NEMS.f"

[2022-01-14 17:31] WenMeng-NOAA commented on #436
@hertneky Thanks for the comments. Right now, INITPOST_NEMS.f is still used in NAM  post processing.

[2022-01-14 17:34] WenMeng-NOAA commented on #436
@kgerheiser Would you recommend UPP code CMakeLists.txt keep "INITPOST_GFS_NEMS.f" until new nemsio lib is available?

[2022-01-14 17:36] WenMeng-NOAA commented on #436
@aerorahul The changes are not committed yet. You might access my working version at /u/Wen.Meng/noscrubd6/ncep_post/post_clean_read/UPP/ on Venus.

[2022-01-14 17:38] aerorahul commented on #436
@WenMeng-NOAA Can you please commit them on a feature branch for us to see what your changes are on github.

[2022-01-14 17:47] kgerheiser commented on #436
@WenMeng-NOAA this should be fixable, since UPP already finds/links to w3nco. It's probably just a library ordering issue.

[2022-01-14 17:53] kgerheiser commented on #436
I think the error will go away if you swap nemsio/w3nco here:

 https://github.com/NOAA-EMC/UPP/blob/89357d0f1f3af0d8dd87ff292e290cd30d47d884/sorc/ncep_post.fd/CMakeLists.txt#L225-L231

[2022-01-14 17:58] WenMeng-NOAA commented on #436
@kgerheiser your solution is working. Thanks!

[2022-01-16 00:41] WenMeng-NOAA commented on #436
@fossell The UPP building is via CMAKE. I plan to remove GNU makefile files under sorc/ncep_post.fd. Please let me if DTC wants to retain specific files.

[2022-01-16 15:38] fossell commented on #436
@WenMeng-NOAA - DTC does not use GNU makefiles any more, we have completely migrated to cmake. You can remove them. Thanks!

[2022-01-16 15:45] WenMeng-NOAA commented on #436
@fossell Thanks for clarifying.

[2022-01-18 18:04] HuiyaChuang-NOAA commented on #274
Summary from 1/18 2D decomposition tag-up

1. George cleaned up EXCH and MPI_FIRST subroutines and will send them to Bo and Jesse to run UPP regression tests with.
2. Bo and Jesse will run the above-mentioned tests and record timing and will send their findings to the group.
3. DTC tested 2D decomposition branch in their own regression tests and received bit identical results.  However, since they

[2022-01-19 16:51] #436 closed, assigned to WenMeng-NOAA

[2022-01-19 16:52] WenMeng-NOAA commented on #166
Commit 117d513 : #437: Clean up legacy read interfaces.

[2022-01-25 18:30] WenMeng-NOAA commented on #364
The UPP regression tests were ported on WCOSS2 Dogwood at /u/Wen.Meng/noscrub/ncep_post/post_regression_test_new.

[2022-02-02 18:15] #364 closed, assigned to WenMeng-NOAA

[2022-02-02 18:17] WenMeng-NOAA commented on #166
Commit 3cf3a37 : #439: Port the UPP develop branch on WCOSS2.

[2022-02-07 18:24] #432 closed, assigned to nobody

[2022-02-07 18:26] WenMeng-NOAA opened #440 "Update regional FV3 read interface with parallel netcdf read"
Update regional FV3 read interface with parallel netcdf read.

[2022-02-08 16:12] WenMeng-NOAA opened #442 "Update GFSV16 branch with hpc-stack on Hera and Orion"
Update the UPP for GFSV16 branch release/gfs_v16 on Hera/Orion:

- Use hpc-stack
- Use LUA format for modulefile

[2022-02-08 16:47] WenMeng-NOAA commented on #442
Related issue from global-workflow: [#639](https://github.com/NOAA-EMC/global-workflow/issues/639)

[2022-02-09 13:51] lgannoaa opened #443 "gdaspostanl and gfspostanl should report failure if files do not show up before job ends"
If the loop waiting for output files to show up exhausts all iterations before files are available, the job should register as failed, not succeeded. This issue can be referenced from global-workflow issue 520:
https://github.com/NOAA-EMC/global-workflow/issues/520

[2022-02-09 14:08] WenMeng-NOAA commented on #443
@lgannoaa Could you submit a PR for fixing?

[2022-02-09 16:54] lgannoaa commented on #443
PR 444 created for fix this issue.

[2022-02-10 15:41] #443 closed, assigned to nobody

[2022-02-10 15:43] WenMeng-NOAA commented on #166
Commit 4a16052 : #443: Add exception handling for missing anl input.

[2022-02-11 13:48] #440 closed, assigned to WenMeng-NOAA

[2022-02-11 13:50] WenMeng-NOAA commented on #166
Commit 45e8fdc : #441: Update regional FV3 read interface with parallel netcdf read.

[2022-02-11 16:34] WenMeng-NOAA commented on #166
Commit 583f76b : #445 : Update documentation to reflect the changes in adding new variable procedure and itag format.

[2022-02-20 15:05] chan-hoo opened #447 "The executable directory needs to be switchable to exec"
The current directory for the executable 'upp.x' is 'bin'. However, we need an option for 'exec' to meet the NCO standards.

[2022-02-21 00:30] WenMeng-NOAA commented on #447
@chan-hoo Are you building the upp executable "upp.x" on WCOSS1/WCOSS2 for NCEP implementation development?

[2022-02-21 11:39] chan-hoo commented on #447
@WenMeng-NOAA, I am updating the UFS SRW App to meet the NCO standards. UPP is one of the external components. Since the external components are built within the integrated cmake system in the UFS SRW App, the directory where upp.x is created should be named to 'exec' from UPP. I've submitted a PR for this (https://github.com/NOAA-EMC/UPP/pull/448). Is there any other way for this?

[2022-02-21 16:26] kgerheiser commented on #447
~~How about doing it like UFS_UTILS?~~

~~https://github.com/ufs-community/UFS_UTILS/blob/570ea3966c125ead7e90b4342be2efc22a8b1f41/CMakeLists.txt#L77-L80~~

Edit: Saw your PR, and that looks good.

[2022-02-21 22:30] WenMeng-NOAA commented on #447
@chan-hoo We have build script under tests/compile_upp.sh which generates executable upp.x under exec/ on WCOSS1/WCOSS2, Hera, Orion, Jet, s4. Do you think UFS SRW app could use it?

[2022-02-21 22:34] WenMeng-NOAA commented on #447
@chan-hoo The build script tests/compile_upp.sh is currently used by GFS, HAFS, 3DRTMA implementation development.  Your PR #448 might have impact on them.

[2022-02-22 11:29] chan-hoo commented on #447
@WenMeng-NOAA, My PR #448 should not affect the build script (compile_upp.sh) at all. You don't have to worry about it. The new optional argument `-DEMC_EXEC_DIR=ON` is necessary only when a user wants to create upp.x in the `exec` directory directly. For the `bin` directory, the build commands are the same as before. Apart from the others you listed, UFS SRW App does not use the component's own b

[2022-02-22 13:46] WenMeng-NOAA commented on #447
@chan-hoo Got it. Thanks for clarification.

[2022-02-23 17:27] #447 closed, assigned to nobody

[2022-02-23 17:29] WenMeng-NOAA commented on #166
Commit 30fcea8: #448: Make executable directory names switchable between bin and exec for SRW app.

[2022-02-24 17:17] HuiyaChuang-NOAA commented on #274
Summary from 2/15 2D decomposition meeting:

1. Jesse and Bo have been updating UPP inline interfaces to do 2D decomposition.  They encountered issues running inline post using 2D decomposition branch with Y decomposition only.  They're getting Jun's help to debug.
2. George was working on wcoss2 issues.

[2022-02-24 20:11] JesseMeng-NOAA commented on #274
The interface between UPP/post_2d_decomp and ufs-weather-model/FV3 inline post has been developed for both gfs and regional models.

To test this functionality,
First build the regression test bases with the ufs-weather-model/develop branch by running ufs-weather-model/tests/rt.sh with only the two controls defined in rt.conf
control
regional_control

Then run the UPP/post_2d_decomp regression tes

[2022-02-26 00:40] mkavulich opened #449 "No Cheyenne modulefile for compile_upp.sh"
There is no modulefile for using the compile_upp.sh script on Cheyenne.

I am working on a PR to add this, but I do not have permissions to assign myself.

[2022-02-26 17:55] WenMeng-NOAA commented on #449
@mkavulich Thanks for working on this.

[2022-03-01 14:58] GeorgeVandenberghe-NOAA commented on #274
I started the documentation after breaking from continuing WCOSS
crises.  Below is a very high level schematic.   Information on the actual
variables changed will follow later.

!   The 1D decomposition can read state from a model forecast  file, either
by reading on rank 0
!   and scattering,  or by doing MPI_IO on the model history file using
either nemsio, sigio,
!    or netcdf serial or parall

[2022-03-01 19:15] WenMeng-NOAA opened #450 "Unify read interfaces for FV3 global and regional models in UPP code"
In UPP code, FV3 global model (GFS) uses read interface INITPOST_GFS_NETCDF_PARA and FV3 regional models (RRFS/HAFS) use read interface INITPOST_NETCDF. With unified diag table (proposed by Huiya) implemented at UFS, it is time to unify read interface for FV3 based models.

[2022-03-07 15:28] WenMeng-NOAA commented on #166
Commit 7a5ae3c: #451: Doxygen for CALGUST.f.

[2022-03-07 19:33] WenMeng-NOAA commented on #322
@GeorgeVandenberghe-NOAA Both UPP develop branch and release/gfs_v16 branch are working on WCOSS2. Would this issue be closed?

[2022-03-07 19:35] #333 closed, assigned to nobody

[2022-03-07 19:40] #363 closed, assigned to WenMeng-NOAA

[2022-03-07 19:50] GeorgeVandenberghe-NOAA commented on #322
Yes.  Either you or I can close it.

On Mon, Mar 7, 2022 at 2:34 PM WenMeng-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2022-03-07 22:25] fossell commented on #392
@WenMeng-NOAA - @kayeekayee is going to be ramping up work on these doxygen updates which means a handful of PRs coming through. We'd like to have @edwardhartnett review them, or at least an initial batch, to provide comments and suggestions before merging. Ka Yee had issues assigning Ed as a reviewer, but I'll work with her to resolve that problem. As future PRs for this come in we'll wait for Ed

[2022-03-07 22:52] WenMeng-NOAA commented on #322
Thanks for clarifying.

[2022-03-07 22:52] #322 closed, assigned to nobody

[2022-03-11 19:10] HuiyaChuang-NOAA commented on #274
Thank you, George.  This high level documentation looks good.  Looking forward to your documentation on variables you added/updated and their descriptions

[2022-03-14 14:29] WenMeng-NOAA commented on #165
Merge Pr #446 at 4be44aa for supporting GFS V16.2.0 on Hera/Orion. The tag upp_v8.1.1 was created.

[2022-03-14 19:27] GeorgeVandenberghe-NOAA commented on #274
Additional post documentation.  This is NOT in any routines but is a
separate little document (so far)

!   the following is found in CTLBLK.f and shared in the rest of UPP
through use of CTLBLK.mod

!  im. integer   full longitude domain
!  jm integer  full latitude domain
!
!  jsta integer   start latitude on a task subdomain
!  jend integer   end  latitude on a task subdomain
!  ista integer

[2022-03-15 01:59] fossell commented on #274
@GeorgeVandenberghe-NOAA - Is this second piece of documentation you posted going to go into the same overview document as the previous schematic text you provided? I'm mocking up some pages to be included in the formal documentation, so just wanted to check.

[2022-03-15 11:28] GeorgeVandenberghe-NOAA commented on #274
Yes. Its in the overview document. Not an individual routine docblock.

On Monday, March 14, 2022, Kate Fossell ***@***.***> wrote:

posted going to go into the same overview document as the previous
schematic text you provided? I'm mocking up some pages to be included in
the formal documentation, so just wanted to check.

https://ci6.googleusercontent.com/proxy/MLW8Tp1MYLv0BSeztVweDxOnQG5R2Z928xx

[2022-03-15 18:45] fossell opened #456 "Runtime error with GNU compiler running SRW App"
UPP fails during runtime when built with GNU compilers.  First reported by @mark-a-potts when testing on the cloud, error reproduced on Cheyenne by @hertneky.

[2022-03-15 22:12] HuiyaChuang-NOAA commented on #274
Summary from 3/15/2022 2D decomposition meeting:

1. Bo ran some more tests with 2D decomposition branch with extreme case scenario such as no y decomposition and post failed.  Jesse added condition to reset numx to 1 if numx>num_proc/2
2. Jesse fixed issues Bo discover.  He also opened an issue and submitted a PR on UFS Github.  He's waiting for Jun to let him know what's next.
3. Wen said Jun wi

[2022-03-15 22:31] WenMeng-NOAA commented on #274
@HuiyaChuang-NOAA Since Jesse's UFS PR is available on UFS repository, you might invite model developers from GFS, RRFS, and HAFS to test this upp 2d decomposition capability. @junwang-noaa may chime in.

[2022-03-17 18:37] WenMeng-NOAA commented on #166
Commit dbe96ec: #455: Enhancement of Doxygen in CALDRG.f, CALDWP.f and CALGUST.f.

[2022-03-18 00:02] WenMeng-NOAA commented on #274
The UPP standalone regression tests failed at RRFS and HAFS due to syncing PR #441. The regional FV3 read interface INITPOST_NETCDF.f wasn't updated with 2D decomposition. The workaround is turning off RRFS and HAFS in your UPP RT tests. I would fix the issue after PR #453 committed (Unify regional and global FV3 read interfaces).

[2022-03-18 18:15] BenjaminBlake-NOAA opened #457 "UPHL fix required for running with 3-km RRFS North American grid"
In order to run the UPP (standalone or inline) on the 3-km RRFS North American grid, a fix is required to the code that calculates updraft helicity (CALUPDHEL.f).  The issue is related to restricting undefined grids involved in the updraft helicity computation.

[2022-03-18 19:53] aerorahul opened #461 "Replace `w3nco` with `w3emc`."
## Description
`w3nco` has been merged with `w3emc` and the latter is preferred going forward.
`w3emc/2.9.1+` contains identical code as `w3nco` with the exception of `gblevents`.
This project does not depend on `gblevents`.

## Solution
Replace dependency of `w3nco` with `w3emc` in the modulefile as well as in the build system.

## Alternatives
None.

[2022-03-18 20:03] #457 closed, assigned to WenMeng-NOAA

[2022-03-18 20:05] WenMeng-NOAA commented on #166
Commit 0185bb9 : #458: the fix in CALUPDHEL.f. The new tag upp_v10.0.12 was created for upp submodule update at fv3atm repository.

[2022-03-22 23:36] WenMeng-NOAA commented on #450
Per @yangfanglin 's recommendation, UPP output column PWAT read from FV3 based models instead of calculated in UPP.
The changes in PWAT is not outstanding.
---------------------------
RRFS:
PRSLEV06.tm00.diff: 896:1242380352:PWAT:entire atmosphere (considered as a single layer):rpn_corr=0.991155:rpn_rms=2.00101

HAFS:
HURPRS09.tm00.diff: 657:2537029294:PWAT:entire atmosphere (considered as a singl

[2022-03-23 15:24] HuiyaChuang-NOAA commented on #450
@WenMeng-NOAA @yangfanglin Good to know model computed PWAT and UPP computed PWAT are similar.

[2022-03-23 17:29] #415 closed, assigned to hertneky

[2022-03-24 14:52] AliciaBentley-NOAA opened #462 "Output "wgne" files from GFS (instead of verf_precip)"
The operational version of verf_precip currently creates 3-hourly GFS accumulated precipitation forecast files and sends them to NOMADS as part of the WGNE agreement between international centers. The WGNE files look like this: **wgnegfs_YYYYMMDDHH_starttime_endtime.grb2**, where starttime is always 000 (initialization) and endtime is the length of the forecast in 3 digits (003 through 180). Here

[2022-03-25 05:00] hertneky commented on #456
The runtime error with GNU was replicated on Cheyenne using the develop branch. This error was not encountered with the last community release v9.01 with the GNU compiler.

Running through DDT on Cheyenne uncovered an issue with an array out-of-bounds for the variable SLLEVEL which is allocated with NSOIL (dependent on LSM). In INITPOST_NETCDF.f SLLEVEL assumes RUC LSM, always trying to fill 9 lev

[2022-03-28 12:56] #456 closed, assigned to hertneky

[2022-03-28 12:57] WenMeng-NOAA commented on #166
Commit f22a590 : 463: Bug fix for SLLEVEL bound issue when not RUC LSM.

[2022-03-28 14:42] WenMeng-NOAA commented on #450
By 03/28/2022:

- Huiya provided the unified FV3 model diag table to the GFS, RRFS and HAFS team.
- Eric ran RRFS with the unified diag table and provided Wen new RRFS history files.
- Lin ran HAFS with the unified diag table and provided Wen new HAFS history files.
- Fanglin ran GFS with the unified diag table and provided Wen new HGS history files.
- Wen ran UPP standalone test with UPP branch p

[2022-03-28 14:59] WenMeng-NOAA commented on #450
@HuiyaChuang-NOAA Here are my proposal for merging branch post_fv3_unify:

- Update the UPP RT baseline for RRFS with new RRFS model outputs generated with the unified diag table.
- Update the UPP RT baseline for HAFS with new HAFS model outputs generated with the unified diag table.
- Keep the UPP RT baseline for GFS unchanged. The unified FV3 read interface is configurated with reading GFS outpu

[2022-03-28 15:24] HuiyaChuang-NOAA commented on #450
@WenMeng-NOAA your proposal sounds good.  Should I still ask all three new diag tables including GFS one to be committed to UFS repo?

[2022-03-28 15:31] WenMeng-NOAA commented on #450
I would think RRFS and HAFS are fine. You might ask @junwang-noaa, @yangfanglin and @JessicaMeixner-NOAA for GFS.

[2022-03-28 15:42] HuiyaChuang-NOAA commented on #450
@WenMeng-NOAA I'd like to push for commit of all three tables.  I think it's easier logiscally.  If you don't have objection, I will contact Jun on how to proceed

[2022-03-28 16:01] WenMeng-NOAA commented on #450
@HuiyaChuang-NOAA If you are talking about updating the diag tables at ufs
https://github.com/ufs-community/ufs-weather-model/tree/develop/tests/parm/diag_table

I would defer the question to @junwang-noaa. From inline post perspective, the read interface unifying has been applied.  I might concern about unexpected changes in UFS RT tests. Jun should know about more than me. Thanks!

[2022-03-28 23:51] WenMeng-NOAA commented on #166
Commit cc2741b : #464: Doxygen caldrg, caldwcp and calgust refinement.

[2022-03-29 18:28] HuiyaChuang-NOAA commented on #274
Summary from 3/29/2022 meeting:

1. Wen is planning to commit her PR to unify stand-alone UPP interfaces to develop this or next week.
2. Bo will then merge this change to 2D decomposition branch and resolve the conflicts.
3. Jesse will continue to resolve issues with 2D decomposed UPP interface in regional UFS regression tests.
4. Kate has a PR to document George's 2D decomposition documentation

[2022-03-29 21:36] WenMeng-NOAA commented on #166
Commit 1ac2cd7 : #460: Docygen in CALHEL.f, CALHEL2.f and CALHEL3.f.

[2022-03-30 16:19] #450 closed, assigned to WenMeng-NOAA, HuiyaChuang-NOAA

[2022-03-30 16:21] WenMeng-NOAA commented on #166
Comit 5bdb289 : #453:  Unify global and regional FV3 read interfaces for offline post.

[2022-03-31 21:49] #449 closed, assigned to mkavulich

[2022-03-31 21:50] WenMeng-NOAA commented on #166
Commit af62bd2 : #468: Add ability to compile script to use non-intel compilers; add Cheyenne modulefiles for gnu and intel.

[2022-04-01 13:39] WenMeng-NOAA commented on #166
Commit 6ffdd3d : #465: Doxygen in CALLCL.f CALMCVG.f CALMICT.f

[2022-04-01 16:38] WenMeng-NOAA commented on #166
Commit 2841513 : #466: Doxygen in CALPBL.f CALPBLREGIME.f CALPOT.f CALPW.f

[2022-04-04 17:06] WenMeng-NOAA commented on #166
Commit 394917e: #467: Doxygen in CALRAD_WCLOUD_newcrtm.f CALRCH.f CALSTRM.f CALTAU.f CALTHTE.f CALUPDHEL.f.

[2022-04-04 20:29] WenMeng-NOAA commented on #166
Commit 40fbb3f: #469: Doxygen in CALVOR.f, CALWXT_BOURG.f, CLDRAD.f, COLLECT.f, COLLECT_LOC.f, DEALLOCATE.f, and DEALLOCATE.f.

[2022-04-04 20:50] EricRogers-NOAA opened #471 "Corrupted absolute vorticity from new RRFS 3 km grid"
Since the LAMDAX parallel, running the RRFS N. America 3 km domain, switched to a new compute/output grid last week, the absolute vorticity in the GRIB2 rotated lat/lon grid coming out on the inline post is incorrect, two examples:

453:2573786274:vt=2022040522:500 mb:34 hour fcst:ABSV Absolute Vorticity [1/s]:
    ndata=14452641:undef=2194473:mean=-0.00456186: **min=-55920:max=0**
    grid_templa

[2022-04-04 21:50] JeffBeck-NOAA commented on #471
@EricRogers-NOAA, are there points within the new write component grid that lie outside the ESG computation grid?  I'm wondering if UPP is correctly configured to ignore absolute vorticity for undefined write component grid points.  We did not have undefined write component grid points in the old grid.

[2022-04-04 22:04] EricRogers-NOAA commented on #471
@JeffBeck-NOAA Yes there is; see [](https://www.emc.ncep.noaa.gov/users/emc.campara/rrfs/namelists/grids.png). Outer blue line is the rotated lat/lon grid and the red line is the new compute domain.

But didn't the old 3 km N. America rotated lat/lon grid also have points outside the ESG domain? (see https://www.emc.ncep.noaa.gov/users/Eric.Rogers/miscfiles/oldrrfs3km.png)

[2022-04-04 22:09] JeffBeck-NOAA commented on #471
@EricRogers-NOAA, sorry, I was thinking of the 3-km CONUS domain.  Yes, the old NA 3-km write component domain also had undefined points.  Was absolute vorticity confirmed to be working with that domain?

[2022-04-04 22:12] EricRogers-NOAA commented on #471
Yes, it looks good.

[2022-04-04 22:13] JeffBeck-NOAA commented on #471
OK, I know that individual variables have had these unrealistic values in UPP before when undefined points existed in the output grid.  Whether that also depends on the unique grid, I'm not sure.  That may not be what's going on here, though.

[2022-04-04 23:44] WenMeng-NOAA commented on #471
@JeffBeck-NOAA We incorporate the changes of restricting undefined grids involved in ABSV computation
https://github.com/NOAA-EMC/UPP/blob/40fbb3f33680c4a2b7c02da8515c8d134645fc33/sorc/ncep_post.fd/CALVOR.f#L330

From my debugging, it seems the grids with extreme values of ABSV have DX/DY close to 0 in routine dvdxdudy.
https://github.com/NOAA-EMC/UPP/blob/develop/sorc/ncep_post.fd/UPP_MATH.f#L94

[2022-04-05 16:36] mrinalbiswas commented on #374
@BijuThomas-NOAA Were you able to get a fix. I also got this error running HAFS (with Thompson) on Orion.

[2022-04-05 18:37] BijuThomas-NOAA commented on #374
@mrinalbiswas
I have not seen a fix for this and have already reported it to the UPP group.

[2022-04-05 19:04] mrinalbiswas commented on #374
@BijuThomas-NOAA Thanks

[2022-04-06 13:18] WenMeng-NOAA commented on #471
It appears to me in the new North American domain ((4881 X 2961), these grids with extreme ABSV values have dx/dy close to 0., Here are some printouts for points with dx/dy=0. :
[code]
UPP read lat/lon from model outputs. Would we expect neighbor grids with the same lat/lon in rotated lat/lon grids? @JeffBeck-NOAA @EricRogers-NOAA @junwang-noaa

[2022-04-06 13:21] HuiyaChuang-NOAA commented on #471
@JeffBeck-NOAA @EricRogers-NOAA Wen made more test runs with debug prints.
It appeared that latitudes and longitudes are nearly identical between two neighboring points at the grid points with dx/dy=0.  Please see example below dashed lines and the values represent i,j,dx,dy,gdlon(i+1,j),gdlon(i,j),gdlat(i,j+1),gdlat(i,j)

UPP reads lat/lon from model output thus we suspect there maybe an issue wi

[2022-04-06 14:26] fossell opened #475 "Update documentation to reflect building with hpc-stack"
Develop branch uses hpc-stack for pre-req libraries. The compile_upp.sh script has been updated for use on Cheyenne with hpc-stack for intel and gnu.  User Guide documentation needs to be updated to reflect use of hpc-stack for upcoming UFS releases.

[2022-04-06 22:33] WenMeng-NOAA commented on #166
Commit 3c4a56e : #470: Doxygen in EXCH.f, FDLVL.f, FILL_PSETFLD.f, FRZLVL.f, and FRZLVL2.f.

[2022-04-06 22:37] #442 closed, assigned to WenMeng-NOAA

[2022-04-06 23:18] WenMeng-NOAA commented on #166
Commit 0bb7295: #477: Doxygen in GFSPOSTSIG.F NGMFLD.f OTLFT.f OTLIFT.f PARA_RANGE.f PROCESS.f and retrieve_index.f.

[2022-04-07 11:29] edwardhartnett commented on #166
@WenMeng-NOAA what I would like to suggest is that you handle these updates like other NCEP software packages. Instead of adding these notes to this long-running issue, you update the Release Notes for the next release. Then, when the release happens, all these notes are easily available to the user.

For example, see these release notes:
https://github.com/ufs-community/UFS_UTILS/releases/tag/ufs

[2022-04-07 17:15] WenMeng-NOAA commented on #166
Commit dc8bc68: #474: Doxygen in GET_BITS.f, GPVS.f, LFMFLD.f, LFMFLD_GFS.f, MDL2P.f, MDL2STD_P.f, MDL2THANDPV.f, and MSFPS.f.

[2022-04-07 17:17] WenMeng-NOAA commented on #166
@edwardhartnett Good suggestions. This issue is used for my own reference of  updates in develop branch.

[2022-04-10 12:54] edwardhartnett commented on #166
This information (what has been updated in each relaese) is not just of interest to you - it is also interesting to users.

By keeping these notes in the release notes, as we do in other NCEP projects, you can keep them for yourself, but they would also be helpful to the users.

[2022-04-11 15:13] fossell commented on #166
@edwardhartnett - Yes agreed, this is incredibly helpful for users. @WenMeng-NOAA - I can look at starting this in conjunction with upcoming UFS app releases.

[2022-04-11 16:14] edwardhartnett commented on #166
What works well is to create a draft release, and then fill it in as you go. Then, when the release is accomplished, the documentation is all there.

I will create a draft release and you can see what I mean...

OK, I have created a draft new release. However, I'm not sure what version number to use - what will the next release version be?

Just be carefull when editing the release notes to hit "S

[2022-04-11 16:22] fossell commented on #166
@edwardhartnett - Thanks, yes I'm familiar with draft releases and set them up for public releases. I also use the method you're describing for another project, I think it will work well.

[2022-04-11 17:17] HuiyaChuang-NOAA commented on #471
Wen and I will update UPP to use vorticity from a neighbor point when dx or dy is zero.

[2022-04-11 18:03] HuiyaChuang-NOAA commented on #274
@JesseMeng-NOAA @BoCui-NOAA @WenMeng-NOAA @GeorgeVandenberghe-NOAA @fossell
Summary from 4/11/2022 tag-up:

1. Jesse fixed a bug in the regional UPP inline interface which contributed to issues with his earlier regional UFS RTs.
2. Jesse would like to have someone else conduct RTs using 2D decomposition branch to confirm all RTs are passed
3. Bo is working on merging all latest UPP develop changes

[2022-04-13 14:49] WenMeng-NOAA commented on #165
Merge #478 at aeb213 for inc value increase with NCO's feedback for WCOSS2 GFS V16.2 operation. The tag upp_v8.1.2 was created.

[2022-04-18 13:57] WenMeng-NOAA commented on #166
Commit 8bbfd6b: #479: Doxygen in kinds_mod.F, native_endianness.f, UPP_MATH.f and UPP_PHYSICS.f.

[2022-04-18 17:17] WenMeng-NOAA opened #482 "UPP build failed on WCOSS2 Cactus"
UPP build failed on WCOSS Cactus due to cactus not recognized.

[2022-04-18 17:25] #482 closed, assigned to WenMeng-NOAA

[2022-04-18 17:26] WenMeng-NOAA commented on #166
Commit 95f8383 : #481: Bug fix in UPP build script on WCOSS2 Cactus.

[2022-04-18 22:39] WenMeng-NOAA commented on #166
Commit 793ba3e: #480: Doxygen in SCLFLD.f SELECT_CHANNELS.f SET_OUTFLDS.f SETUP_SERVERS.f SMOOTH.f TRPAUS.f TRPAUS_NAM.f WETFRZLV.f WRFPOST.f and ZENSUN.f

[2022-04-21 13:29] WenMeng-NOAA commented on #462
@AliciaBentley-NOAA I added the changes for generating wgne product from f000 to f180 at 3-hour interval in gfs post processing workflow. The sample data files can be accessed on WCOSS2 Cactus /u/Wen.Meng/noscrub/ncep_post/gfsv16/wen_gfsv16/wgnegfs_data:

- data files pull from NOMADS: wgnegfs_2022041800_000_???.grb2
- data files generated from post process workflow: gfs.t00z.wgne.f???

Can you ve

[2022-04-22 17:30] lipan-NOAA opened #483 "updating UPP for GEFS-Aerosols v12.3 implementation"
There are two updates in the UPP for the GEFS-Aerosols v12.3 implementation. The first is a bug fix when calculating aerosol AOD. The second is to add a new variable, Surface Dust PM10, to the UPP output.

[2022-04-22 17:53] AliciaBentley-NOAA commented on #462
@WenMeng-NOAA I examined the output from your test and the output that you downloaded from NOMADS. The output looks identical (see example comparison below), which is great. Thank you for your help with this!

[Alicia.Bentley@clogin01 wgnegfs_data] wgrib2 -V wgnegfs_2022041800_000_060.grb2
1:0:vt=2022042012:surface:0-60 hour acc fcst:APCP Total Precipitation [kg/m^2]:
    ndata=1038240:undef=0:mea

[2022-04-22 18:08] WenMeng-NOAA commented on #462
@AliciaBentley-NOAA Thanks for verifying. I will commit the changes in the UPP for GFS V16 branch for the upcoming  GFS V16.2 implementation.

[2022-04-25 16:06] WenMeng-NOAA commented on #165
Merge #485 at 496a356 for adding wgne dataset in gfs post processing workflow for GFS V16.2 implementation.

[2022-04-25 18:31] WenMeng-NOAA commented on #483
@lipan-NOAA I would like to know if the changes in PR #484 should be included in GFSV17/GEFSV13 implementation? If yes, could you submit another PR aiming for the UPP develop branch?

[2022-04-25 19:52] lipan-NOAA commented on #483
@WenMeng-NOAA I will submit a PR for UPP develop branch

[2022-04-25 20:18] WenMeng-NOAA commented on #483
@lipan-NOAA Thanks for clarifying.

[2022-04-26 14:25] WenMeng-NOAA commented on #461
@kgerheiser, @Hang-Lei-NOAA, @aerorahul I got failure for replacing w3nco with w3emc/2.9.1 on Cray as:
[code]

My UPP working version is at /u/Wen.Meng/ptmp/develop/UPP on Surge. The build script is UPP/tests/compile_upp.sh.
I updated the following files:
[code]
Any suggestions on fixing? Thanks!

[2022-04-26 14:27] kgerheiser commented on #461
@WenMeng-NOAA this line needs to be changed to `w3emc` https://github.com/NOAA-EMC/UPP/blob/793ba3ead53582d12b8ebfb89b6f33ac24efc8b6/CMakeLists.txt#L60

As well as this line https://github.com/NOAA-EMC/UPP/blob/793ba3ead53582d12b8ebfb89b6f33ac24efc8b6/sorc/ncep_post.fd/CMakeLists.txt#L223

[2022-04-26 14:32] WenMeng-NOAA commented on #166
Commit b495345: #486: Update readme.

[2022-04-26 14:38] WenMeng-NOAA commented on #461
@kgerheiser I did change them. Somehow, it works on Dell, Hera, Orion but  not Cray. It seems to me the configuration of NCEPLIBS on Cray is different from other platforms.

[2022-04-26 15:30] WenMeng-NOAA commented on #461
@kgerheiser @aerorahul [My branch](https://github.com/WenMeng-NOAA/UPP/commits/post_w3emc) for replacing w3nco with w3emc/2.9.1 failed at  "All checks" on github. It seems to me this online build function is loading w3emc/2.7. from /home/runner/w3emc-2.7.3. Any suggestions on the fix. Thanks!

[2022-04-26 18:28] WenMeng-NOAA commented on #166
Commit 80cc1dc : #476: Doxygen in GFSPOST.F.

[2022-04-26 22:11] WenMeng-NOAA commented on #166
Commit 79b1dd4 : #473: Doxygen in INITPOST.F, INITPOST_GFS_NEMS_MPIIO, INITPOST_NEMS.f and INITPOST_NETCDF.f.

[2022-04-27 14:04] WenMeng-NOAA commented on #166
Commit 5f60e60 : #487: Doxygen in BOUND.f.

[2022-04-28 18:59] kayeekayee commented on #392
@edwardhartnett @fossell Please review this PR if all the warnings are being fixed or not. Let me know if I missed any. Thank you.

[2022-04-28 19:26] edwardhartnett commented on #392
Turn on WARN_AS_ERROR in your Doxyfile.in and doxygen will tell you. ;-)

[2022-04-29 14:11] lipan-NOAA opened #488 "fix a bug in AOD calculation"
aerosol AOD are wrongly double-counted

[2022-05-04 13:47] WenMeng-NOAA commented on #166
Commit 44edaf7: #489: fix a bug in AOD calculation.

[2022-05-04 16:16] fossell commented on #392
@kayeekayee - It looks like the version of doxygen on Cheyenne is 1.8.6 and it's not recognizing the WARN_AS_ERROR tag, so it doesn't immediately fail when encountering an error. I tried on my laptop with v1.9.3 and it does fail as soon as there is an error. Even without this tag, on Cheyenne when I make the docs it produces a list of warnings about what is not completely documented yet. (I'm not

[2022-05-04 16:38] edwardhartnett commented on #392
Doxygen will consider all files which are included in the Doxyfile INPUT field, and which have at the top of the file:

`!> @file `

There is not a lot of warning control. You get what you get. I think there is a separate warning setting for warnings for undocumented functions and warnings for missing parameters.

Indeed, different versions of doxygen respond slightly differently to warnings. On t

[2022-05-04 16:47] fossell commented on #392
@edwardhartnett - Thanks! This is very helpful. We will keep tackling this with the goal of being able to turn that WARN_AS_ERROR flag on and never look back. :)

[2022-05-05 13:28] fossell opened #492 "Updates to run_upp script for public-v3 release"
Critical fix needed: With the change to using the compile_upp.sh for building standalone UPP, the ${POSTEXEC} variable should be updated to point to the new location, e.g. UPP/tests/install/bin.

A few other minor updates for the release should be made as well:
-  instances of EMC_post changed to UPP
- warning message if binarynemsmpiio format
- Add parallel netcdf format option

[2022-05-05 14:56] #488 closed, assigned to nobody

[2022-05-05 14:57] #462 closed, assigned to nobody

[2022-05-05 20:26] fossell opened #494 "MRW updates"
A few remaining questions for MRW use cases:

- [x] 1. What is the file format of the model output so we can make sure run_upp script can be leveraged for offline applications.
- [ ] 2. Which postxconfig-Nt.txt(s) file does MRW expect to use in global workflow so we can document list of output fields.

[2022-05-11 15:51] #492 closed, assigned to kayeekayee

[2022-05-11 16:29] jkbk2004 opened #500 "Cheyenne hpc-stack module update"
Description:
1. UFS-WM hpc-stack modules on Cheynne were migrated to /glade/work/epicufsrt/GMTB/tools for both gnu and Intel
2. intel2022.1 upgrade is on-going UFS-WM repo
3. Need to combine the issues of the new hpc-stack location and compiler update and stack lib package options of g2/libpng/w3emc
4. Additional PRs are expected to cover other RDHPCs

[2022-05-11 16:56] fossell commented on #500
@jkbk2004 - The goal is to have these mods in the UPP release branch (i.e. release/public-v3) for the upcoming SRW release, correct? We have already branched off develop.

[2022-05-11 17:01] jkbk2004 commented on #500
@fossell @WenMeng-NOAA not for srw release. code freeze for srw release will be around May16. I don't expect hpc-stack sync case can be completed before then since it involves with other repos and platforms. So, we may take time to merge in develop branch.

[2022-05-11 17:02] fossell commented on #500
@jkbk2004 - Sounds good, thanks for clarifying!

[2022-05-11 20:43] fossell commented on #500
@camshe - This will be one you'll want to monitor since it relates to building/running UPP on cheyenne.

[2022-05-11 20:46] fossell commented on #392
@camshe - This is an ongoing effort so probably one to be aware of.

[2022-05-12 19:10] fossell commented on #494
@hertneky - Someone from MRW team pointed me to a run on Hera to look at for these questions. From what I can decipher so far, I believe that the for 1) the filenames are gfs.t00z.atmf024.nc and gfs.t00z.sfcf024.nc.  As for 2) I _think_ they use just postxconfig-NT-GFS-TWO.txt (plus the one for FHR 00) and that produces two output files from the model running inline post, GFSPRS.GrbF09 and GFSFLX.

[2022-05-12 19:12] fossell commented on #494
@WenMeng-NOAA - Would you mind taking a look at my previous comment and let me know if this makes sense and is similar to any experience you have dealing the global workflow?  I have never used it, so just trying to piece this together.  If you have any insights, we'd appreciate it!

[2022-05-12 21:02] WenMeng-NOAA commented on #494
@fossell Your comments are right.

[2022-05-13 13:56] fossell commented on #494
@WenMeng-NOAA - Thanks for confirming Wen, that's very helpful!

[2022-05-13 20:13] WenMeng-NOAA commented on #166
Commit 7e48380 : #502: Update VERSION to 10.2.0 to reflect recent branch creation for release/public-v3.

[2022-05-16 15:10] fossell opened #503 "Merge release/public-v3 into develop"
Merge documentation and public run script changes to develop branch.

[2022-05-16 15:12] fossell commented on #503
@WenMeng-NOAA - We are almost done with our mods to the release/public-v3. There might be a few more depending on how SRW testing and reviews go, but I think it would be good to merge the bulk of these back into develop before the 2D branch is merged.  If we aim for merging by this Friday, May 20, will that work?

[2022-05-16 16:21] WenMeng-NOAA commented on #503
@fossell Yes, your proposal is working for me. Thanks!

[2022-05-16 18:48] fossell commented on #494
The run_upp script was updated with new MRW naming convention for model output names in PR #504

[2022-05-16 18:49] #475 closed, assigned to hertneky

[2022-05-16 18:50] fossell opened #505 "Runtime issue on Cheyenne with GNU"
Executable is failing for offline runs built on Cheyenne with GNU compiler. Some environment mismatches suspected.

[2022-05-16 20:26] hertneky commented on #505
The main issue was running UPP in the batch system on Cheyenne for the GNU compiler (non-default compiler). Running outside of the batch system worked.

@kayeekayee can you try running again with these lines added to your run.sh script for cheyenne gnu:

source /glade/u/apps/ch/modulefiles/default/localinit/localinit.csh

module purge

module use /glade/p/ral/jntp/GMTB/tools/hpc-stack-v1.2.0/modul

[2022-05-16 21:08] hertneky commented on #494
@fossell Question - is the MRW output still on a gaussian grid? Can you look at the run on Hera you were pointed to to confirm?

[2022-05-17 00:35] WenMeng-NOAA commented on #166
Commit 2a91354 : #506: Add POC from EPIC to codeowners for public docs and run script.

[2022-05-17 01:40] kayeekayee commented on #505
@hertneky I tried your suggestion in run.sh and run_mpi.pbs but I am still unable to run the cases. May I look at your run and see what is the difference between mine and yours?

[2022-05-17 13:31] hertneky commented on #505
@kayeekayee Sorry, I meant to say add those lines to the batch script.
You can find my build here: /glade/work/hertneky/upp/builds/UPPv10.1.0. My run is here /glade/work/hertneky/upp/testing/postprd where I used:
script: run_upp
batch script: run_mpi_gfs.pbs
run log: upp.f006.out

[2022-05-17 15:01] fossell commented on #505
@kayeekayee - change the localinit script to be a .sh instead of a .csh. That should allow it to be sourced properly and then upp should start to run. It's still failing for me so there is probably another issue, but at least with this script upp.x can run.  We'll need to understand this script and behavior better and identify a long term solution for users.

[2022-05-17 17:53] fossell commented on #505
@kayeekayee @hertneky - I've been having success in running case4 when sourcing the localinit.sh script in the job script.  I've been playing around with the resources and wallclock time to get a full run complete, but for the fhrs that complete the output looks ok. I'm going to email CISL regarding the localinit.sh script and see what they advise for a long term solution.

[2022-05-17 19:38] kayeekayee commented on #505
@fossell @hertneky Thank you so much for your info. I am able to run UFFDA with GNU now with sourcing the localinit.sh script!

[2022-05-18 17:09] WenMeng-NOAA opened #507 "Update gfs itag files for in-line post"
Updating the gfs itag files at parm/post_tag_gfs* to reflect the changes of unifying in-line post interface.

[2022-05-18 20:43] #507 closed, assigned to WenMeng-NOAA

[2022-05-18 20:44] WenMeng-NOAA commented on #166
Commit fbd41a5: #508 : Update gfs itag files for in-line post.

[2022-05-23 00:19] WenMeng-NOAA commented on #503
@fossell I would like to know if the changes from release/public-v3 will be submitted on the week of May 23? Thanks!

[2022-05-23 13:03] fossell commented on #503
@WenMeng-NOAA - Sorry for the delay, I will put in a PR this morning.

[2022-05-23 18:14] #503 closed, assigned to fossell, camshe

[2022-05-23 18:15] WenMeng-NOAA commented on #166
Commit 6a146bc : #509: Merge the changes from release/public-v3.

[2022-05-24 14:53] WenMeng-NOAA commented on #166
Commit 9ede326 : #511:  Document updates from release/public-v3.

[2022-05-25 20:40] HuiyaChuang-NOAA commented on #471
@EricRogers-NOAA @JacobCarley-NOAA  I think we identified the culprit of vorticity issues.  It is the final term in

ABSV(I,J) = DVDX - DUDY + F(I,J) + UAVG*TAN(GDLAT(I,J)*DTR)/ERAD

, where the Tangent of Poles go to infinity.

It appears that GSL discovered this issue with their RAP domain crossing over the North Pole and as such they removed this final term in their vorticity calculation in UPP

[2022-05-25 22:22] EricJames-NOAA commented on #471
@HuiyaChuang-NOAA this is great news!  Thank you for your work on this.

I agree with using the GSL formulation for all models.

[2022-05-26 02:49] JeffBeck-NOAA commented on #471
Thanks for your help tracking this down, @HuiyaChuang-NOAA!

[2022-05-26 11:29] SMoorthi-emc commented on #471
Not for the global models please.

[2022-05-26 13:08] WenMeng-NOAA commented on #471
@SMoorthi-emc The global models are using another option. See https://github.com/NOAA-EMC/UPP/blob/develop/sorc/ncep_post.fd/CALVOR.f#L77

[2022-05-26 13:11] SMoorthi-emc commented on #471
I know, I wrote that code

[2022-05-26 13:44] WenMeng-NOAA commented on #471
The changes proposed by @HuiyaChuang-NOAA  was committed in the branch https://github.com/WenMeng-NOAA/UPP/tree/post_rrfs_absv

[2022-05-26 14:39] #483 closed, assigned to nobody

[2022-05-26 15:19] HuiyaChuang-NOAA commented on #471
Thank you all for your feedback.

Thank you @WenMeng-NOAA for committing the changes quickly.

@EricRogers-NOAA @JacobCarley-NOAA @EricJames-NOAA @JeffBeck-NOAA
Wen and I talked.  She wants to merge the 2D decomposition branch first before merging this vorticity fix since 2D decomposition branch has been ready for a while and Jesse and Bo are supposed to transition to their next projects in early

[2022-05-26 16:52] YaliMao-NOAA opened #513 "Update UPP.v16 for implementation of ICAO milestones Nov 2023"
The ICAO milestones Nov 2023 requires WAFS products on new vertical coordinates, which are different from the pressure levels of master files (KPOs are different) and from the current operational WAFS products (two paramsets are used in one control file). Meanwhile, different fields are generated for different forecast hours (3 different control files).

Here is the PR:
https://github.com/NOAA-EMC

[2022-05-26 18:51] WenMeng-NOAA commented on #165
Merge #497 at b79e2c3 for new ICAO products for GFS V16.3 implementation.

[2022-05-27 17:55] EricRogers-NOAA commented on #471
@WenMeng-NOAA @HuiyaChuang-NOAA @JacobCarley-NOAA: I ran a test of Wen's post_rrfs_absv UPP code with sample history files from the 3km RRFS N. American domain run. I think there is still a problem with the absolute vorticity. From the PRSLEV file on the rotated lat/lon grid:

2:9426651:vt=2022052608:500 mb:1 hour fcst:ABSV Absolute Vorticity [1/s]:
    ndata=14452641:undef=2194487:mean=-1.03523e-

[2022-05-27 20:47] HuiyaChuang-NOAA commented on #471
Eric, my modification to UPP CALVOR.f is slightly different than Wen's that I simply commented out the final term
with tangent for all models while Wen commented out this term for FV3R and RAP but the results should be the same.

My output is in /gpfs/dell2/ptmp/Hui-Ya.Chuang/post_fv3r_2022033112/

and you can see 500 mb absv is reasonable:

1302:7158581186:vt=2022033115:500 mb:3 hour fcst:ABSV Ab

[2022-05-27 20:58] EricRogers-NOAA commented on #471
Thank you Hui-ya. I added one more image to that directory, if you go to https://www.emc.ncep.noaa.gov/users/Eric.Rogers/post_rrfs_absv_tests/files.php I now have https://www.emc.ncep.noaa.gov/users/Eric.Rogers/post_rrfs_absv_tests/500vort_full_reducedgrid.png. This was made with Wen's branch with a reduced-sized RRFS output grid that does not cross the North Pole. As you can the absolute vorticit

[2022-05-28 03:47] HuiyaChuang-NOAA commented on #471
Eric, I checked out post_rrfs_absv branch but didn't see the vorticity fix in it.  I believe Wen only committed the fix in her fork.
This is a relief.

Wen is on leave till Thursday.  If you point me at your version of code, I will be happy to make one line fix and send it back to
you so you can test it out.

[2022-05-31 14:16] EricRogers-NOAA commented on #471
@HuiyaChuang-NOAA the code I was testing last week is at /gpfs/dell6/emc/modeling/noscrub/Eric.Rogers/fv3lam_for_dellp3.5/sorc/post_rrfs_absv. Thanks.

[2022-06-05 23:32] #513 closed, assigned to YaliMao-NOAA

[2022-06-06 01:14] WenMeng-NOAA commented on #471
The branch post_rrfs_absv was updated with some modifications of dx/dy computation from Huiya. Wen's test results can be found at /u/Wen.Meng/ptmp/post_fv3r_2022033112 on Venus.
[code]
@EricRogers-NOAA Can you download the latest version of post_rrfs_absv and have a test? Thanks!

[2022-06-06 20:48] EricRogers-NOAA commented on #471
@WenMeng-NOAA Thanks, but I'm afraid we're not there yet. See these two plots of 1-h forecast 500 mb HGT and ABSV from a recent RRFS forecast, from GRIB2 files made with the latest post_rrfs_abvs code:

https://www.emc.ncep.noaa.gov/users/Eric.Rogers/upptests/500mb.png (full domain)
https://www.emc.ncep.noaa.gov/users/Eric.Rogers/upptests/500mb_reduced_grid.png (reduced output grid that doesn't cr

[2022-06-06 21:09] WenMeng-NOAA commented on #471
@EricRogers-NOAA It seems the magnitude are still too larger. I have RRFS baseline with domain not over north pole:
---------------------
[code]
@HuiyaChuang-NOAA Do you have comments?

[2022-06-06 21:36] HuiyaChuang-NOAA commented on #471
@EricRogers-NOAA At some point, the variable lon/lat in FV3R output was changed to earth latlon.  Since UPP uses these earth
latlon to compute dx/dy, that's why they become zeros near poles.  I am updating UPP to compute dx/dy using dlon/dlat of
rotated latlon in the model output to mitigate this issue.  Will let you know if that works

[2022-06-08 16:27] HuiyaChuang-NOAA commented on #471
![2022-06-08](https://user-images.githubusercontent.com/56728916/172668089-56d8f866-ea2e-4094-85fd-531a411a7b5a.png)

Using dlat/dlon to compute dx/dy for rotated latlon grid produces reasonable vorticity.
Will work with Wen to run regression tests to ensure this change does not adversely affect post processing of
other models before submitting a PR.

[2022-06-08 17:24] #274 closed, assigned to JesseMeng-NOAA, BoCui-NOAA, GeorgeVandenberghe-NOAA

[2022-06-08 17:25] WenMeng-NOAA commented on #166
Commit 6b4a79c : #339 : UPP 2D decomposition.

[2022-06-09 00:10] WenMeng-NOAA commented on #471
@EricRogers-NOAA I incorporated the new changes from @HuiyaChuang-NOAA. The test is at  /u/Wen.Meng/ptmp/post_fv3r_2022033112 on mars. Could you please verify them? Thanks!
[code]

[2022-06-09 17:02] EricRogers-NOAA commented on #471
@WenMeng-NOAA I took your PRSLEV file and ran my wgrib2 interpolation job to the display grid and then ran my Grads plot script, attached is a plot of 500mb Z, ABSV over the entire domain. As you can see the 500 mb ABSV field looks realistic now. Thanks!

![500mb_absvfix](https://user-images.githubusercontent.com/48292889/172903620-2eaf5ca7-fc12-4f95-aad5-840ad7c69578.png)

[2022-06-09 17:10] WenMeng-NOAA commented on #471
@EricRogers-NOAA Thanks for verifying. I will create a new branch based on UPP 2D decomposition structure and incorporate the ABSV fix. I might ask you to verify my new test again.

[2022-06-09 17:17] HuiyaChuang-NOAA commented on #471
@EricRogers-NOAA thank you for helping us verify the output.

@WenMeng-NOAA once you create a new branch from new 2D decomposed develop, I will be happy to update it with vorticity fix

[2022-06-10 15:20] WenMeng-NOAA commented on #471
@EricRogers-NOAA A new branch post_rrfs_absv_new was created including ABSV fix. My test is at /u/Wen.Meng/ptmp/post_fv3r_2022033112 on Venus. Would you please verify them? Thanks!

[2022-06-10 15:59] EricRogers-NOAA commented on #471
@WenMeng-NOAA The 500 mb ABSV looks fine in your latest test, thanks:

![500mb_latesttest](https://user-images.githubusercontent.com/48292889/173105487-6cde4b20-5bda-4789-9ae4-05273e4a0090.png)

[2022-06-10 16:39] WenMeng-NOAA commented on #471
@EricRogers-NOAA I conducted the UPP RT test for RRFS which has the domain not across north pole. Here are some changed results due to the fixes including modification of dx/dy for rotated latlon grids and one term removed in ABSV computation (RAP approach)  :
[code]
If you would like to evaluate, the tests are:
1) ABSV fix:  /u/Wen.Meng/ptmp/fv3r_2022030200 on venus
2) baseline for RRFS:  /u/Wen.

[2022-06-10 16:46] WenMeng-NOAA commented on #471
@BinLiu-NOAA We have working on the ABSV issue in RRFS which has domain across north pole. From my UPP RT test, the HAFS baseline has the following changes in ABSV due to the fix including ABSV computation modification (one term removed for regional FV3):
[code]
Please let me know if you have concerns/suggestions.

[2022-06-10 16:53] WenMeng-NOAA commented on #471
@EricRogers-NOAA and @BinLiu-NOAA If you would like to run your tests, the  working branch is at
https://github.com/WenMeng-NOAA/UPP/tree/post_rrfs_absv_new

[2022-06-10 17:34] HuiyaChuang-NOAA commented on #471
Good to see differences are limited to the fields that involve horizontal derivatives.  Also, I'm actually a bit surprised how high the correlations are which is re-assuring.  Guess the curvature term we removed from vorticity computation is small.

[2022-06-10 19:10] EricRogers-NOAA commented on #471
@WenMeng-NOAA There is no "/u/Wen.Meng/ptmp/fv3r_2022030200 " on venus

[2022-06-10 19:17] HuiyaChuang-NOAA commented on #471
I believe Wen meant on Mars

[2022-06-10 19:20] WenMeng-NOAA commented on #471
@EricRogers-NOAA Yes, it is Mars. Sorry for typo.

[2022-06-10 20:17] EricRogers-NOAA commented on #471
@HuiyaChuang-NOAA I agree that the correlation numbers look reassuring. I plotted the 2-5 km UPHL field from the baseline and test run over the NW CONUS;
![uphl_baseline](https://user-images.githubusercontent.com/48292889/173143777-15222573-1acb-4cc7-80b1-6efd764b5b7f.png)
![uphl_absvfix](https://user-images.githubusercontent.com/48292889/173143796-a96c76e9-c5e8-4f28-88cc-d19a1c6c70b3.png)

Differ

[2022-06-13 14:29] BinLiu-NOAA commented on #471
@WenMeng-NOAA, sorry for the late reply. I somehow missed this Github issue discussion. I have just discussed with @LinZhu-NOAA, and these minor differences look reasonable to us. And the thanks for fixing this ABSV issue!

In the meantime, as @JiliDong-NOAA mentioned in another email thread, there is also another issue for the regional latlon grid when the domain crosses the primary meridian (zer

[2022-06-13 14:34] WenMeng-NOAA commented on #471
@BinLiu-NOAA Thanks for clarifying.

Would you submit this hafs related fix in a new UPP PR?

[2022-06-13 14:47] BinLiu-NOAA commented on #471
Thanks, @WenMeng-NOAA! Sure, I will coordinate with @LinZhu-NOAA and @JiliDong-NOAA so that they can help to submit a separate PR fixing this regional latlon grid crossing the prime meridian issue. Thanks!

[2022-06-14 16:14] #471 closed, assigned to WenMeng-NOAA

[2022-06-14 16:22] #166 closed, assigned to WenMeng-NOAA

[2022-06-14 16:24] WenMeng-NOAA opened #518 "Updates in develop branch since 06/2022"
The commits in develop branch before 06/2022 can be found in the issue #166.

[2022-06-14 16:25] WenMeng-NOAA commented on #518
Commit 2a017d3 : #516 Fix of ABSV computation in RRFS

[2022-06-15 18:55] LinZhu-NOAA opened #522 "update dx/dy for latlon grib"
The odd dx/dy for the HAFS domain cross Greenwich meridian. So, we update the dx/dy by reading in instead of calculating them. The following code is updated.

sorc/ncep_post.fd/grib2_module.f

[2022-06-16 17:38] #522 closed, assigned to LinZhu-NOAA

[2022-06-16 17:42] WenMeng-NOAA commented on #518
Commit 3e18b77 : #523 Switch dx/dy in hafs grib2 head message to dxval/dyval read from model output.

[2022-06-21 13:25] lipan-NOAA opened #524 "gefs_v12.3.0 crashed in post_hr_p${mem}"
The tag for gefs_v12.3.0 was created for the GEFS-Aerosols v12.3 implementation (see PR#[484](https://github.com/NOAA-EMC/UPP/pull/484)).

In the final test, the "chem_post" succeeded as we expected, but the post processing of the atmospheric ensemble member failed.

The bug has been found and fixed. With the newly fixed version, all tasks in the GEFS package have been completed successfully.

Thi

[2022-06-23 14:24] WenMeng-NOAA commented on #524
The PR #525 was merged.

[2022-06-23 14:24] #524 closed, assigned to nobody

[2022-06-27 15:04] WenMeng-NOAA opened #526 "Upgrade Intel/impi version to 2022.1.2 on Hera and Orion"
Upgrade UPP dependency library intel/impi version to 2022.1.2 on Hera and Orion.

[2022-06-28 16:16] WenMeng-NOAA commented on #518
Commit 4878981 : #527: Upgrade intel/impi version to 2022.1.2 on Hera and Orion.

[2022-06-29 21:22] #461 closed, assigned to nobody

[2022-06-29 21:23] WenMeng-NOAA commented on #518
Commit 8767929 : #528: Add spack-based ci and upgrade w3emc to 2.9.2. This revision was used to update  the upp submodule at ufs-weather-model side on 07/15/2022.

[2022-07-06 18:12] wzzheng90 opened #529 "Entire atmosphere Total Cloud Cover [%]} variable from pgb files"
I checked the variable "TCDCclm" {entire atmosphere (considered as a single layer) Total Cloud Cover [%]} from pgb files such as "gfs.t00z.pgrb2.0p25.f024".  It looks this is not Cloud Cover in %. The values are 0 to 450000.   However, "TCDCclm" from sfluxgrbf files (e.g., gfs.t00z.sfluxgrbf024.grib2) looks reasonable and its values are 0 to 100.

[2022-07-06 19:39] WenMeng-NOAA commented on #529
@wzzheng90 Are you meaning TCDC from ops. gfs V16.2 or gfs V17? I don't see issue in gfs v16 on wcoss2:
[code]

[2022-07-06 22:29] WenMeng-NOAA commented on #529
@wzzheng90 Which version of UPP and global-workflow are the UFS p8/p8c using? If global-workflow is from develop, you might consult with @WalterKolczynski-NOAA first. Some of gfs post processing scripts are moved from UPP repository to global-workflow repository. Also you might check master fiiles gfs*master* ( I don't see master files archived in your directories).

[2022-07-06 23:07] wzzheng90 commented on #529
@WenMeng-NOAA  It should be the latest version of global-workflow (P8):
commit 3076e13ca5976206f1cdab58cca1b6f80fbb7716 (HEAD -> develop, origin/develop, origin/HEAD)
Author: Fanglin Yang <fanglin.yang@noaa.gov>
Date:   Fri Jul 1 10:33:39 2022 -0400

[2022-07-06 23:20] WalterKolczynski-NOAA commented on #529
Global workflow has been using the UFS version of UPP since late May. GW is currently using UFS tag Prototype-P8c, which is using UPP dc8bc68.

I don't know that any of the post-processing scripts we absorbed would break the variable in this way, but if I'm wrong I can certainly try to fix it. The variable doesn't appear in any of the scripts either.

[2022-07-06 23:43] WenMeng-NOAA commented on #529
@WalterKolczynski-NOAA Thanks for clarifying.
@wzzheng90 Do you have model history files and UPP master files archived?

[2022-07-07 00:10] wzzheng90 commented on #529
@WalterKolczynski-NOAA  Thanks!
@WenMeng-NOAA  I removed them.  However, if you want them, I can rerun for a short fcst time.

[2022-07-07 01:06] wzzheng90 commented on #529
@WenMeng-NOAA  @WalterKolczynski-NOAA   I recreated them.  Please see all output files: /scratch1/NCEPDEV/stmp2/Weizhong.Zheng/P8c_atmCTL/COMROOT/p8c2020012600/gfs.20200126/00/atmos

[2022-07-07 15:16] wzzheng90 commented on #529
@WenMeng-NOAA   Yes, I confirm that my experiment uses Thompson MP in P8/P8c (GFDL MP in P8b or previous versions).  So anything needs update in the UPP with Thompson MP?

[2022-07-07 15:24] WenMeng-NOAA commented on #529
@wzzheng90 You might update the diag table for outputting 3D cloud fraction as "cldfra".

[2022-07-08 16:01] #526 closed, assigned to WenMeng-NOAA

[2022-07-08 16:37] EricRogers-NOAA opened #530 "Output text file with lat/lon corner points needed for RRFS fire weather run"
In INITNEMS.f, there is this logic for the NMMB:

          IF (MAPTYPE==205)THEN  !A STAGGERED B-GRID
            open(112,file='latlons_corners.txt',form='formatted' &
             ,status='unknown')
            if(grib=="grib2") then
              write(112,1001)LATSTART/1000,(LONSTART/1000)-360000, &
                  LATSE/1000, &
                  LONSE/1000,LATNW/1000,LONNW/1000,LATLAST/100

[2022-07-10 01:24] WenMeng-NOAA commented on #530
@EricRogers-NOAA
My test results for off-line post is at /u/wen.meng/ptmp/fv3r_2022030200 on cactus
And the results for in-line post at /u/wen.meng/ptmp/FV3_RT/rt_60471/regional_control on cactus.
Do you also need output of lat/lon on four points for other than rotated lat-lon grids?

[2022-07-11 14:48] EricRogers-NOAA commented on #530
Hi Wen,

Sorry, I made an error in how I worded this sentence "The RRFS fire weather run will output (via the inline post) a rotated lat/lon grid, and by having the lat/lons of the 4 corner points of the rotated lat/lon grid, I can calculate the grid specs for the output grid as is now done for the NAM's fire weather nest."

What I meant to say was this "The RRFS fire weather run will output (via

[2022-07-11 17:26] WenMeng-NOAA commented on #530
@EricRogers-NOAA I modified the changes. The latlons_corners.txt has:
[code]
Would these be ones you expect? My new test is at /u/wen.meng/ptmp/fv3r_2022030200 on cactus.

[2022-07-11 19:10] EricRogers-NOAA commented on #530
I'm afraid not. First, these are the rotated lat/lon values, not earth lat/lon values. The attached map shows the PRSLEV and NATLEV domain ("RRFS Rotated Lat/Lon") projected onto its actual location on the Earth. The NE corner point in Spain is at 41.48N, 358.2E, that is number I need. Also, what is listed is just the SW and NE corner point values, what is done for the NAM post and what is needed

[2022-07-11 21:03] gabrielcassol opened #532 "Updraft helicity and SRH in the Southern Hemisphere"
Hello everybody,

Is it possible to update the post-processing codes used to calculate the storm relative helicity (SRH) and updraft helicity (UH) for the Southern Hemisphere?

/sorc/ncep_post.fd/**CALHEL.f**
/sorc/ncep_post.fd/**CALUPDHEL.f**

From what I saw in the SRH code, the left movement of the average wind is not taken into account, and in the code to calculate the UH I did not find adapta

[2022-07-12 00:44] WenMeng-NOAA commented on #530
@EricRogers-NOAA Thanks for explaining. I modified the changes and tested with a case of 3-km North America domain. Please see the results at  /u/wen.meng/ptmp/post_fv3r_2022033112.
[code]

[2022-07-12 14:12] WenMeng-NOAA commented on #532
@gabrielcassol Thanks for bring our attention on this issue. Could you follow the procedure [here](https://github.com/NOAA-EMC/UPP/wiki/UPP-Code-Development#contribute-changes-in-upp-main-development-branch-develop) to submit a PR with your proposal?

[2022-07-12 14:28] EricRogers-NOAA commented on #530
Yes, that is what I was looking for. Thanks! Could you point me at the code change for in the inline post? I've been making RRFS fire weather runs and would like to test it.

[2022-07-12 14:33] gabrielcassol commented on #532
I'm not familiar with tinkering with fortran code, so I wouldn't know how to make these changes to contribute the updated code for South America. Isn't there someone from support who has knowledge of fortran to help us make these changes?

[2022-07-12 15:03] WenMeng-NOAA commented on #530
@EricRogers-NOAA Thanks for confirming. I might consult with Jun for the changes in in-line post since lat/lon start/last are not available in the interface.

[2022-07-12 15:37] EricRogers-NOAA commented on #530
OK, I'm good with using the offline post with this change for now.

[2022-07-12 15:42] WenMeng-NOAA commented on #530
@EricRogers-NOAA You may use my working branch for off-line post testing at
https://github.com/WenMeng-NOAA/UPP/tree/post_rrfs_latlon

[2022-07-12 17:05] WenMeng-NOAA commented on #532
@fossell Would DTC/EPIC has resources assisting @gabrielcassol with this UPP enhancement? Thanks!

[2022-07-12 21:55] EricRogers-NOAA commented on #530
Thank you; it worked fine for me, making the text file.

[2022-07-23 02:27] #530 closed, assigned to WenMeng-NOAA

[2022-07-23 02:28] WenMeng-NOAA commented on #518
Commit 27ad5c7 : # 531: Output lat/lon on four corner points of rotated lat-lon grids in text file.

[2022-07-23 14:17] LinZhu-NOAA opened #535 "Adding instantaneous ULWRFtoa for HAFS"
Adding instantaneous ULWRFtoa for HAFS

[2022-07-23 19:55] #535 closed, assigned to WenMeng-NOAA

[2022-07-23 19:56] WenMeng-NOAA commented on #518
Commit 8ed92cb : #534: Read instant top of atmosphere ULWRF from FV3 based models.

[2022-07-25 21:07] gabrielcassol commented on #532
Is there anyone else who can help on this matter?

[2022-07-25 21:51] fossell commented on #532
@gabrielcassol - Unfortunately we have very limited resources. We'll try to take a look soon to see if this is something we can help with and will get back to you. In the meantime, it sounds like you've at least looked into the relevant routines to see what's going on and how things should change. Can you provide some more detail about what sort of algorithm and changes you want to see implemented

[2022-08-02 00:54] SamuelTrahanNOAA opened #537 "add in-flight icing products similar to the operational IFI"
There is NCEP operational software called IFI that generates in-flight icing products from model GRIB2 output. UCAR has a newer version of that software, FIP2. Someone should put that inside UPP so it runs directly off of model output, in a model-independent manner. It would make an excellent replacement for IFI in the next-generation RRFS model.

[2022-08-02 20:28] hertneky commented on #532
@gabrielcassol - I have started looking at this and will have something for you to test next week as I am out of the office the remainder of this week.

[2022-08-03 01:24] WenMeng-NOAA opened #539 "GFS Total Cloud Fraction on Isobaric levels"
The total cloud fraction on isobaric levels are computed in UPP with cloud fraction on hybrid levels which are read from model outputs. @junwang-noaa reported GFS cloud fraction on isobaric levels have non-undefined values when cloud fraction on hybrid levels are not written out in mode outputs.

[2022-08-03 01:40] WenMeng-NOAA commented on #539
@junwang-noaa and @HuiyaChuang-NOAA I think there is a bug in UPP code for rounding upper bound and lower bound of cloud fraction on isobaric levels at
https://github.com/NOAA-EMC/UPP/blob/develop/sorc/ncep_post.fd/MDL2P.f#L1319
The points with undefined values should be restricted. I conducted a test with model history files from Jun's test and saw all cloud fraction on isobaric levels are in und