[2019-09-17 17:33] WenMeng-NOAA opened #1 "Update wrfio v1.1.1 path on theia"
The wrfio v1.1.1 was built at /scratch3/NCEPDEV/nwprod/NCEPLIBS on theia. Update WRFIO_LIB
to /scratch3/NCEPDEV/nwprod/NCEPLIBS/compilers/intel/15.1.133/lib/libwrfio_v1.1.1.a.

[2019-09-17 17:38] WenMeng-NOAA commented on #1
The changes are made in branch devlop on git@github.com:WenMeng-NOAA/EMC_post.git. No changes
are expected on UPP regression tests.

[2019-09-17 19:22] WenMeng-NOAA commented on #1
The changes were integrated to develop under NOAA-EMC/EMC_post at @330fc3a.

[2019-09-17 19:22] #1 closed, assigned to WenMeng-NOAA

[2019-12-12 17:39] JeffBeck-NOAA opened #30 "Ability to read output from FV3 native grid for both global and SAR applications"
@gsketefian @jwolff-ncar @JacobCarley-NOAA @BenjaminBlake-NOAA @JulieSchramm @mkavulich @llpcarson @panll @fentoad72

[2019-12-19 15:14] climbfuji opened #38 "Filenames that only differ in uppercase/lowercase are incompatible with macOS"
There are two pairs of files that differ only in their first character being uppercase or lowercase:
[code]
and
[code]
This is  incompatible with the macOS filesystem, which is semi case-sensitive (it is case preserving, but otherwise doesn't distinguish). Are both versions required for each of those pairs? If so, can one of them be renamed?

[2019-12-19 18:09] fossell opened #39 "Finalize ufs_public_release for testing within MRweather app"
- [ ] New community build restructuring for DTC_post needs to be merged into ufs_public_release once testing is complete.
- [x] cmake mods from #34 need to be merged.
- [ ] Tests need to see if new structure is compatible with umbrella nceplibs superproject.

[2019-12-19 18:16] fossell commented on #39
@WenMeng-NOAA - Do suggest that we merge develop into ufs_public_release branch to bring in recent mods (e.g. issues #28 #29 #32 #37) to the ufs branch?  Will those be needed for ufs app or do you prefer to keep ufs_public_release branch frozen as-is?  I will plan to merge in current develop branch to ufs_public_release unless you have a reason not to.

[2019-12-20 05:10] WenMeng-NOAA commented on #39
These new commits are the mods for tweaking gtg(was) data, fv3HAFS, and inline post. It is optional to sync in the public release version.

[2019-12-20 16:22] fossell commented on #39
@WenMeng-NOAA Thanks for your guidance!

[2019-12-27 19:41] fossell commented on #38
@climbfuji - Some of this might be taken care of with the new community build structure we're working on implementing.  @mkavulich is working on this and I think he had tested MacOS builds.  We have some other issues with the build that we're working through at the moment, but perhaps @mkavulich can provide a quick answer for this.

[2019-12-30 04:11] mkavulich commented on #38
@fossell The tests I have done on MacOS have been on a machine that is built with case-sensitivity enabled. I believe the unified build will still fail to compile on MacOS with the default case-insensitive setting. It should be an easy fix, but it will result in changing some naming conventions for the unified build, so we should probably consult with EMC before committing anything.

[2020-01-11 01:53] WenMeng-NOAA opened #47 "Capability of detect gaussian grid scanning mode north2south vs. south2north"
Add a a fix from Dusan Javic for  scanning mode in POST for gaussian grid to detect north2south vs. south2north based on latstart vs latlast.
The change in sorc/ncep_post.fd/grib2_module.f as:
-------------------
@@ -1389,6 +1389,11 @@
        ifield3(16) = lonlast
        ifield3(17) = NINT(360./(IM)*1000000.)
        ifield3(18) = NINT(JM/2.0)
+       if( latstart < latlast ) then
+        ifiel

[2020-01-13 14:22] WenMeng-NOAA commented on #47
The pull request was created at https://github.com/NOAA-EMC/EMC_post/pull/48.

[2020-01-13 14:24] WenMeng-NOAA commented on #47
The PR was viewed and approved by Dusan.

[2020-01-13 16:14] climbfuji commented on #47
Merged into ufs_public_release (https://github.com/NOAA-EMC/EMC_post/pull/48). Will there be a corresponding PR for develop/master?

[2020-01-13 16:40] WenMeng-NOAA commented on #47
@climbfuji Thanks for merging. I will create another PR for branch develop update. The UPP branch
develop and ufs_public_release are not unified. I would expect both of you and Kate to take care of maintaining ufs_public_release branch. I will maintain branch develop. Please let me know if you have comments/suggestions. Thanks!

[2020-01-13 19:04] climbfuji commented on #47
This sounds good to me, thanks!

[2020-01-17 00:46] WenMeng-NOAA commented on #47
This new feature was committed in branch develop at 927708e on 01/16/19.

[2020-01-17 00:47] #47 closed, assigned to nobody

[2020-02-05 16:45] fossell opened #64 "Update branch name to release/public-v4 for public release"
It was decided to retain DTC's versions from community releases for the UFS branches and tags.  DTC's UPP is working on release V4.1 at the moment.  As such, need to change branch name that ufs uses for develop to release/public-v4.  I will create this new branch from the existing release/public-v1 when confirmed it is ok to do so.  Development will need to be done in the release/public-v4 branch

[2020-02-05 17:00] climbfuji commented on #64
@fossell Hey Kate, as long as all open PRs have been merged that's fine with us. We committed an update earlier today (https://github.com/NOAA-EMC/EMC_post/pull/63) to release/public-v1. As long as that is included we are ok. Just let us know, please, and we will update the NCEPLIBS. Thanks!

[2020-02-05 17:43] climbfuji commented on #64
@fossell now would be a great time. If you don't mind I do this right away, because I need to commit something to the NCEPLIBS umbrella build anyway.

[2020-02-05 17:53] climbfuji commented on #64
Done. Link to PR for NCEPLIBS umbrella: https://github.com/NOAA-EMC/NCEPLIBS/pull/34

[2020-02-05 18:45] fossell commented on #64
@climbfuji I'm in meetings until 3pm, can't get to it until then.

[2020-02-05 19:50] climbfuji commented on #64
No worries, I created the branch. Thanks!

[2020-02-05 22:18] fossell commented on #64
Thanks @climbfuji !!

[2020-02-05 22:49] #64 closed, assigned to nobody

[2020-02-14 16:40] DusanJovic-NOAA opened #76 "release/public-v1: Update cmake submodule to dbee713"
Update cmake submodule to https://github.com/NOAA-EMC/CMakeModules/commit/dbee713df97dd040767ac6cea7de1ea6bdcfa8a6

[2020-02-14 16:51] climbfuji commented on #76
I'll take care of this, I have some other updates to come for macOS.

[2020-02-14 17:03] DusanJovic-NOAA opened #77 "release/public-v1: issue with find_package(sigio REQUIRED)"
I am getting this error when I run cmake:
[code]
There is a file named ``cmake/Modules/FindSIGIO.cmake``. Looks like cmake find_package must use correct (upper case) name of the module, here:

https://github.com/NOAA-EMC/EMC_post/blob/4511de5a221e1b9ba36f336ea60604cda4189c92/CMakeLists.txt#L46

Has this been tested on case-sensitive filesystem?

[2020-02-14 17:13] climbfuji commented on #77
I have not tested the standalone version, the NCEPLIBS umbrella build does this differently by including the libraries with add_subdirectory. The umbrella build itself has of course been tested on case-sensitive file systems. I can try to change the find_package statement and see if it breaks the umbrella build or not.

[2020-02-14 17:17] kgerheiser commented on #77
We output the `sigio-config.cmake` as lowercase, and `FindSIGIO.cmake` is capital. So, either we change `FindSIGIO.cmake` or output the config files as `SIGIO-config.cmake`.

[2020-02-14 17:20] climbfuji commented on #77
Ok, so how do you want to fix this? I think it doesn't affect the umbrella build at all, because the targets are already defined. I am makingsome changes right now for getting this to work on gaea (got to do with a mixture of OpenMP and non-OpenMP). But if you want to make the changes in the various submodules, then please do so and I will pull them in. I would say we need to be consistent, hence

[2020-02-14 17:22] climbfuji commented on #77
If this involves a lot of changes, then I'd say do EMC_post and UFS_UTILS only for today (because these are the two libraries than Dusan wants to handle separately as far as I know) and leave the rest for next week after the gaea bugfixes have been committed and tested.

[2020-02-14 17:38] kgerheiser commented on #77
The quickest and most painless solution for now is to just change `FindSIGIO.cmake` to `Findsigio.cmake`. Only 1 repo change. Otherwise, there's a lot of changes across many repos.

[2020-02-14 21:26] fossell opened #79 "Rename UFS release branch (again)"
Further discussion and decisions have been made to use EMC's version numbers for ufs branches/tags.  Need to rename release/public-v4 to release/public-v8.  I can do this after current PRs are complete #76 #77 #78 .
@climbfuji Please let me know when ready for new branch to be created.  Updates to submodule pointers will be needed as well.  No immediate rush as I will not be available to make the

[2020-02-14 21:34] #77 closed, assigned to nobody

[2020-02-14 21:35] climbfuji commented on #76
See https://github.com/NOAA-EMC/EMC_post/pull/78

[2020-02-16 14:49] climbfuji commented on #76
#78 has been merged.

[2020-02-16 14:49] #76 closed, assigned to nobody

[2020-02-18 15:37] fossell commented on #79
Branch release/public-v8 has been created.
@climbfuji @kgerheiser @DusanJovic-NOAA @mark-a-potts  - I will delete old public release branches by 4pm today unless told to keep them.  Submodule pointers should be updated to point to release/public-v8 for EMC_post repository.  Please let me know if you need more time to make the change in all necessary places.

[2020-02-18 15:43] climbfuji commented on #79
Thanks. I quickly updated the .gitmodules file in NCEPLIBS, see here: https://github.com/NOAA-EMC/NCEPLIBS/pull/45 - I checked the code, the hash before/after is the same.

[2020-02-18 17:08] fossell commented on #79
@climbfuji Thanks for the quick turnaround Dom!

[2020-02-18 23:33] #79 closed, assigned to nobody

[2020-02-19 18:24] DusanJovic-NOAA opened #84 "Warning: Extension: Unary operator following arithmetic operator"
[code]

[2020-02-19 19:32] DusanJovic-NOAA opened #85 "release/public-v8: Post executable should be linked with "_4" version of g2tmpl"
Post executable should be linked with "_4" version of g2tmpl ( not "_d" ), like all other ncep libraries.

https://github.com/NOAA-EMC/EMC_post/blob/d4a38debfa57b6b515f3ff5dff99f1e68a5bab92/sorc/ncep_post.fd/CMakeLists.txt#L201

Post executable is not compiled in double precision.

[2020-02-21 16:20] DusanJovic-NOAA opened #88 "release/public-v8: Delete old makefiles"
Public release branch is using cmake. Old makefiles should be deleted.
[code]

[2020-02-21 16:53] fossell commented on #88
@DusanJovic-NOAA - while some of these may be old and not used for any application, others are necessary for building EMC_post in a standalone manner or for operational use (e.g. makefile, makefile_dtc, makefile_module).  Our vision is that we will support standalone versions of UPP from release/public-v* branches so that community can use the same code within and outside any UFS app.  Even if we

[2020-02-21 17:52] WenMeng-NOAA commented on #88
I agree with @fossell. Right now we use makefile_module to build UPP executable for our UPP standalone test. The makefile_module is also used by ops. and emc gfs workflow and other application's workflow. The makefile_lib is used for building post library. We might delete some obsolete makefile from Dusan's list.

[2020-02-21 17:54] DusanJovic-NOAA commented on #88
I'm talking about release/public-v8 branch which is not used in production. Is emc gfs workflow using this branch?

[2020-02-21 17:59] fossell commented on #88
@DusanJovic-NOAA Yes I understand you mean just release/public-v8 branch, but removing all of them means that a user will not be able to build that branch outside of the app.  While that's ok right now, future vision is to have that possibility.
Most importantly though, I do not think it is wise to let release/public-v8 branch diverge from develop in this manner.  This will not be consistent with

[2020-02-21 18:00] WenMeng-NOAA commented on #88
The emc gfs workflow does not use release/public-v8. If you keep makefile_module and makefile_lib, it would be good for me to run UPP standalone test for trouble-shooting UPP related issues.

[2020-02-21 18:22] WenMeng-NOAA commented on #88
@fossell 's proposal makes sense to me.

[2020-02-24 17:06] DusanJovic-NOAA opened #91 "release/public-v8: Out of Bound Exception in GFSPOST.F (tpause subroutine)"
When I run post compiled with a flag that checks out-of-bound exceptions, I get the following runtime error:
[code]

[2020-02-24 17:59] fossell commented on #91
@DusanJovic-NOAA We just encountered this bug as well but have not submitted an issue yet.  It's pops up in processing other models as well.  Just fyi - we have uncovered other bugs in debug mode as well (mostly unintialized variables), I'm not sure they will crop up for UFS testing, but please let us know and we can see if we have a solution already in DTC_post branch.

@WenMeng-NOAA - This TPAUS

[2020-02-24 18:39] WenMeng-NOAA commented on #91
@DusanJovic-NOAA , @fossell , @hertneky Thanks for catching this bug. Can any one submit a change so that I can test in UPP regression tests for any impacts on other models.

[2020-02-24 19:01] WenMeng-NOAA commented on #84
@DusanJovic-NOAA Thanks for catching this bug. Can you submit a change so that I can integrate into the branch develop and the branch for ufs public release?

[2020-02-24 19:03] WenMeng-NOAA commented on #85
@DusanJovic-NOAA I think this issue was solved in release/public-v8, right? I might close it.

[2020-02-24 19:32] climbfuji commented on #84
Whoever does that please make sure to do the same for the public release branch (if applicable) ... thank you!

[2020-02-24 20:42] WenMeng-NOAA commented on #84
@DusanJovic-NOAA and @climbfuji I just contact with the UPP developer. The "--" is a typo. The correct one would be "npass = npass + nint(0.5*(jtem-j))". Actually this block will not be processed with FV3 output. BTW, I will create a PR and make available in branch develop and release/public-v8.

[2020-02-24 20:49] DusanJovic-NOAA commented on #85
Yes. Fixed in https://github.com/NOAA-EMC/EMC_post/commit/ed61d7dd3b2e742d6e3657bb9e9e2fe9127ed914

[2020-02-24 20:49] #85 closed, assigned to nobody

[2020-02-24 20:52] climbfuji commented on #84
Thanks, @WenMeng-NOAA!

[2020-02-24 21:24] DusanJovic-NOAA commented on #91
I'm getting this syntax error when I build EMC_post (public release branch) using Intel compiler with debug flags:

[code]
I don't know if this error is related to the above out-of-bounds issue (with GNU compiler).

[2020-02-25 13:58] DusanJovic-NOAA commented on #91
@WenMeng-NOAA @fossell Any chance of merging your bug fixes related to the use of uninitialized variables. For example I'm getting this run-time error:
[code]
which I'm sure you already have a fix for.

[2020-02-25 14:30] DusanJovic-NOAA commented on #91
This change:
[code]
seems to fix the first issue:
[code]

[2020-02-25 21:15] DusanJovic-NOAA commented on #84
Fixed in https://github.com/NOAA-EMC/EMC_post/commit/3f8a4b888f00f4e1576fb91f5697b225f8d9434c

[2020-02-25 21:15] #84 closed, assigned to nobody

[2020-02-25 21:15] DusanJovic-NOAA commented on #88
Fixed in https://github.com/NOAA-EMC/EMC_post/commit/3f8a4b888f00f4e1576fb91f5697b225f8d9434c

[2020-02-25 21:15] #88 closed, assigned to nobody

[2020-02-26 14:57] WenMeng-NOAA commented on #91
@DusanJovic-NOAA Thanks for the fix. I will test your fix for lines:
call rsearch1(km-2,p(2),2,ptplim(1),klim(1))
call rsearch1(km,p(1),2,pmwlim(1),klim(1))

[2020-02-26 16:30] fossell commented on #91
@DusanJovic-NOAA - After reviewing, I don't think our uninitialized variables fixes will help in this case since they are for WRF model processing in the INITPOST.F routine, but you can look at #72 if that's helpful.  There are likely plenty more in the code, we have not had time to identify all debug issues at this time.

[2020-02-27 13:27] #91 closed, assigned to nobody

[2020-02-27 17:38] DusanJovic-NOAA opened #102 "Subscript #1 of the array ID has value 36 which is greater than the upper bound of 25"
[code]
This should be fixed:
[code]

[2020-02-27 17:48] fossell commented on #102
Alternative "fix" can be found in DTC_post branch provided by developer: commit 912393b1645.

[2020-02-27 17:53] fossell commented on #102
@DusanJovic-NOAA - I realize because of the differing/conflicting release timelines of ufs public release and DTC_post, there may be bug fixes in DTC_post that might need to go into public-v8.  I'm not sure how to do identify which, but if you encounter more in debug mode, peruse the [DTC_post commits](https://github.com/NOAA-EMC/EMC_post/commits/DTC_post) and perhaps we already have a fix.  Anoth

[2020-02-27 17:54] DusanJovic-NOAA commented on #102
Great. If ID(36) is not needed can you apply fix in 912393b to release/public-v8.

[2020-02-27 17:56] DusanJovic-NOAA commented on #102
I think we are so close to the public release that I think is too risky to merge entire DTC_post branch into release/public-v8.

[2020-02-27 17:58] fossell commented on #102
@DusanJovic-NOAA - Agreed, it's on our list for post-release.

[2020-02-27 19:05] fossell commented on #102
Fixed with #103. Closing.

[2020-02-27 19:05] #102 closed, assigned to nobody

[2020-02-27 22:56] climbfuji opened #105 "release/public-v8: post job crashes on Cray (gaea) in MPI layer"
Running the ncep_post executable of the release/public-v8 branch on gaea using the cray-intel compiler 18.0.3.222 and cray-mpich/7.4.0 crashes in grib2_module.f when trying to open the file:
[code]
This line is
[code]
Obviously the `Unknown`s are coming from the MPI layer - hence not much more I can do in terms of turning on debug flags. If anyone has seen this and knows a solution, please let me

[2020-02-27 22:57] climbfuji commented on #105
@mkavulich @fossell

[2020-02-27 23:05] GeorgeVandenberghe-NOAA commented on #105
*MPI_IO is totally and completely broken on Gaea.  You see this error when
you call mpi_file_open.   THERE IS NOTHING WRONG WITH YOUR PROGRAM.*

To avoid it,  rebuild using cray-mpich/7.7.0 in your build environment
(module unload cray-mpich/7.4.0, module load cray-mpich/7.7.0)

nemsio and parallel hdf5 will also have to be rebuilt with that cray-mpich
module loaded.  You might as well rebuild eve

[2020-02-27 23:06] climbfuji commented on #105
Thanks for the hint! I will try this, since I am building netCDF and all its dependencies statically, this isn't a big deal.

[2020-02-27 23:30] climbfuji commented on #105
Update - if I run this with only one MPI task, it works (with the libraries built against the broken MPI-IO, which is not used in this case, of course). Now rebuilding everything with the newer cray mpich.

[2020-02-27 23:33] GeorgeVandenberghe-NOAA commented on #105
I'll mention that I reported this problem to GFDL, October 2018 and that
generated the new  mpich/7.7.0 about three weeks later.  It's
still not the default and this is a silent trap for *anybody* who uses
MPI_IO.

On Thu, Feb 27, 2020 at 6:30 PM Dom Heinzeller <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College

[2020-02-28 03:54] climbfuji commented on #105
Unfortunately, changing to cray-mpich/7.7.0 didn't help. I rebuilt everything from scratch using cray-mpich/7.7.0: zlib, hdf5, netcdf, png, jpeg, jasper, esmf, wgrib2, and the whole bunch of NCEPLIBS. The error is exactly the same,
[code]
At this point, I don't know how much we can do for the release except running `ncep_post` as a serial application (i.e. only one MPI task). I don't know to which

[2020-02-28 04:06] GeorgeVandenberghe-NOAA commented on #105
Where is a CWD with the file that needs to be post processed.  I will take
a look at this tomorrow.  Also where is your executable?
I am able to post process netcdf output from the forecast model.

Also even though that post is static, for some bizarre reason,
cray-mpich/7.7.0 needs to be loaded in your runtime environment.
I don't know why.

On Thu, Feb 27, 2020 at 10:54 PM Dom Heinzeller <notifi

[2020-02-28 04:10] climbfuji commented on #105
/lustre/f2/scratch/Dom.Heinzeller/ufs-mrweather-app/c96-gfsv15p2/run

Not sure if you can see that. Maybe it's got to do with the stacksize/OMP_stacksize limitations or something else? The output is netCDF. Executable:
[code]
Let's call it a day and reconvene tomorrow ... thanks for your help!

[2020-02-28 04:28] GeorgeVandenberghe-NOAA commented on #105
blocked at the /lustre/f2/scratch/esrl/Dom.Heinzeller point

On Thu, Feb 27, 2020 at 11:10 PM Dom Heinzeller <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

George.Vandenberghe@noaa.gov

301-683-3769(work)  3017751547(cell)

[2020-02-28 04:57] GeorgeVandenberghe-NOAA commented on #105
First, the following program reveals the bug

    include 'mpif.h'

    integer ierr, i, myrank, BUFSIZE, thefile
    parameter (BUFSIZE=100)
    integer buf(BUFSIZE)
    integer(kind=MPI_OFFSET_KIND) disp

    call MPI_INIT(ierr)
    call MPI_COMM_RANK(MPI_COMM_WORLD, myrank, ierr)

    do i = 0, BUFSIZE
        buf(i) = myrank * BUFSIZE + i
    enddo
    call MPI_FILE_OPEN(MPI_COMM_WORLD, 'testf

[2020-02-28 14:37] climbfuji commented on #105
Can you look at my rundir now?

And are you saying to use 7.7.3 instead of 7.7.0? If so, I'll rebuild everything again.

Thanks!

[2020-02-28 14:55] GeorgeVandenberghe-NOAA commented on #105
Yes.  I was wrong about 7.7.0 but have verified 7.7.3 works.  So yes you
need to rebuild everything (actually nemsio, hdf5, netcdf, and ESMF  only)
and then rebuild the post.

Once that's done I have a canned testcase, failing the same way yours did
(I missed it) .

On Fri, Feb 28, 2020 at 9:37 AM Dom Heinzeller <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/

[2020-02-28 14:59] climbfuji commented on #105
Will try after my next meeting. Thanks!

[2020-02-28 17:55] climbfuji commented on #105
Yes!! This works:
[code]
Thanks so much, George.

[2020-02-28 17:55] #105 closed, assigned to nobody

[2020-04-07 21:20] #39 closed, assigned to mkavulich, fossell

[2020-04-07 21:21] fossell commented on #39
Closing this issue since the new build structure did not go into the release. Will create new issue for the merge.

[2020-04-07 21:23] fossell opened #115 "Make itag fortran namelist"
Request from UFS MRweather APP development.  View[ Issue 65](https://github.com/ufs-community/ufs-mrweather-app/issues/65) on ufs-meweather-app repo.

[2020-04-20 20:20] yangfanglin opened #118 "UPP runs slow on HERA -- staskfarm and multi-prog options"
UPP runs slow on HERA because "srun" does not support MPMD or CFP.   Wen Meng suggested to use staskfarm, which is equivalent to MPMD/CFP.  Offline tests showed staskfarm appears to be working. However, there are two issues.  First, it always creates a directory .taskfarm_job_$LSF_JOB_ID under the running directory, it contains many small job scripts to be run on each task.  $LSF_JOB_ID is uniquel

[2020-04-20 20:29] yangfanglin commented on #118
I then noticed "srun" has this --multi-prog option that can send multiple jobs to different PEs.  I have updated fv3gfs_downstream_nems.sh to use this function.  It works great, producing UPP products within 1-2 minutes for each forecast hour (without the GOES Images). Here are the changes

diff --git a/ush/fv3gfs_downstream_nems.sh b/ush/fv3gfs_downstream_nems.sh
index fa4fc3e..eb06859 100755
---

[2020-04-21 00:05] WenMeng-NOAA commented on #118
@yangfanglin Your change look good for me with the UPP standalone test. I combine it with the UPP
PR #117 at https://github.com/NOAA-EMC/EMC_post/pull/117. Please review.

[2020-04-22 19:28] WenMeng-NOAA commented on #118
The changes were integrated in develop commit @d59cabf. Close the issue.

[2020-04-22 19:28] #118 closed, assigned to nobody

[2020-04-23 17:49] zhanglikate opened #120 "Adding a line to fixed the bug of scattering calculation"
Change line " IF (IDECID == 17 ) THEN" as
"IF (IDECID == 17 .or. IDECID == 20 .or. IDECID == 21) THEN"

[2020-04-23 19:29] WenMeng-NOAA commented on #120
Kate's change was submitted at the PR #121 at
https://github.com/NOAA-EMC/EMC_post/pull/121

[2020-04-23 19:32] zhanglikate commented on #120
Your change is not correct. You should update the red part, you missed the middle one. Thanks very much for your help.

Change line " IF (IDECID == 17 ) THEN” as "IF (IDECID == 17 .or. IDECID == 20 .or. IDECID == 21) THEN”.

Thanks.

Kate

[2020-04-23 19:51] WenMeng-NOAA commented on #120
Kate,

You are right. The new change was added in the PR #122.

[2020-04-23 19:54] WenMeng-NOAA commented on #120
The branch gefs_v12_release was committed at @0baf6bf with the bug fix of scattering calculation.

[2020-05-12 14:15] WenMeng-NOAA opened #125 "Reading undefined value from regional FV3 model output in netcdf"
In the UPP read interface for regional FV3 in netcdf, the undefined values (missing value) is hard-wired. When the model history files have more than two undefined values, a field list has to be manually updated for the second undefined value. It is easy to make a variable's missing value mis-defined.

[2020-05-12 14:17] WenMeng-NOAA commented on #125
The changes are incorporated in the read interface for regional FV3 in netcdf for reading undefined value of a variable from its attribute in netcdf.

[2020-05-12 14:28] WenMeng-NOAA commented on #125
The changes are committed in branch develop at @e9724ea with the PR #124.

[2020-05-14 14:09] #125 closed, assigned to nobody

[2020-05-14 14:16] WenMeng-NOAA opened #127 "Modify gfs v16 products pgrb2 and pgrb2b"
Fanglin sent the request for gfs v16 products:
1) move SPFH from the pgrb2b to pgrb2 group
2) In group  pgrb2 , write U, V, T, RH, SPFH, W,  O3, Vorticity on the same 41 isobaric layers from 1000 hPa  to 0.01 hPa, Write cloud hydrometers on layers rom 1000 hPa to up to 50 hPa.
3) update analysis pgrb2 files to have the same vertical profiles as the forecast files

[2020-05-14 14:23] WenMeng-NOAA commented on #127
Hui-ya got NCO's confirmation that the changes should be added in gfs v16 SCN.

[2020-05-14 14:30] WenMeng-NOAA commented on #127
Wen made the changes in UPP branch post_orion under her fork and submitted the PR.
The main changes are:
1) Add configuration for Orion.
2) Make fields at isobaric levels at all forecast hours and analysis having the same vertical profiles in prgb2 dataset
3) Remove SPFH at isobaric levels from pgrb2b dataset to pgrb2 dataset

[2020-05-18 13:47] #127 closed, assigned to nobody

[2020-05-18 18:41] WenMeng-NOAA opened #128 "Modify field lists in gfs v16 PGB data sets"
Per global model  developer's request, modify gfs v16 PGB data sets as;
1) Make fields at isobaric levels have 41 vertical levels for all forecast hours and analysis in pgrb2 dataset.
2) Remove SPFH at isobaric levels from pgrb2b dataset.

[2020-05-18 18:42] WenMeng-NOAA commented on #128
The changes are included in PR #126 and was committed in branch develop at @4616ee7.

[2020-05-18 18:43] #128 closed, assigned to nobody

[2020-05-21 22:03] aerorahul opened #129 "include install directory destination is incorrect in cmake."
`module_dir` variable for Fortran module files in [L189](https://github.com/NOAA-EMC/EMC_post/blob/564e26f550d5b444a885286fe6e648249021ed04/sorc/ncep_post.fd/CMakeLists.txt#L189) is  defined as:
[code]

During install, these files are copied into the destination `include` as seen in [L221](
https://github.com/NOAA-EMC/EMC_post/blob/564e26f550d5b444a885286fe6e648249021ed04/sorc/ncep_post.fd/CMakeLi

[2020-05-30 02:54] WenMeng-NOAA commented on #129
The PR #130 was merged in release/public-v1 at @87f9840 on 05/26/2020.

[2020-05-30 02:54] #129 closed, assigned to nobody

[2020-06-09 17:07] fossell opened #133 "Merge DTC_post into develop"
A major sync of the DTC community branch into the develop branch was performed.  This includes merging in the community build structure into the develop branch, allowing for smoother code management and development procedures between community and operations moving forward.

PR #131 details the merge.

[2020-06-09 17:25] WenMeng-NOAA commented on #133
The UPP regression tests are conducted on Dell, Cray and Hera. No changed results are found.
The PR is merged to branch develop at @34c7a61 on 06/09/2020.

[2020-06-11 16:04] JeffBeck-NOAA opened #134 "Build fails on Jet due to removal of /lfs3 soft links for NCEP libraries"

[2020-06-11 17:13] WenMeng-NOAA commented on #134
I have been starting this work and will keep you updated.

[2020-06-11 17:33] JeffBeck-NOAA commented on #134
Thanks, Wen!

- Jeff

On Thu, Jun 11, 2020 at 11:13 AM WenMeng-NOAA <notifications@github.com>
wrote:

[2020-06-11 23:28] WenMeng-NOAA commented on #134
@JeffBeck-NOAA Can you test the branch post_jet on my UPP fork at
https://github.com/WenMeng-NOAA/EMC_post/

Beside updating lfs4, I also upgrade netcdf library with parallel_netcdf. You may change your runtime module with:
module load hdf5_parallel/1.10.6
module load netcdf_parallel/4.7.4

[2020-06-11 23:33] #133 closed, assigned to nobody

[2020-06-12 02:31] JeffBeck-NOAA commented on #134
@WenMeng-NOAA Branch post_jet in your fork compiles successfully on Jet.  Thank you!  Feel free to tag me on the PR and I will be happy to approve it.

I am in the process of modifying the FV3-SAR community workflow to directly source all module files from the build repository to use at run time, so this change will be automatically incorporated when the workflow checks out EMC_post in the future.

[2020-06-12 12:03] WenMeng-NOAA commented on #134
The PR #135 was merged to the branch develop at @a30924d.

[2020-06-12 19:24] #134 closed, assigned to nobody

[2020-06-12 19:30] WenMeng-NOAA opened #137 "Output new fields in gfs v16 product"
Per the MEG team's request, new fields are added in gfs v16 product:
1) output cloud ceiling height and instant total cloud fraction.
2) output instant cloud fraction at low/mid/high cloud layer.
3) correct grib2 names of time averaged cloud fraction fraction at low/mid/high cloud layer from "TCDC" into "LCDC, MCDC, HCDC".
4) output radar reflectivity at 1/4 km above ground and model layer 1/2.
5)

[2020-06-12 19:34] WenMeng-NOAA commented on #137
Fanglin tested gfs v16 parallel run and found restart has changed result in REFC. Ruiyu looked into the UPP code and found DBZI initialization issue and added a bug fix.

[2020-06-12 19:36] WenMeng-NOAA commented on #137
It was decided by gfs v16 implementation management that removing 4 fields simulated GOES-12 brightness temperature from gfs v16 product.

[2020-06-12 19:37] WenMeng-NOAA commented on #137
All of changes are committed in branch post_ceilling under Wen's UPP fork.

[2020-06-12 19:40] WenMeng-NOAA commented on #137
Geoffrey Mainikin evaluated new fields in gfs v16 product. The results look good.

[2020-06-12 19:41] WenMeng-NOAA commented on #137
The RP #136 was created for merging to branch release/gfs_16.

[2020-06-12 19:47] WenMeng-NOAA commented on #137
The branch release/gfs_16 was committed at @ff3a490 on 06/12/2020. A new tag upp_gfsv16_release.v1.0.9 was created for gfs v16 parallel run

[2020-06-16 20:42] aerorahul commented on #38
@fossell @WenMeng-NOAA can you please take action on this issue with these files?
A simple renaming of the unused conflicting file out of the way will do as suggested by @climbfuji.

`develop` is the default branch, and when this repository is cloned on a macOS,  there is no way to change the branch.

[2020-06-16 20:51] fossell commented on #38
@aerorahul - Apologies for the delay and difficulties this has brought.  The clean up of the makefiles should be taken care of when we merge release/public-v1 into develop. @mkavulich is working on this as we speak. This should be a simple merge and hopefully doesn't take long.   @mkavulich can you provide an update on your testing and expected time line for submitting a PR?

[2020-06-16 20:53] fossell opened #138 "Merge release/public-v1 into develop"
Changes from UFS MWR App release branch v1 need to be merged back into the develop branch.  Changes should be minimal and include a couple bug fixes, clean up of makefiles, and additional files for cmake build capabilities.

[2020-06-16 20:55] fossell commented on #38
I'll also note that if we need a quick action fix for develop, the decision was made to remove the files Makefile_lib and Makefile. I can work with @WenMeng-NOAA to push this quickly if @mkavulich is delayed in the merge.

[2020-06-18 18:26] #137 closed, assigned to WenMeng-NOAA

[2020-06-18 18:57] WenMeng-NOAA opened #139 "Cloud ceiling failure in in-line post"
The PR #136 which was merged to branch release/gfs_v16 output cloud ceiling from GFS V16. This commit causes in-line post hung in processing total cloud fraction. It was figured out  that the GFS
total cloud fraction computation call UPP subroutine  AllGETHERV which uses MPI_COMM_WORLD.
The MPI_COMM_WORLD will make all tasks including forecasting syncing each other. That makes the whole FV3 job hu

[2020-06-18 19:06] WenMeng-NOAA commented on #139
Per Fanglin's suggestion, a new total cloud fraction is initialized at individual grid instead of a box of
grids as:
       DO L=LM,1,-1
          DO J=JSTA,JEND
            DO I=1,IM
              FRAC =CFR(I,J,L)     !- 3D cloud fraction (from radiation)
              PCLDBASE=PMID(I,J,L)
              IF (PCLDBASE>=PTOP_LOW) THEN
                CFRACL(I,J)=MAX(CFRACL(I,J),FRAC)
              E

[2020-06-20 01:26] WenMeng-NOAA commented on #139
Some explanation from from Fanglin:
Brad Ferrier developed a scheme to compute instantaneous Low/Mid/High cloud fraction in the POST for NAM. Because NAM only has binary cloud fraction (1 vs 0) at each model grid, he used the average over a few model grids over a 14 by 14-km box to compute "fractional" cloud cover.

Wen applied this method to compute L/M/H clouds for GFS.v16. It worked in offline

[2020-06-20 01:30] WenMeng-NOAA commented on #139
On 06/19/2020, the branch release/gfs_v16 was committed at @35daf5 with PR #142. A new tag
upp_gfsv16_release.v1.0.9 was created for gfs v16 parallel run and installing post/8.0.9.

[2020-06-24 14:12] fossell opened #144 "UPP version numbers"
UPP uses different version numbers for different applications. There has not been a consistent effort to maintain a proper internal UPP versions and to tie that to external applications.  With UFS coming on board, and GFSv16, now is a good time to establish a set of standards for internal version numbering system.

[2020-06-24 14:18] fossell opened #145 "UPP naming conventions"
There is inconsistency in how UPP is named, referred to, tagged for releases, etc.  For example, community releases and support call it UPP and the executable is named unipost.exe, and in repository tags it uses "post".  Operational applications may tag the release code named with upp, but the executable is called ncep_post.  The in-line post library version is installed as ncep_post.  The reposit

[2020-06-24 14:51] WenMeng-NOAA commented on #138
The regression tests were conducted on Dell, Cray and Hera. No changed results were found.

[2020-06-24 14:51] #38 closed, assigned to mkavulich

[2020-06-24 14:51] #138 closed, assigned to mkavulich, fossell

[2020-06-24 14:54] WenMeng-NOAA commented on #138
The develop was committed at a51df0c for merging PR #141.

[2020-06-26 12:51] WenMeng-NOAA commented on #145
To rename UPP repository name on github will be straightforward. But there might be more actions for renaming:

- notify UPP collaborators to rename their UPP forks (29 forks)

- notify model develop groups from internal and external EMC to update their model workflow
   GFS, GEFS, HAFS, HWRF, FV3SAR, FV3-coupling at EMC, NSSL, GSD and others

- notify DTC UPP community

- others?

We need a timel

[2020-06-26 14:00] WenMeng-NOAA commented on #145
The executable "ncep_post" which is built by build_ncep_post.sh. This build script is adapted for NCEP model operational implementation.  An example for gfs.  From NCO implementation requirement, the gfs workflow has a procedure to check out UPP tag, build executable ncep_post, and rename as gfs_ncep_post. All source code, workflow scripts and parm files under UPP structure will be assembled in th

[2020-06-29 16:37] fossell opened #146 "Merge cmake updates from PR #140 into release/public-v1"
@aerorahul - Do the updates that went into develop on #140 need to be brought into the release/public-v1 branch in preparation for v1.1 release?

There are major differences between develop and release/public-v1 right now, so I'd like to cherry-pick the commit to bring it into release/public-v1, as opposed to merging the full develop (UFS v2.0 will branch from develop).  I started this on my fork,

[2020-06-29 20:44] fossell commented on #145
If changing the name of the repository is agreed to, I propose waiting until a major release to finalize and announce the change to community.  Preferably this could coincide with UFS V2.0 release currently slated for end of October. This would give adequate time for community to prepare and notify all impacted parties.  Need to confirm this would work for operations as well.

[2020-06-29 20:52] WenMeng-NOAA commented on #145
@fossell I agree with your proposal. With repository name changing, I would expect a lot of coordination efforts on implementation support and community support. We don't like to receive chunk of emails regarding their post processing failures in one day.

[2020-06-29 20:54] aerorahul commented on #146
@fossell
I would suggest not bringing `develop` into `release/public-v1`. I don't think we want to mess with `release/public-v1` branch.  It is a released branch, and should be fixed hereafter.  I would rather suggest creating a new branch from `release/public-v1` (say `feature/public-v1.1.0-rc`).  Ideally, one would do that from `develop`, even if it is an incremental change from `release/public-

[2020-06-29 21:02] climbfuji commented on #146
@aerorahul please note that the branching strategy for the UFS releases has been discussed and decided upon in length. The rules are:
- major releases (v1.0, v2.0) are created from develop (in the absence of master) by creating a major release branch, e.g. release/public-v1
- all minor releases and bugfix releases are created from that major release branch, e.g. v1.1.0 is created frorm release/pub

[2020-06-29 21:12] fossell commented on #146
@climbfuji - Thanks Dom, I was just responding with the branching strategy discussed last week.  No rush on my end, it's up to your development team to decide what cmake mods need to go into release/public-v1 in preparation for v1.1.0 release.  Just keep me posted!

[2020-06-29 21:14] aerorahul commented on #146
@climbfuji
I am not arguing what the UFS wants to call their releases.
Also, I said `ideally`.
Is v1.1.0 just a bugfix release?
How will the public/user distinguish between `release/public-v1` and this new bugfix release? Will there be a branch or a tag or just a SHA to go by?

May be there is a document that describes all this.  If so, please point me to that document.

[2020-06-29 21:18] climbfuji commented on #146
No offense, so many moving parts.

To answer your question: tags - everything was tagged as v1.0.0 when the release came out in March. Whatever we want to bring into release v1.1.0 (which is a minor release / feature upgrade; for NCEPLIBS, there are bug fixes in UFS_UTILS and EMC_post, and the capability to process netCDF files - i.e. a feature upgrade and not a bugfix) will go into the release/pu

[2020-06-29 21:19] climbfuji commented on #146
Here is a link to the visualization/discussion. The solution we agreed on last Friday is on slides 5 and 6.

https://docs.google.com/presentation/d/1qCk0hwDMxeSlnGHES6gyDSwcrh43jhxgnQYWLTOpZWU/edit?usp=sharing

[2020-06-29 21:32] aerorahul commented on #146
slide 2 is `git-flow`.  This is the gold standard, so to speak.
slide 5 is UFS suggested flow and **NOT** entirely `git-flow`.
The offending arrows are the ones originating from `develop` and being merged in the `bugfix` or`minor` releases.
I understand bugfixes can go both in `bugfix release` and `develop`, but that is typically done with 2 branches, one off-of `develop` and other off-of `release

[2020-06-29 21:34] climbfuji commented on #146
I know. There is no ideal solution here. The git-flow approach in slide 2 as used for WRF is something EMC did not want to adopt. We'll work around all this, and as I said this is strictly speaking for the ufs model and its components, not necessarily for external libraries.

[2020-06-29 23:35] junwang-noaa commented on #146
I think we may need to discuss what features that will be added to release
branch. My understanding is that only bug fixes or fixes for broken
features in release branch need to go to release branch, basically the
release branch should be in maintenance mode without new development. If
new feature developed from develop branch is required, maybe it is time to
create the new release branch from dev

[2020-06-30 02:05] fossell commented on #146
@junwang-noaa - Yes, I think that's the idea and why I started this Issue to find out from @aerorahul and UFS developers if any of those cmake mods that went into develop branch need to be brought into the release/public-v1 branch for the v1.1 release.  I think bringing in develop branch changes into the release branch is done on a case by case basis to be determined by code managers, hence this I

[2020-06-30 02:26] climbfuji commented on #146
@fossell thanks for explaining this so well.

[2020-07-29 01:56] #139 closed, assigned to nobody

[2020-07-29 19:24] DusanJovic-NOAA opened #152 "Syntax error in MDL2STD_P.f"
[code]
Backslash is not standard Fortran line continuation character. Please use ampersand.

https://github.com/NOAA-EMC/EMC_post/blob/427fa51fbf42ce92d47d53b890c1865f4f296b33/sorc/ncep_post.fd/MDL2STD_P.f#L254

[2020-07-29 19:36] WenMeng-NOAA commented on #152
@DusanJovic-NOAA Thanks for catching this bug. Can you submit a PR so I can proceed merging in develop.

[2020-07-29 20:21] DusanJovic-NOAA commented on #152
See: https://github.com/NOAA-EMC/EMC_post/pull/153

[2020-07-30 11:19] #152 closed, assigned to nobody

[2020-08-04 15:53] fossell opened #157 "Updates for public release v2 - SRW App V1.0.0"
This Issue will serve as place to address all needs/updates/issues with the upcoming public-v2/SRWv1.0.0 release branch.  The branch "release/public-v2" was created 17 July 2020. All development/updates for this release should be done in this branch, not develop.

Tasks & Merges to develop to be considered for merge into release/public-v2:

1. #153 (Bug/syntax fix)
2. #156 (Update to cmake pointer

[2020-08-10 17:48] WenMeng-NOAA opened #158 "Merge gsd UPP"
Incorporate the changes of rapv5/hrrrv4 from gsd upp repository at VLAB.

[2020-08-10 17:58] WenMeng-NOAA commented on #158
All changes are at branch post_gsd under the fork https://github.com/WenMeng-NOAA/EMC_post:
1) source code changes
2) unified params_grib2_tbl_new
3) post_avblflds_raphrrr.xml, hrrr_postcntrl.xml and rap_postcntrl.xml

[2020-08-13 19:00] hertneky commented on #157
Posing a couple questions and I bug related to the control file for the UPP SRW release

1. Is the postxconfig-NT-fv3sar.txt the control file that the SRW will use?

2. If so what postcntrl.xml is used to create the above postxconfig?

3. There is an issue with the postxconfig-NT-fv3sar.txt for outputting the cloud fraction fields (e.g. low/mid/high) that needs to be fixed. The correct cloud fract

[2020-08-13 19:45] WenMeng-NOAA commented on #157
@hertneky The postxconfig-NT-fv3sar.txt is used by FV3SAR. The corresponding xml file is  fv3sar.xml.

[2020-08-13 19:53] fossell commented on #157
@mkavulich @jwolff-ncar @JeffBeck-NOAA - Can any of you address Tracy's (1)?  Does SRW workflow use the postxconfig-NT-fv3sar.txt file in UPP repo release/public-v2 branch or is that file stored elsewhere in the workflow/app?  We had an issue with this for MRW release, they grabbed a copy and stored it as a static file elsewhere, which caused confusion. Please let us know where the workflow for SR

[2020-08-13 20:46] JeffBeck-NOAA commented on #157
@fossell The SRW App workflow uses a fixed file version of postxconfig-NT-fv3sar.txt in regional_workflow/fix/fix_upp.  It has been kept up to date with what's in EMC_post (I see we are currently one change behind, for line 4120).

[2020-08-13 22:37] fossell commented on #157
@JeffBeck-NOAA - Thanks for the info, very helpful! So one thing we should be make sure we communicate moving forward is when that file changes on either of our ends.  Tracy has a bug fix for that file that she's working on, for example, and we'll notify you when that update occurs. And if your team ends up changing products in the fix file as part of your workflow, we'd like those to get fed back

[2020-08-13 22:43] JeffBeck-NOAA commented on #157
@fossell We should probably just source it from EMC_post after we clone the repository, during the "generate" step of the workflow.  That would make it much easier, since all changes would be required to occur in EMC_post.  I can make a GitHub issue in regional_workflow to request this change.

[2020-08-14 14:10] fossell commented on #157
@JeffBeck-NOAA - That sounds good, keeps us posted if there is anything we can help with on our end.

[2020-08-17 21:20] jwolff-ncar commented on #157
@fossell @JeffBeck-NOAA We discussed if a user wants to modify UPP to output different fields/levels/etc. today in our SRW app release documentation focus meeting. It is generally straight forward for this to happen but the user would need to use the xml file to generate a new flat txt file. In that case the user would want to use the new file they created, not the one from the repo. We would need

[2020-08-17 21:45] fossell commented on #157
@jwolff-ncar - Agreed, this is definitely a feature we'd like users to be able to leverage and UPP team intends to support it as well...this should be included eventually in documentation as well as for future trainings.  It's definitely doable, but the user needs to use a scripts available in the UPP repo to create the text file from their modified xml file, and then place that new text file in t

[2020-08-17 21:54] JeffBeck-NOAA commented on #157
@jwolff-ncar My latest PR removes the UPP fixed files that we had in regional_workflow and sources the XML/text file from EMC_post for the FV3-LAM.  If we want to allow users to modify the XML and create their own flat files, I wonder if the best way to handle that is from within the cloned EMC_post directory?  If there are plans for the UPP team to support this feature, I think it would make sens

[2020-08-17 22:01] jwolff-ncar commented on #157
My biggest concerns are:
1) We may not want users to overwrite the default and it would be nice if they could point to a new file when the workflow is generated
2) We need to figure out where to document how to do this and carefully consider this given it is different for the SRW and MRW applications
3) Other concerns that are not obvious to me at this point!

[2020-08-17 22:09] hertneky commented on #157
1. Agreed - there should be a way to specify the name of the txt flat file somewhere. Note that when creating a new flat file, the user can specify the name of it in the makefile, therefor avoiding overwriting the default.

2. I think the instructions should be in their respective app documentations (e.g. where the file/path pointing to the file lives - will depend on app). The UPP documentation i

[2020-08-17 23:30] WenMeng-NOAA opened #165 "Updates in branch release/gfs_v16"
The branch release/gfs_v16 was created for GFS V16 implementation. Since 08/2020, all GFS V16 related changes will be documented in this issue.

[2020-08-17 23:31] WenMeng-NOAA commented on #165
Merge PR #163 at 933f52e. The tag upp_gfsv16_release.v1.0.11 was recreated.

[2020-08-17 23:36] WenMeng-NOAA opened #166 "Updates in branch develop"
The develop is the main development branch. Since 08/17/2020, all updates in develop will be documented in this issue.

[2020-08-18 16:13] fossell commented on #157
I agree with @hertneky's points, we've talked about this a lot recently and @hertneky has a good feel for how to handle this feature for both and future apps.

[2020-08-18 18:40] jwolff-ncar commented on #157
I have no problem with this. I just want to make sure that the regional workflow can point to a user specified (generated) file. We can make a new issue in that repository to cover this point.

[2020-08-18 18:47] JeffBeck-NOAA commented on #157
@jwolff-ncar I think a good option would be to create a user-definable variable in config_defaults.sh, maybe a path to the user's new flat file, telling the workflow to use that instead of sourcing from EMC_post.

[2020-08-19 16:19] WenMeng-NOAA commented on #166
Commit 4b531bc : #167 Update CMakeModules submodule from @DusanJovic-NOAA

[2020-08-21 14:41] ericaligo-NOAA opened #169 "Add 3D instantaneous cloud fraction"
FV3 LAM will output a 3D instantaneous cloud fraction for any microphysics scheme.  The cld_amt array in gfs_dyn will no longer be used for the GFDL microphysics.  The cldfra array will be read in from the gfs_phy file instead.

[2020-08-21 16:23] WenMeng-NOAA commented on #158
The UPP regression tests for GFS, GEFS, NMMB, FV3SAR and HAFS were conducted on Dell and Hera. No changed results were found. New baselines for HRRR and RAP were created. It was found that cloud base height and pressure were not reproducible with  changing MPI tasks. But these two fields will not have an impact on other application processing. The bug fix would be added in the future. This branch

[2020-08-24 12:20] #158 closed, assigned to WenMeng-NOAA

[2020-08-24 12:23] WenMeng-NOAA commented on #166
Commit 2a5aab0 : #159 Merge the changes of rap5/hrrr4 from gsd-upp repository.

[2020-08-24 22:50] hertneky opened #171 "FV3 LAM low/mid/high/total clouds in fv3sar.xml"
The fv3sar.xml has ID's 037-039 for outputting inst low/mid/high clouds for FV3 LAM, in which post computes from the 3D cloud field. Post uses the following layers:

Low: ≥ 642 hPa
Mid: ≥ 350 hPa
High: <350 hPa

However, FV3 computes ave low/mid/high clouds using different layers. These can be output directly using ID's 300-302.

Low: ≥ 650 hPa
Mid: ≥ 400 hPa
High: <400 hPa

@WenMeng-NOAA, @JeffBe

[2020-08-25 13:29] WenMeng-NOAA commented on #171
@hertneky  Thanks for bringing this issue.
In UPP,  IDs 037-039 are instantaneous low/mid/hi cloud fraction.  IDs 300-302 are time averaged low/mid/hi cloud fraction.
I would invite @ericaligo-NOAA to comment the inconsistency between instant  and time averaged cloud fraction for processing regional FV3.

[2020-08-25 13:36] ericaligo-NOAA commented on #171
That's correct.  Fields 037-039 are the instantaneous cloud fractions
based  off of cfr, which is the new cldfra array (instantaneous cloud
fractions) passed in from the LAM.

!-- Initialize low, middle, high, and total cloud cover;
!   also a method for cloud ceiling height
!
         DO J=JSTA,JEND
           DO I=1,IM
             CFRACL(I,J)=0.
             CFRACM(I,J)=0.
             CFRACH(I

[2020-08-25 20:46] hertneky commented on #171
Thanks @WenMeng-NOAA and @ericaligo-NOAA for confirming the FV3 LAM direct l/m/h output is time-averaged. I think the main question was regarding which was more appropriate for including in the default fv3sar.xml, especially since post and fv3 compute the layers differently (use different levels) and using the post algorithm will produce different results than the direct model output and could rai

[2020-08-25 20:49] ericaligo-NOAA commented on #171
Wen, we want to make sure the instantaneous cloud fractions are output,
not the time averaged ones.

On 8/25/2020 4:47 PM, hertneky wrote:

[2020-08-25 23:28] WenMeng-NOAA commented on #171
@ericaligo-NOAA That's correct. If you look into fv3sar.xml for fv3 lAM implementation, FV3 LAM only output instant low/mid/high cloud fraction,

[2020-08-25 23:29] ericaligo-NOAA commented on #171
Sounds good!

On 8/25/2020 7:28 PM, WenMeng-NOAA wrote:

[2020-08-26 02:18] guoqing-noaa opened #173 "3DRTMA specific change"
The output of 10m wind from UPP is a direct copy of the 10m wind fields in a given WRF NetCDF file. The GSI analysis does not update the 10m wind field. So using current UPP for 3DRTMA will output background 10m wind, which is not desirable. This update added a 'SUBMODELNAME="RTMA" ' logic so that UPP will update 10m wind using the wind fields at lowest HRRR model level (z=8m). It does not affect

[2020-08-26 13:58] #169 closed, assigned to nobody

[2020-08-26 14:05] WenMeng-NOAA commented on #166
Commit 8261eec : #170 Read 3D cloud fraction from cldfra in history file phy* instead of cld_amt in history file dyn* for all regional FV3 processing.

[2020-08-26 14:41] JesseMeng-NOAA opened #174 "EMC_post_refactor to EMC_post/develop"
Phase 1 of refactor of remove goto remove grib1

[2020-08-26 14:46] JesseMeng-NOAA commented on #174
Merge refactor phase 1 remove goto remove grib1 to EMC_post/develop

[2020-08-26 15:41] hertneky commented on #171
Thanks for the confirmation on this

[2020-08-26 15:41] #171 closed, assigned to nobody

[2020-08-27 00:00] WenMeng-NOAA commented on #165
Merge PR #176 at ab31c66. The tag upp_gfsv16_release.v1.0.12 was created.

[2020-08-27 23:32] #173 closed, assigned to nobody

[2020-08-27 23:37] WenMeng-NOAA commented on #166
Commit 36a3366b : #172 Add the changes in the read interface INIPOST.F  for 3drma for assigning 10m u/v for 3drtma.

[2020-08-28 14:06] WenMeng-NOAA commented on #165
Merge PR #178 at 2643655 for removing .ecf extension in workflow scripts. The tag upp_gfsv16_release.v1.0.13 was created.

[2020-09-04 14:49] WenMeng-NOAA commented on #166
Commit a060180: #179: Add (gnu) compiler option to allow argument mismatch.

[2020-09-14 20:36] aerorahul commented on #146
closing unresolved issue.

[2020-09-14 20:36] #146 closed, assigned to fossell

[2020-09-15 00:25] WenMeng-NOAA commented on #165
Merge PR #183 at 06bc0e for updating workflow scripts for gfs v16 EE2 review. The tag upp_gfsv16_release.1.0.14 was created.

[2020-09-15 14:24] JesseMeng-NOAA opened #184 "Check integrity of UPP control file for GFS"
Update the GFS post control xml files to ensure enough packing precision.

Background of this issue is described in
https://docs.google.com/document/d/18GaSoq2ZSfo_WM8PPBHgQPfCJEQ9xl6Z9lTfWU-ivjg/edit?usp=sharing

A Github branch is created for this modification
https://github.com/JesseMeng-NOAA/EMC_post/tree/gfs_v16_precision

The change is summarized in
https://docs.google.com/document/d/1ulFox0

[2020-09-17 15:55] climbfuji opened #186 "Need compatibility flags for gfortran-10"
With gfortran 10, I still get:
[code]
Seems the gfortran-10 compatibility flags are still missing. We need to fix this for the SRW App public release. I can create the PR to fix it here, then we need to create a new tag and update the NCEPLIBS umbrella builds (for both develop and release/public-v2).

[2020-09-17 17:58] WenMeng-NOAA commented on #184
The GFS V16 product change request can be reviewed at [here](https://docs.google.com/presentation/d/1y0Ew-1yPuBA3tuNU3Hf0i2bsxbnrM1ukHE86I8H9q9o/edit#slide=id.p).

[2020-09-17 17:59] climbfuji commented on #186
@fossell @kgerheiser @mark-a-potts @aerorahul @DusanJovic-NOAA I need help with this. The version that the NCEPLIBS umbrella build (develop or release/public-v2, doesn't matter) uses is based of hash dceca263288b76a6f15615b9dcf6c9770842d9d4.

This version is much, much older than the develop or release/public-v2 branches of EMC_post. But I do need the commit a0601809d3195b752d2fb0fb6562aa3c887348d

[2020-09-17 18:06] WenMeng-NOAA commented on #184
The regression test for GFS V16 was conducted on WCOSS Dell.
The changed fields are:
-------------------------------------
master file --
:SPFH:3 mb:rpn_corr=0.999999:rpn_rms=3.22313e-09
126:300778093:TMP:5 mb:rpn_corr=0.999996:rpn_rms=0.0291623
128:304258710:SPFH:5 mb:rpn_corr=0.999999:rpn_rms=3.13584e-09
136:328927524:TMP:7 mb:rpn_corr=0.999995:rpn_rms=0.0291623
138:332050887:SPFH:7 mb:rpn_corr=

[2020-09-17 18:41] WenMeng-NOAA commented on #165
Merge PR #185 at 8cc2cc7 for updating variable precision in GFS V16 product. The tag upp_gfsv16_release.1.0.15 was created.

[2020-09-17 19:02] climbfuji commented on #186
The easiest solution would be to add a `.patch` file to the release/public-v2 branch of the NCEPLIBS umbrella build, and add instructions for users with gfortran-10. This way, we don't run into the danger of braking something in the ufs-weather-model by updating the post library. We will still have two different posts, the dceca26 hash as part of the NCEPLIBS umbrella build and the release/public-

[2020-09-17 19:54] climbfuji commented on #186
A workaround is proposed here for release/public-v2: https://github.com/NOAA-EMC/NCEPLIBS/pull/116

[2020-09-17 20:46] climbfuji commented on #186
Workaround for release/public-v2 has been merged.

[2020-09-17 20:46] #186 closed, assigned to climbfuji

[2020-09-18 16:17] #184 closed, assigned to nobody

[2020-09-22 14:46] WenMeng-NOAA commented on #165
Merge PR #187 at 7ba61eb for changing file name convention for jjob and ex-scripts per NCO's guidance.

[2020-09-25 14:54] fossell opened #189 "Updates for Standalone release from DTC - Fall 2020"
This issue contains details and tasks needed for release of standalone UPP package in conjunction with SRW release.

Details/Tasks:

- Will be same as final tag for SRW tag. Working out of the release/public-v2
- Goal is to use Cmake and retire configure/compile for community builds. (*Note: EMC/operations will continue  to use gnu make and maintain their makefile)
- Uses authoritative NOAA/NCEPLI

[2020-09-25 16:09] fossell commented on #144
Decision has been made to begin using v9* version series with release/public-v2 branch, and incrementing develop branch to v10.0.0.  This leaves GFSv16 release branch with v8* series to avoid any confusion.

Details about agreed upon version plan can be found in following google slides. Request access if not able to view.
[UPP version plan slides](https://docs.google.com/presentation/d/1GehRLqjYQM

[2020-09-30 13:15] WenMeng-NOAA commented on #165
Merge PR #190 at f3416d5 for pointing crtm and w3emc libs to operational site.

[2020-09-30 15:25] WenMeng-NOAA commented on #165
Merge PR #192 at cea5458 for Update Externals.cfg with new gtg tag ncep_post_gtg.v2.0.1. The tag upp_gfsv16_release.v1.1.0 was created for GFS V16 NCO code delivery and install upp/8.0.11 lib on WCOSS ops. site.

[2020-09-30 15:45] fossell opened #193 "Update documentation to reflect changes to GFS RH with refactored release"
The first phase of refactored UPP code is scheduled to be merged into develop branch by end of calendar year 2020.
One major variable change is GFS RH.  Need to update documentation to reflect this change.

[2020-10-05 17:11] WenMeng-NOAA commented on #174
Wen imported Jesse's branch merging branch "develop" under Wen's fork and renamed as "post_refactor_p1". Bo will commit new changes related to goto statement in this new branch.

[2020-10-05 17:13] WenMeng-NOAA commented on #174
Kate's comments about grib1:
Grib1 removal comments:

Basic removal of grib1 if statements and calls to GRIBIT look ok to me
Do we need to keep the ID( ) array in the code?
Suggest removing other commented calls to GRIBIT and grib1 references
Should the GRIBIT routine itself be removed as well to keep code clean? Should perhaps at least remove from makefiles?
Consider adding more informative print

[2020-10-14 21:47] fossell opened #201 "Merge release/public-v1 into develop"
UFS MRW v1.1.0 was released on October 6, 2020. The release/public-v1 branch used for this release needs to be merged with develop.

Issue:  This branch is quite behind develop.  Need to carefully compare and take only needed changes.
- Which cmake mods to merge, if any?
- Are there docs/*.rst mods that need to be merged?
- What's changed between v1.0 and v1.1 release for upp branch?

[2020-10-14 22:05] hertneky commented on #201
There were no docs/*rst modifications between v1.0 and v.1.1

[2020-10-14 22:09] fossell commented on #201
@hertneky Thank you!!

[2020-10-14 22:24] fossell commented on #201
@climbfuji @aerorahul @DusanJovic-NOAA - Please advise on which cmake related commits that went into release/public-v1 (for v1.1 release) need to be merged into develop (if any).  release/public-v1 branch is quite behind develop and it seems a simple merge does not make sense here.  Unclear if anything in release/public-v1 actually needs to be in develop, since there have been cmake related change

[2020-10-14 23:07] climbfuji commented on #201
The one thing I remember is to get the gfortran-10 compatibility flags over. There were a few updates and bugfixes related to finding netCDF or configuring it for the ncep_post executable (needed on gaea), but I don't know if these are still applicable.

[2020-10-15 15:40] fossell commented on #201
@climbfuji Thanks, I do see a gfortran-10 mod in both develop and public-v1.

The major conflicts I need resolved for this merge include:
- sorc/ncep_post.fd/CMakeLists.txt
- CMakeLists.txt
- Assume keeping cmake/ directory from develop; public-v1 has submodule pointer to cmake but that has changed in develop

If any of the cmake developers can please take a look and compare or do a merge of devel

[2020-10-15 16:56] WenMeng-NOAA commented on #165
Merge PR #199 at 084b02a for updating NCEPLIBS module files on Dell, Cray, Hera and Orion.

[2020-10-19 19:06] WenMeng-NOAA commented on #166
Commit 4ef55cd: sync # 151, 163, 176, 178, 183, 185, 187, 190, 192, 199 from branch release/gfs_v16.

[2020-10-20 14:28] fossell commented on #144
develop branch will begin with v10.0.0 via PR #202

[2020-10-20 14:34] WenMeng-NOAA commented on #166
Commit 680432b : #202 : starting UPP version numbers with 10.0.0 for develop branch.

[2020-10-20 14:37] fossell commented on #144
release/public-v2 will begin with v9.0.0 via PR #203

[2020-10-20 14:39] #144 closed, assigned to fossell, WenMeng-NOAA, HuiyaChuang-NOAA

[2020-10-20 14:41] fossell commented on #145
release/public-v2 changed executable name to be "ncep_post"  for cmake build of this branch via #197. Now applications all build the same executable name. Future discussions about changing this name or further unifying name conventions will continue at a later date.

[2020-10-26 15:09] WenMeng-NOAA opened #205 "Small fixes for HREFv3 UPP code"
The release branch "release/href_v3" was created from 3eaca89  for Matt adding small fixes for HREFv3 UPP code.

[2020-10-26 15:11] WenMeng-NOAA commented on #205
Matt submitted PR #204 for the changes:

[2020-10-28 13:50] edwardhartnett opened #206 "Add a README in accordance with NCEPLIBS requirements"
I would like to add a README to match those on the other NCEPLIBS libraries. See https://github.com/NOAA-EMC/NCEPLIBS/issues/120

[2020-10-28 14:00] WenMeng-NOAA commented on #206
@edwardhartnett It sounds good to me. Will you file a PR to branch develop?

[2020-10-28 14:02] edwardhartnett commented on #206
Yes. Who is the code manager for this repo?

[2020-10-28 14:05] WenMeng-NOAA commented on #206
@edwardhartnett I am one of code managers. You may follow the procedure at
https://github.com/NOAA-EMC/EMC_post/wiki/UPP-Code-Development#contribute-changes-in-upp-main-development-branch-develop

to submit your PR. Please let me know if you need other information. Thanks!

[2020-10-28 18:59] #206 closed, assigned to nobody

[2020-10-28 19:01] WenMeng-NOAA commented on #166
Commit 755b0f0 : #207: adding README.

[2020-10-29 12:37] edwardhartnett opened #208 "add doxygen documentation"
The NCEPLIBS team is adding doxygen based documentation to all NCEPLIBS libraries. I believe EMC_post should also add doxygen.

Doxygen is the world leader in generating documentation from code, used by many of the libraries we rely on, including netCDF and HDF5. It is widely understood and supported on all platforms.

To see the kind of documentation we have generated so far, take a look here: ht

[2020-10-29 12:57] WenMeng-NOAA commented on #208
@edwardhartnett Your proposal sounds good to me. Please proceed your PR.
 I am copying to @HuiyaChuang-NOAA and @fossell to ensure they will be aware of the upcoming changes in develop and have their comments.

[2020-10-29 13:11] fossell commented on #208
@edwardhartnett - I am absolutely on board with this.  In fact, this is on the list of DTC potential contributions for this year depending on resource availability.  I have only dabbled with doxygen, so to have some expertise really help us get moving forward quickly would be very welcome.  One important aspect from my viewpoint was to try to establish an agreed upon set of standards rom the start

[2020-10-29 13:30] WenMeng-NOAA commented on #208
@fossell and @HuiyaChuang-NOAA I agree with Kate that this PR would be merged after refactor phase 1. I would expect the refactor phase 1 merge will be done within 3 weeks. With the doxygen PR from @edwardhartnett on submitted, all of us might have more discussions before it is finally incorporated in the UPP repos.

[2020-10-29 13:31] arunchawla-NOAA commented on #208
I whole heartedly support documentation with doxygen. There is an overarching document/guide in rst format that is accessed through readthedocs, but getting the code documented in doxygen will be very good. I think this will have to be an ongoing process. We will need SMEs on board, once the initial framework is in place. What is the time line for the first merge back in? modifying / correcting do

[2020-10-29 13:56] edwardhartnett commented on #208
Each code file will change. The comments at the top of the file and in front of each subprogram must change. Take a look here for examples: NOAA-EMC/UFS_UTILS#198

So if you are working on some big refactor, and about to merge to develop, then I will wait. Let me know when it is a good time. I will do a first pass and convert your existing comments.

Doxygen is pretty trivial, so programmers can j

[2020-10-29 14:38] WenMeng-NOAA commented on #208
@edwardhartnett Thanks for pointing us the example. It appears to me the doxygen heads will be added all existing routines. We will have a big merge from the UPP refactor phase 1 which have changes in more than 35 routines. I would expect it will be done
within 3 weeks or shorter. I will keep you updated.

[2020-10-30 12:39] HuiyaChuang-NOAA commented on #208
Volbona had started on this effort in April and told me she's done some work.  Should we leverage off that?

[2020-10-30 13:20] edwardhartnett commented on #208
I would be interested in hearing about any previous work on this, of course.

[2020-10-30 15:23] edwardhartnett opened #209 "Add CI with github actions?"
It would benefit the NCEPLIBS team, and presumably also the UPP team, to add continuous integration to this repository with github actions.

GitHub actions are a free CI service offered by GitHub. We use it for most of the NCEPLIBS projects. A good example can be seen here:
https://github.com/NOAA-EMC/NCEPLIBS-bufr/pull/34

Note that the tests are automatically run on each PR.

This is accomplishe

[2020-11-02 15:18] fossell commented on #209
This is another item on our wishlist, so I'm in favor.  However, DTC is not likely going to have time to help with this in the near term.  Perhaps in a couple months after UFS release and refactor merge is complete, and we tackle the repo reorganization as well.

[2020-11-02 15:34] edwardhartnett commented on #209
I don't need any help turning on the CI and that can be in place this week.

Adding tests is the next step, and one that will take many months of effort. But turning on the CI is easy, only one file is added to the repo, no code is changed, and there is no cost to NOAA.

Can I proceed to add CI?

[2020-11-02 19:13] fossell commented on #209
@edwardhartnett - It's ok with me to proceed with the PR to turn on CI as long as @WenMeng-NOAA agrees.  Just need understanding that our ability to assist with adding tests or any issues that arise will be very limited in the next couple months as we attend to other priorities.

[2020-11-02 19:37] WenMeng-NOAA commented on #209
@edwardhartnett It's ok for me for starting PR. As the code managers at DTC and EMC have many tasks, it might be taking some time for final integration. Please let us know if it works for you. Thanks!

[2020-11-02 23:12] WenMeng-NOAA commented on #166
Commit 855cae4 : #210 Updating cmake scripts for building upp lib.

[2020-11-02 23:14] WenMeng-NOAA commented on #166
Commit 30af347 : #211 : Update CMakeLists.txt for renaming project name from UPP to upp. A new tag upp_v10.0.0 was created for installing upp/10.0.0 at hpc-stack.

[2020-11-03 13:12] fossell commented on #201
We need to close this out. Is it correct to assume that these public-v1 specific deltas do not need to be merged into develop since develop has already moved on with regards to cmake features?  @aerorahul @DusanJovic-NOAA  - If you see anything in public-v1 that needs to go into develop, please advise asap.

[2020-11-03 18:51] edwardhartnett opened #212 "build issues with cmake build"
@aerorahul do you know what is going on with this?

[2020-11-03 18:52] aerorahul commented on #212
Yes. I do. We can take it offline.

[2020-11-03 18:52] aerorahul commented on #212
User Error!

[2020-11-03 18:54] edwardhartnett commented on #212
This is the place to resolve this, so I can find the answer again. ;-)

The FindNetCDF.cmake file is in a submodule - is that correct?

[2020-11-03 18:57] aerorahul commented on #212
1. Recursive clone
2. I don't see the netcdf module loaded.

[2020-11-03 19:11] aerorahul commented on #212
This will build the post library and executable
[code]

[2020-11-03 19:19] WenMeng-NOAA commented on #212
It turns out I didn't use the option --recursive to check out the submodules. Now it works for me. Thanks for the instructions. I will
practice further on my personal account.

[2020-11-03 19:52] WenMeng-NOAA commented on #212
@aerorahul The building process works for me (cmake ../EMC_post -DCMAKE_INSTALL_PREFIX=../install -DBUILD_POSTEXEC=OFF).
I load the following modules for buiding executable:
------------------------------------
module use /scratch2/NCEPDEV/nwprod/hpc-stack/test/modulefiles/stack
module load hpc/1.0.0-beta1
module load hpc-intel/18.0.5.274
module load hpc-impi/2018.0.4

module load jasper
module lo

[2020-11-03 20:00] aerorahul commented on #212
@WenMeng-NOAA
What you posted are warnings in the code, not compilation errors.
[code]

When I build, following the instructions I posted above, I do not see any errors or failures.
[code]

Also, if you wish to build with WRF_IO, you need to load the wrf_io module `module load wrf_io`, and add the following to your cmake command: `-DBUILD_WITH_WRFIO=ON`.  The default is to use the stub.

[2020-11-03 20:11] edwardhartnett opened #213 "Update README with better build instructions"
There is a long discussion of building UPP in this issue #212 , and some of that information needs to be in the README. I will update and submit a PR.

[2020-11-03 20:58] WenMeng-NOAA commented on #212
@aerorahul The option -DBUILD_WITH_WRFIO=ON works.

Now the build process failed at libpng as:
---------------------------------------------
/scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/png/1.6.35/lib64/libpng.a(pngrutil.c.o): In function `png_handle_iCCP':
pngrutil.c:(.text+0xf46): undefined reference to `inflateValidate'
/scratch2/NCEPDEV/nwprod/hpc-stack/test/intel-18.0.5.274/png/1.

[2020-11-03 21:14] aerorahul commented on #212
@WenMeng-NOAA
I followed the instructions I gave you on Hera, with the hpc-stack you mentioned and was able to build it.
I put those in a script and it is at:
`/scratch1/NCEPDEV/stmp2/Rahul.Mahajan/test/Wen.Meng/build_post.sh`

To use:
`$> /scratch1/NCEPDEV/stmp2/Rahul.Mahajan/test/Wen.Meng/build_post.sh`

[2020-11-03 21:46] WenMeng-NOAA commented on #212
@aerorahul Your build script works for me. Thanks!

[2020-11-03 21:49] edwardhartnett commented on #209
We have had some interesting discussions about how we will do this. @aerorahul has offered some suggestions about using the docker images to load prerequisite libraries. We will continue to work on this and we will put up a PR when we have a build that works well.

[2020-11-05 16:56] WenMeng-NOAA commented on #166
Commit eed90f5 : #196 : Merging the UPP refactor phase 1 (remove grib1 output and improve legacy goto statements).

[2020-11-05 17:05] #205 closed, assigned to nobody

[2020-11-05 17:07] WenMeng-NOAA commented on #208
@edwardhartnett The UPP refactor phase 1 merge was just made in the branch develop. You might start your doxygen work. Let me know if you have any questions. Thanks!

[2020-11-05 17:10] WenMeng-NOAA commented on #174
The UPP refactor phase 1 merge was submitted in the PR #196 and integrated in the develop at eed90d5 on 11/5/2020.

[2020-11-05 17:11] WenMeng-NOAA commented on #174
The list of routines with goto statement changes can be found at
https://docs.google.com/spreadsheets/d/1JrMWKoEK680M0niWKfkgWW22D4mY-oyjGxOVxNvhvlQ/edit#gid=0

[2020-11-05 17:45] fossell commented on #174
Regarding my comments on grib1 removal...was there any discussion about removing the ID() arrays from the code to clean up a bit more since those are only used for grib1?

[2020-11-05 17:54] fossell commented on #209
Two of us on the DTC team (myself and @mkavulich) have some experience dockerizing community versions of UPP for another project.  We plan to make a docker container available for what is essentially public-v2 branch post-SRW release, which will depend on NCEPLIBS repos.  This is separate from the CI initiative, but I just mention it in case there are efforts/issues evolving at the same time that

[2020-11-05 18:06] JesseMeng-NOAA commented on #174
Kate,

In some subroutines, e.g., MDLFLD.f, ID() arrays are used to calculate time
intervals and those are kept.
Others were cleaned up.
Thanks,

Jesse
==============================================
Dr. Jesse Meng
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct. Room 2037
College Park, MD 20740
email: jesse.meng@noaa.gov
==============================================

On Thu, Nov 5, 2020 at

[2020-11-05 18:06] WenMeng-NOAA commented on #174
@fossell Jesse made some changes based on your comments and combined with the PR #196. Please let us know if you have more comments.

[2020-11-05 18:51] HuiyaChuang-NOAA commented on #208
Yes.  That’s the plan.  I’ve asked that Bo and Jesse to finish their next phase of merge
By our Nov 30 tag-up.  We will also discuss the plan for code reviews at this
Meeting.

Huiya

Sent from my iPad

[2020-11-06 14:04] edwardhartnett opened #215 "CMake build not working after refactor"
CMake is looking for Findcrtm.cmake but not finding it...

@aerorahul do you know what is happening?

[code]

[2020-11-06 14:06] Harsh574267 commented on #215
It's simple I can help you solving this problem

[2020-11-06 14:07] aerorahul commented on #215
Is crtm installed in `/usr/local`?
Was it installed with cmake? I assume so, if you used nceplibs.
Try export `crtm_ROOT=/usr/local`; although this shouldn't be necessary if it is installed under `/usr/local`

[2020-11-06 14:33] aerorahul commented on #215
Actually, looking closer to your cmake command, you are missing:
`-DCMAKE_PREFIX_PATH=/usr/local/NCEPLIBS-crtm-x.y.z`
or wherever you installed CRTM.

[2020-11-06 14:54] #212 closed, assigned to nobody

[2020-11-06 14:57] edwardhartnett commented on #215
OK, getting further! Now it fails like this:

[code]

There is no file GRIBIT.F in the directory ncep_post.fd, yet it is listed in CMakeLists.txt...

[2020-11-06 15:03] aerorahul commented on #215
Well, if code-managers/developers maintain 2 build systems this is bound to happen.
Last  merge to `develop`, commit eed90f5 removed the file GRIBIT.F, but did not update the `CMakeLists.txt`.

[2020-11-06 15:05] WenMeng-NOAA commented on #215
@aerorahul Yesterday the develop has a merge from the UPP refactor for removing grib1 output. There might be a update needed in cmake build scripts for removing GRIBIT.F.

[2020-11-06 15:07] aerorahul commented on #215
@WenMeng-NOAA
How did this PR pass code-review/acceptance before merge into `develop`?
Does UPP not test the CMake build/run with each PR as part of the UPP regression tests?

[2020-11-06 15:12] edwardhartnett commented on #215
Testing that depends on people is very imperfect. In fact, in modern terms, we don't even consider that software testing. ;-) So this repo is not really tested, and the result are mistakes like this, which are natural. So let's get the build working again, and concentrate our efforts on automating testing.

When GitHub does the testing, and everything is configured properly, broken code cannot be

[2020-11-06 15:15] edwardhartnett commented on #215
OK, I took that file out of the CMake list of files, compile is proceeding...

[2020-11-06 15:17] WenMeng-NOAA commented on #215
The UPP regression tests currently have no capacity for testing CMake build. I am only person at EMC side for testing (appreciate all of your helps). Let's solve the issue one by one.
@aerorahul Will the update in sorc/ncep_post.fd/CMakeLists.txt only? If yes, I will combine it with other changes I have been working on for a new PR and ask you being code reviewer.

[2020-11-06 15:24] edwardhartnett commented on #215
The compile completed.

I will submit a PR with this fix for the CMake build.

@WenMeng-NOAA we are here to help with testing - can we assist porting your tests to the cmake build?

Can you tell me about your tests? Presumably you have a few programs, and some test data files? ...

[2020-11-06 15:27] aerorahul commented on #215
@WenMeng-NOAA That is why we are here helping.
We genuinely want to improve your testing, but have no idea how to run your tests.
Please provide information on how and where the tests are run, and we can expand those to include the cmake (and hopefully convince you to retire the old hand-written makefiles)

[2020-11-06 15:37] WenMeng-NOAA commented on #215
The UPP regression tests on Hera can be accessed at /scratch2/NCEPDEV/ovp/Wen.Meng/ncep_post/post_regression_test_new.
You may start with rt.sh at scripts/ for  the tests for different models. With my experience of running ufs-weather-model for in-line
post testing, that style is good to me. We might start another issue for UPP regression tests.

[2020-11-06 15:41] WenMeng-NOAA commented on #215
@edwardhartnett I have been testing a new PR and may add in this CMakeLists.txt update and have you being code viewer. Let me know if this works for you.

[2020-11-06 16:20] edwardhartnett commented on #215
I have put up a PR with the fix. If you could merge it soon, that would be great, since we are trying to get github CI on.

If you have also done this in your branch than it will have no effect when you merge that branch if it is done in develop already. It's better to keep fixes separate and not put multiple items in one PR.

I am happy to be reviewer on any PR, just request me as a reviewer, and

[2020-11-06 16:30] WenMeng-NOAA commented on #215
@edwardhartnett the PR #217 was merged with the update in CMakeLists.txt. Thanks!

[2020-11-06 16:33] WenMeng-NOAA commented on #166
Commit 43ba912 : #217 : Sync scatter fix from GEFS V12 implementation; 2) Update CMakeLists.txt for removing GRIB.F.

[2020-11-06 16:37] #215 closed, assigned to nobody

[2020-11-06 16:40] WenMeng-NOAA commented on #120
On 11/06/2020, this fix was synced in branch develop with PR #217 at 43ba912.

[2020-11-06 16:40] #120 closed, assigned to nobody

[2020-11-06 23:40] #174 closed, assigned to nobody

[2020-11-09 17:29] WenMeng-NOAA commented on #166
Commit b329b30 : #218 : Update README and add doxygen to build system.

[2020-11-09 17:48] fossell commented on #201
No requests for changes to be merged into develop as develop has moved far from this state, branch is basically frozen.  Closing issue.

[2020-11-09 17:48] #201 closed, assigned to fossell

[2020-11-09 18:35] #209 closed, assigned to nobody

[2020-11-09 18:36] WenMeng-NOAA commented on #166
Commit a930223 : #220 : Create github workflow at UPP repopository.

[2020-11-10 12:40] WenMeng-NOAA commented on #166
Commit 4452859 : #219 : Bug fix for calculation of total cloud fraction for FV3 LAMX; Setting LSM physics as 2 for default in regional FV3 read interface.

[2020-11-16 15:20] EricRogers-NOAA opened #225 "Non-reproducible aborts in GOES lookalike UPP job running in regional FV3"
The UPP job making GOES-16 lookalike fields in the FV3 regional run will occasionally abort with this traceback:

forrtl: severe (174): SIGSEGV, segmentation fault occurred
Image              PC                Routine            Line        Source
regional_post.x    0000000000F7DD8D  Unknown               Unknown  Unknown
libpthread-2.17.s  00002B4B6B979630  Unknown               Unknown  Unknown

[2020-11-16 23:00] WenMeng-NOAA commented on #166
Commit 2ee9d17: #222 : Converted many docblocks to doxygen format and turned on docygen build in CI.

[2020-11-17 10:54] edwardhartnett opened #226 "Put built documentation on the gh-pages branch"
GitHub offers a neat (and free) feature: it will host our documentation builds on a website, if we add the special "gh-pages" branch to our repo.

For example, in this project we have a gh-pages branch: https://github.com/NOAA-EMC/NCEPLIBS-sp

The documentation is available here: https://noaa-emc.github.io/NCEPLIBS-sp/

I would like to do this for UPP, so that we can put documentation on-line, as

[2020-11-17 13:29] WenMeng-NOAA commented on #226
This new feature sounds good for the UPP. I may ask the comments from @fossell since the DTC has been taking care of the UPP documents.

[2020-11-17 14:06] edwardhartnett commented on #226
This will also allow you to inspect the built documentation along with documentation changes.

That is, when I submit a doxygen PR, I can also update the gh-pages branch, and you can see not only my code file changes, but how the documentation looks as a result. This makes it easy to check for which files still need to be updated to doxygen comments.

[2020-11-17 14:31] fossell commented on #226
I'm familiar with github pages, in fact we explored that option a year ago when working with the UFS MRW app team on documentation.  At the time it was decided to leverage readthedocs to serve up our rst documentation files to remain consistent with the UFS apps.  So at least our Users Guides are viewable via readthedocs.  If we adopt gh-pages for the inline code technical doxygen documentation, w

[2020-11-17 16:06] edwardhartnett commented on #226
CUrrently your readthedocs documentation does not contain the code documentation which is available for the doxygen build. So gh-pages is the only place that documentation will appear.

We hope, moving forward, to one day generate all the readthedocs documentation from the doxygen build. At that time, the readthedocs documentation will include the doxygen output, but that is far off.

Until then,

[2020-11-19 14:33] JesseMeng-NOAA opened #229 "Updates with the UPP refactor phase 2 merge from Jesse Meng"
Update the branch develop with the UPP refactor phase 2 merge from Jesse Meng.
The changes are included:
1) implement UPP_MATH and UPP_PHYSICS modules PR #224;
2) unify RH calculation PR #224;
3) other code optimization and cleanup.

[2020-11-19 14:45] JesseMeng-NOAA commented on #229
Unify RH calculation using the NAM algorithm to improve RH values over ice.
Example figures are given in the link below,
https://docs.google.com/presentation/d/14tCCCSRElKaXc_go2HfQA6jIjiJJupWq8cGcnfwUFUM/edit#slide=id.ga26232109c_0_8

[2020-11-19 16:35] gthompsnJCSDA opened #231 "UPP, calculate radiative effective radius, Thompson 2-moment cloud water, also graupel calculation"
This issue describes multiple problems within `CALRAD_WCLOUD_newcrtm.f` related to the Thompson microphysics scheme.

1) In the function `REAL FUNCTION EFFR` the line to use a variable called rg (below)
`use params_mod, only: pi, rd, d608, rg`
becomes a bug when the rg variable is used to assign the graupel water content.

2) The logic for mp=28 (Thompson 2-moment cloud water) was not properly exe

[2020-11-20 16:29] WenMeng-NOAA commented on #165
Merge PR #232 at 32e2d57 for modifying workflow scripts with the feedback from NCO GFS V16 testing. A new tag upp_gfsv16_release.v1.1.1 was created for GFS V16 implementation.

[2020-11-30 15:59] WenMeng-NOAA commented on #231
Wen conducted the UPP standalone tests for hrrr which output Thompson MP. The test results are post at
https://www.emc.ncep.noaa.gov/gmb/wx11wm/post/GOESR/

[2020-11-30 16:00] WenMeng-NOAA commented on #231
Greg have comments on the tests as:

[2020-11-30 18:58] BoCui-NOAA opened #235 "Updates with the UPP refactor phase 2 merge from Bo Cui"
Update the branch develop with the UPP refactor phase 2 merge from Bo Cui.
The changes are included:
1.  Add "implicit none" statements
2.  Modernize inequality statements, change the relational operators from Fortran 77 to 90, e.g. "GT" into ">"
The Pull request #233 was submitted.

[2020-11-30 22:27] #231 closed, assigned to gthompsnJCSDA

[2020-11-30 22:33] WenMeng-NOAA commented on #166
Commit 1b703a3 : #230 : Corrections and fixing double-moment Thompson cloud water.

[2020-12-01 20:47] EricRogers-NOAA opened #236 "Bad values in GOES satellite brightness temps in CONUS LAM domain"
Since the CONUS LAM parallels started running with the latest version of the new Equidistant Spaced Gnomonic (ESG) regional FV3 model grid, the GOES brightness temperatures are either 0 or set to a fill value everywhere, for example:

  ndata=1770444:undef=0:mean=2.70735e+06:min=0:max=9.786e+10

The regular UPP job is running fine using this grid. Tests with debug prints turned on in the CALRAD_WC

[2020-12-06 04:14] mkavulich commented on #145
@WenMeng-NOAA would it be possible to also apply the change in #197 (renaming the post executable from nceppost.x --> ncep_post) to develop? Right now the executable names are inconsistent between the release and develop branch for the cmake build, which seems less than ideal. Since ncep_post is the same name created by sorc/build_ncep_post.sh I assume this would be acceptable, but I would like to

[2020-12-07 01:14] WenMeng-NOAA commented on #145
@mkavulich We are on the way of unifying the UPP. The library file is renamed as upp.a for both GNC build capacity and cmake build capacity. I have been considering about renaming executable name as upp.x in the future. I am not sure if any model developers are using cmake build to generate executable from develop branch. The EMC side model developers still use GNC build capacity. I have been work

[2020-12-08 19:01] mkavulich commented on #145
@WenMeng-NOAA Thanks for the response. If the executable is renamed in the future that is fine, but for now it will be easier to keep the name consistent between the branches for workflow purposes. If it is all right with you @JeffBeck-NOAA plans to open a PR shortly to make the executable names consistent, and also rename the xml files to be consistent with develop as well (#188)

[2020-12-08 19:13] WenMeng-NOAA commented on #145
@mkavulich Is @JeffBeck-NOAA using the branch develop or branch public/public-v2 for GSL's regional FV3 parallel run? If he uses the branch develop, this PR is fine for me. But he might coordinate with the EMC FV3 LAM/LAMX developers for renaming fv3sar.xml.

[2020-12-09 20:47] tsupinie opened #238 "Memory error on TACC"
I've run into an issue on TACC machines (stampede2, frontera). It works fine with an unoptimized binary, but when I use -O1 or higher, I get variations on this error:

[code]

It's always that line, though sometimes it's "just" a regular segmentation fault. Has anyone ever run into that and/or have a workaround that doesn't involve running an unoptimized binary? The unoptimized binary has been mos

[2020-12-10 13:31] WenMeng-NOAA commented on #166
Commit 9fa1e08 : #237 : Update FV3-LAM control files and rename executable as ncep_post for cmake build.

[2020-12-10 18:51] WenMeng-NOAA commented on #238
This is the first time that the UPP user reports the memory issue from the regional FV3 read interface INITPOST_NETCDF.f. It is fine
for our UPP stand-alone tests for regional FV3 on Hera and Orion. It might be related to your platform configuration. Will you get assistance from TACC machine SA?

[2020-12-11 13:35] junwang-noaa opened #240 "restrict post computation from undefined points"
Currently in POST, there is no restriction to keep the computation only happening on valid points with reasonable value. The undefined value are participating in the computation in many places which causes wrong value in post products. One example is when regional output domain is larger than the forecast computational domain. FillValue is put on the extra domain for all the fields, however those

[2020-12-14 17:09] BoCui-NOAA commented on #235
Bo did the regression tests on Dell. The post executable generates bit-identical results as the EMC_post/develop commit
9fa1e08.

[2020-12-15 22:22] WenMeng-NOAA commented on #166
Commit 2043340 : #233 : Update with fortran 90 syntax, e.g. relational operator and none explicit statement.

[2020-12-15 22:23] #235 closed, assigned to BoCui-NOAA

[2020-12-16 19:10] WenMeng-NOAA opened #242 "Mersenne Twister in in-line post"
Dusan found the mersenne twister module in UPP routine CALWXT_BOURG.f are not working properly:

The expected rn range should be within in 0 to 1. The mersenne_twister in UPP is from NCEPLIBS w3em. This issue is cased different library precision  used in ufs forecast component ( w3emc_d) and upp lib (w3emc_4) for in-line post.

[2020-12-17 14:46] WenMeng-NOAA commented on #242
Solution option 1)
Dusan proposed the fix via replace subroutine random_number (from mersenne_twister module) with the one from standard fortran function instead of w3emc module.
Dusan's proposal can be found at
https://github.com/DusanJovic-NOAA/EMC_post/commit/b6aeef5cd12072827261d954b4eefee6d344b632

[2020-12-17 14:50] WenMeng-NOAA commented on #242
Solution option 2)
Moorthi indicated he had committed the fix for this kind of issue in his feature branch:
 https://github.com/SMoorthi-emc/EMC_post/commit/b87c8e8b91b19a69442d8f8be4642dd26bf91bbd

[2020-12-17 14:56] WenMeng-NOAA commented on #242
Wen tested both option 1 and 2 with in-line post. Both option2 would fix rn value as expected range (1, 0).
With runtime logs, the expected changes  would be like
from
   incalwxtbg, rn 3.3978019E+38 -3.3952875E+38
into
   incalwxtbg, rn 0.999998649116550       2.458319165258258E-005

[2020-12-17 15:03] WenMeng-NOAA commented on #242
Huiya's comments:

[2020-12-17 15:06] WenMeng-NOAA commented on #242
Wen created a new feature branch post_random_number and incorporate Moorthi's fixes at
 https://github.com/WenMeng-NOAA/EMC_post/commit/2327206d2db9558d0b5a868f914e8559d04a064a

[2020-12-17 15:07] climbfuji commented on #242
My suggested approach for the mersenne twister is summarized in an issue for the ufs-weather-model: https://github.com/ufs-community/ufs-weather-model/issues/324

[2020-12-17 15:27] junwang-noaa commented on #242
Wen, in general to make POST not fail at this time before the final
mersenne twister interface is ready, I think you need to make sure POST
gets correct random number for both real4 and real8 mersenne twister
interfaces by checking the data range. So it is good to uncomment the
changes you made in CALWXT_BOURG.f  or make a small subroutine to handle
this random number interface check.

On Thu, Dec

[2020-12-17 15:48] WenMeng-NOAA commented on #242
@junwang-noaa Yes, the commented block in CALWXT_BOURG.f as you suggested from our last discussion. I will uncomment
that block for testing. There is related  fixes in SURFACE.f. Do you have more comments on that part?

[2020-12-17 15:55] junwang-noaa commented on #242
I think you can create a subroutine so that it can be called wherever
mersenne twister random number is called. Basically the subroutine will
return a correct real 4 random number for post when either real4 or real8
mersenne twister interface is used.

On Thu, Dec 17, 2020 at 10:48 AM WenMeng-NOAA <notifications@github.com>
wrote:

[2020-12-17 16:41] WenMeng-NOAA commented on #242
Are you meaning a new interface in CALWXT_BOURG.f like
------------------------------
subroutine calwxt_bourg_post(im,jm,jsta_2l,jend_2u,jsta,jend,lm,lp1,   &
     &                             iseed,g,pthresh,
 &
     &                             t,q,pmid,pint,lmh,prec,zint,ptype,me)
...
real rn(im*jm*2)
...
...
interface right_random_nuber
   subroutine random_number_4(rn)
      implicit none

[2020-12-17 17:49] SMoorthi-emc commented on #242
Wen,
  It is possible that my update may not work in an offline post if
mersenne-twister is compiled in single precision.
Moorthi

On Thu, Dec 17, 2020 at 10:07 AM WenMeng-NOAA <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research

[2020-12-17 18:28] WenMeng-NOAA commented on #242
Just commit https://github.com/WenMeng-NOAA/EMC_post/commit/585c91deb78ce7b0a32192600713d92f31f60c6d per Jun's last comment. A new interface for handle either real 4 or real 8. I am not familiar to interface structure in fortran. Please let me know your comments.

[2020-12-17 18:42] junwang-noaa commented on #242
Wen, if I remember correctly, post can only run with real(4), so you don't
need extra interface there. In generally if mersenne twister should provide
such interface for the applications that calls it. SInce it is currently
not available, what you need in the subroutine is something like:
subroutine right_random_number(rn4)
use mersenne_twister random_number
real(kind=4), intent(out) :: rn4(im*jm*

[2020-12-18 02:40] WenMeng-NOAA commented on #242
Jun,

Somehow, the job is crashed inside of the new subroutine
right_random_number
I add it in CALWXT_BOURG.f as:
-----------------------
      subroutine right_random_number(rn4,nm)
        use mersenne_twister, only: random_number
        implicit none
        integer,intent(in) :: nm
        real (kind=4),intent(out) :: rn4(nm)
        real (kind=8) :: rn8(nm)
        call random_number(rn4)

[2020-12-20 20:31] WenMeng-NOAA commented on #242
The solution comes  to add a new UPP module upp_right_mersenne_twister which includes random_number routines for real 4 and real 8 and two types of routines switch via the interface inside of the module. This solution was tested with in-line post, off-line post on Dell, Cray, Hera and Orion.

[2020-12-21 16:20] WenMeng-NOAA commented on #242
I spent a lot of time to tweak Moorth's fixes (keeping mersenne twister from w3emc) for working in in-line and off-line post tests last week. From Dusan's comments on PR #243, it seems that random_number call in new module upp_right_mersenne_twister is from Fortran intrinsic subroutine other than Mersenne twister from w3emc (I don't have enough fortran engine knowledge for that kind of modificatio

[2020-12-21 19:05] HuiyaChuang-NOAA commented on #242
I support Wen's solution to use Dusan's fix.

Please note that this fix will not be used in GFS V16 implementation and by the time RRFS is implemented, UPP will most likely already transition to GSL's explicit precipitation type algorithm.  Once this fix is committed, it will support Public release.

Again, the subroutines calwxt* will become obsolete about a year from now.  Wen already spent a lo

[2020-12-22 18:06] #242 closed, assigned to WenMeng-NOAA

[2020-12-22 18:11] WenMeng-NOAA commented on #166
Commit 194da1 : #244 : Replace random_nember call from fortran standard subroutine instead of mersenna twiester at w3emc. A new tag upp_v10.0.1 was created for installing upp/10.0.1 at hpc-stack.

[2020-12-22 22:56] WenMeng-NOAA commented on #165
Merge PR #245 at 4dff471 for alerting gfs*special* data files. A new tag upp_gfsv16_release.v1.1.2 was created for GFS V16 implementation.

[2020-12-24 14:39] WenMeng-NOAA commented on #229
The UPP regression tests were conducted on Dell, Cray and Hera. With this PR merged, there would be changed results of baseline for GFS, GEFS, FV3R in RH and related fields like:
[code]

[2020-12-29 00:52] WenMeng-NOAA commented on #166
Commit 29341ff : #224 : Add upp_phyics and upp_math for nodulizing some computations such as RH, CAPE/CIN in UPP and unify RH computation for GFS, FV3/LAM with NAM RH algorithm.

[2020-12-30 16:31] jwolff-ncar commented on #189
@mkavulich @kayeekayee Wanted to tag you on this issue so you can update as necessary.

[2020-12-30 20:35] #229 closed, assigned to JesseMeng-NOAA

[2020-12-30 20:37] WenMeng-NOAA commented on #213
@edwardhartnett Have all changes been made in the UPP?

[2020-12-30 20:39] WenMeng-NOAA commented on #208
@edwardhartnett Have all changes been made in the UPP? If yes, may I close this issue?

[2020-12-30 20:44] WenMeng-NOAA opened #246 "Update the UPP with libraries from the hpc-stack"
Update the UPP modulefiles with libraries from the hpc-stack built on WCOSS Dell, Cray, Hera, Orion and Jet.

[2020-12-30 21:54] edwardhartnett commented on #213
Yes, the README contains everything it should. I will close this issue.

[2020-12-30 21:54] #213 closed, assigned to nobody

[2020-12-30 21:55] edwardhartnett commented on #208
No, there is more to do. I was waiting for some outstanding PRs to be merged, and now they are. I will do a PR with another round of doxygen changes next week...

[2020-12-31 00:30] WenMeng-NOAA commented on #208
@edwardhartnett Your plan works to me. Thanks!

[2020-12-31 01:50] WenMeng-NOAA opened #247 "Update VERSION for the release of the UPP refactor"
Update the UPP version number file VERSION to 10.0.2 for the release of the UPP refactor.

[2020-12-31 19:54] #247 closed, assigned to nobody

[2020-12-31 20:04] WenMeng-NOAA commented on #166
Commit cfb0b92 : #248 : Update VERSION file (10.0.2) for UPP refactor release. A new tag upp_v10.0.2 was created.

[2021-01-04 13:26] WenMeng-NOAA opened #249 "Build UPP standalone executable via cmake"
Set up a new function of building UPP standalone executable via cmake instead of GNC makefile.

[2021-01-04 13:34] WenMeng-NOAA opened #250 "Update the user guide of adding new variable in UPP"
The DTC has a user guide of adding new variable in UPP at
https://dtcenter.org/sites/default/files/community-code/add-new-upp-variable.pdf

This document is needed an update for reflecting the UPP refactor change such as removing GRIB1 output.

[2021-01-04 18:16] WenMeng-NOAA commented on #250
@kayeekayee Does the DTC UPP team have any suggestions or a plan for this update? We have several UPP collaborators have plans of adding new fields in UPP for different projects. A updated guidance would be good for them. Thanks!

[2021-01-05 19:08] WenMeng-NOAA commented on #165
Merge PR #251 at 10cb8e3 for updating exglobal_atmos_pmgr.sh with the feedback of NCO's parallel run. A new tag upp_gfsv16_release.v1.1.3 was created for GFS V16 implementation.

[2021-01-05 20:16] hertneky commented on #250
@WenMeng-NOAA There is a PR #241 with the updated "Add New Variable" documentation for our release/public-v2. The example in the documentation was tested and successful for me, but last I heard Ka Yee was unable to produce the new example field in the output. Do you have any update on this @kayeekayee?

[2021-01-05 20:33] WenMeng-NOAA commented on #250
@hertneky The PR #241 is very helpful. Would you guide me how to review rst format file either online or off-line? Thanks!

[2021-01-06 14:18] jwolff-ncar commented on #250
Hopefully @kayeekayee or @mkavulich can help! (@hertneky and @fossell are on maternity leave.)

[2021-01-07 17:55] fossell commented on #250
@WenMeng-NOAA - Our procedure is to serve up the rst files using readthedocs, which is where current versions of UPP user guides are available for UFS.  Tracy had a demo of this up (non-public) but it looks like it's no longer available.  We do plan to make a new UG publicly available with the release of SRW public-v2 and stand alone community UPP. If you need  something accessible before that (Fe

[2021-01-07 17:56] fossell commented on #249
@WenMeng-NOAA - Do you want our assistance since we do this for community and UFS apps?  We should at least make sure our procedures that we distribute are the same.  @mkavulich @kayeekayee

[2021-01-07 18:14] WenMeng-NOAA commented on #249
@fossell I got a sample of cmake build with the NCEPLIBS from the hpc-stack from EMC/EIB colleagues. I started on setting up script and modulefiles for WCOSS, Hera and Orion in my branch. We definitely need assistances from the DTC team. I will contact with @mkavulich  and @kayeekayee when my preliminary version is done. Thanks!

[2021-01-07 18:18] WenMeng-NOAA commented on #249
@fossell @kayeekayee  I just proposed a plan of unifying name convention to Arun and Huiya:
1) unify name convention in UPP as:
    executable: upp.x (now ncep_post)
    library: upp.a (already implemented)
 2) Add new UPP standalone cmake build function for building executable and library (upp.a, include/*mod)
     The cmake build will use the hpc-stack libraries on WOSS, Hera, Orion, Jet
     **

[2021-01-07 18:42] WenMeng-NOAA commented on #250
@fossell Thanks for replying during your maternity leave. I hope you and your family are doing well.  I created this issue because recently a few UPP collaborators have been using the DTC document from https://dtcenter.org/sites/default/files/community-code/add-new-upp-variable.pdf for their development of adding few fields.  I briefly look at AddNewVariable.rst from Tracy's branch on github. It l

[2021-01-07 20:14] SMoorthi-emc commented on #249
Wen,
  I have compiled with cmake on dell and hera.
If you are interested, let me know.
Moorthi

On Thu, Jan 7, 2021 at 1:14 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 2

[2021-01-07 20:22] WenMeng-NOAA commented on #249
Moorth,

I started the changes in my branch
https://github.com/WenMeng-NOAA/EMC_post/tree/post_cmake_build
The build script for cmake is under tests/compile_upp.sh.
I have been testing on the hpc-stack supported platforms.  You are welcome
to comment/correct my changes.

Thanks,

Wen

On Thu, Jan 7, 2021 at 3:15 PM SMoorthi-emc <notifications@github.com>
wrote:

--
Wen Meng
IMSG at NOAA/NWS/NCEP/E

[2021-01-07 20:29] SMoorthi-emc commented on #249
Thanks.
I already have it working.
Moorthi

On Thu, Jan 7, 2021 at 3:23 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: Shrinivas.Moorth

[2021-01-07 22:17] #30 closed, assigned to nobody

[2021-01-08 02:33] junwang-noaa opened #252 "regional inline post update for HAFS"
Some code changes are required for regional inline post capability in ufs-weather-model, which includes both HAFS and LAM capability. Below is the file list for HAFS inline post.

sorc/ncep_post.fd/AllGETHERV_GSD.f
sorc/ncep_post.fd/CALGUST.f
sorc/ncep_post.fd/CALPBL.f
sorc/ncep_post.fd/CALPW.f
sorc/ncep_post.fd/CLDRAD.f
sorc/ncep_post.fd/MAPSSLP.f
sorc/ncep_post.fd/MDL2P.f
sorc/ncep_post.fd/MDLFL

[2021-01-08 02:34] junwang-noaa commented on #252
The post branch with the code changes is:

https://github.com/junwang-noaa/EMC_post/tree/regional_inlinepost

[2021-01-08 19:01] hertneky commented on #250
@WenMeng-NOAA I do have the document viewable from my fork, based off of release/public-v2 via readthedocs. This is public, so it should be viewable. Section 7 is adding a new variable. I certainly welcome any comments/feedback you have on this document, and can address those at a later date when I return from maternity leave. https://upp-hertneky.readthedocs.io/en/v2_addvar_mods/

[2021-01-08 19:13] WenMeng-NOAA commented on #250
@hertneky Thanks for pointing the readthedocs link. I would pass it to our UPP developers. Wish everything is doing well during your maternity leave! Thanks!

[2021-01-11 22:51] EricRogers-NOAA opened #253 "Add 0-1km above ground Vertical U and V-Component of the Wind Shear"
The LAM team would like to have the 0-1km AGL vertical u/v components of the wind shear (VUCSH and VVCSH) added to the fv3sar.xml file in the EMC_post repository, and have the postxconfig-NT-fv3sar.txt file updated accordingly. A copy of fv3sar.xml with these added can be found on Mars in /gpfs/dell6/emc/modeling/noscrub/Eric.Rogers/fv3lam_for_dellp3.5/sorc/regional_post.fd/parm

[2021-01-11 23:39] WenMeng-NOAA commented on #253
@EricRogers-NOAA
Eric,

I will pick up the changes into my branch, submit a pull request and have you being code reviewer. Please let me know if this plan is working for you.

Thanks,

Wen

[2021-01-12 00:20] WenMeng-NOAA commented on #253
@EricRogers-NOAA
It appears to me besides UVCSH/VVCSH AGL 0-1km, there are more updates in fv3sar.xml from your branch:

- Rename dataset BGDAWP to AGDAWP
- Increase precision of ICMR, RWMR, SNMR at hybrid levels and isobaric level  from 3 to 6
- Remove  ACM_WEASD_ON_SURFACE
- Increase precision of INST_PRATE_ON_SURFACE from 3 to 6
- Increase precision of MAX_PRATE_ON_SURFACE from 4 to 6
- Rename

[2021-01-13 00:17] #253 closed, assigned to WenMeng-NOAA, EricRogers-NOAA

[2021-01-13 00:19] WenMeng-NOAA commented on #166
Commit 37aacf6 : #254 : Update fv3lam control files with the request from EMC FV3LAM team.

[2021-01-13 19:49] WenMeng-NOAA commented on #166
Commit 4a280f4 : ##256 : Change fv3lam dataset name convention.

[2021-01-14 12:31] WenMeng-NOAA commented on #252
### Dependency changes at other repositories
Jun also submitted related changes at:
- ufs-weather-model: PR #[364](https://github.com/ufs-community/ufs-weather-model/pull/364)
                                   Issue #[259](https://github.com/ufs-community/ufs-weather-model/issues/259)
- fv3atm: PR #[229](https://github.com/NOAA-EMC/fv3atm/pull/229)

[2021-01-19 14:51] #249 closed, assigned to nobody

[2021-01-19 14:54] WenMeng-NOAA commented on #166
Commit b267dd9 : #257 : build standalone UPP via cmake. A new tag upp_v10.0.3 was created.

[2021-01-25 16:12] AnningCheng-NOAA opened #258 "Reading aerosol aod of total, dust, sea salt, sulfate, organic carbon, and black carbon from GFSV17/GEFSV13 and output to grib2 files"
Reading aerosol aod of total, dust, sea salt, sulfate, organic carbon, and black carbon from GFSV16/17 output and output to grib2 files. setting RDAOD to true to turning off calculation of AOD in postprocessing.

[2021-01-27 13:39] junwang-noaa opened #259 "Resolve different field names for regional and global applications"
It was discussed at the UFS infrastructure meeting that a unified inline post will be created. Since standalone POST is using two different initialization subroutines (INITPOST_GFS_NETCDF_PARA.f and INITPOST_NETCDF.f) for global and regional applications, the different fields names used in the two applications need to  be unified with consistent fields names in POST. Also changes need to be made t

[2021-01-27 15:51] WenMeng-NOAA commented on #246
This issue was combined with issue #249. The PR #257 was integrated in branch develoop on 01/19/2021.

[2021-01-27 15:58] #246 closed, assigned to WenMeng-NOAA

[2021-01-27 20:21] HuiyaChuang-NOAA commented on #240
After Wen tested and merged Jun's UPP updates, Jesse will take over and scan through all UPP subroutines to make sure derivations are only done when none of input has missing values.
Jesse will also follow Jun's advice to test use of negative value as missing value instead, e.g., -1.e10
Jesse's task is tracked and documented in
https://vlab.ncep.noaa.gov/redmine/issues/87352

[2021-01-28 15:55] JesseMeng-NOAA commented on #240
Wen, please let me know when you are ready. Thanks,

Jesse

On Wed, Jan 27, 2021 at 3:21 PM HuiyaChuang-NOAA <notifications@github.com>
wrote:

[2021-02-06 20:18] EdwardColon-NOAA opened #260 "Initial integration of effective layer bottom and top"
Made initial changes to MISCLN.f and RQSTFLD.f to integrate the effective layer bottom and top temperature and height fields when the RAPRRTMA option is selected for the UPP model.

[2021-02-08 14:43] RussTreadon-NOAA opened #262 "Non b4b reproducible master.grb2fXXX files from GFS v16 model with inline UPP"
GFS v16 forecast model runs with differrent WRITE_GROUP_GFS yield master.grb2fXXX files that are not b4b identical.   Investigations thus far show the differences to be limited to cloud ceiling height.

NCO's implementation of the GFS v16 package was run on Venus using NCO's warm start initial conditions for 2021020712 gfs.    The gfs forecast step was run three times out to F024 with hourly outpu

[2021-02-08 18:50] EdwardColon-NOAA commented on #260
The following link contains sample slides created from the UPP output which integrates the code changes included in this commit:

https://docs.google.com/presentation/d/1kAGffwxmVZYetKBlOrZA-17bSyD0watfXo67auCSskc/edit#slide=id.gbbc0732e56_0_0

[2021-02-12 19:05] WenMeng-NOAA commented on #236
Wen will combine the fixes in Jun's regional in-line post pull request #255.

[2021-02-16 14:05] WenMeng-NOAA commented on #225
@ericaligo-NOAA There is a bug in  line 948 which intends to printout a out of dimension array pmid(i,j,61), where the third dimension of pmid is set as 60. This printout line should be commented out. The fix will be added with PR #255.

[2021-02-16 21:40] WenMeng-NOAA commented on #252
Wen ran the UPP regression tests on Dell, there were the following changed results for FV3R:
---------------------------
PRSLEV06:
2:3778354:PRES:1 hybrid level:rpn_corr=0.999999:rpn_rms=12.0268
12:10311475:HGT:1 hybrid level:rpn_corr=0.999998:rpn_rms=1.16522
14:15084205:POT:1 hybrid level:rpn_corr=0.999999:rpn_rms=0.011523
23:41610696:PRES:2 hybrid level:rpn_corr=0.999999:rpn_rms=11.2499
33:47607

[2021-02-17 20:05] WenMeng-NOAA commented on #252
The UPP regression tests were conducted on Hera and Cray. The results are consistent with the ones from Dell.

[2021-02-19 14:46] WenMeng-NOAA opened #264 "Compiling UPP via cmake without openmp option"
The current UPP is not threading safe. It was found that building upp library via cmake having **openmp** option involved.
` [ 2%] Building Fortran object sorc/ncep_post.fd/CMakeFiles/upp.dir/CTLBLK.f.o
cd /home/Wen.Meng/stmp2/develop/EMC_post/tests/build/sorc/ncep_post.fd && /apps/intel/parallel_studio_xe_2018.4.057/compilers_and_libraries_2018/linux/bin/intel64/ifort -I/scratch2/NCEPDEV/nwprod/h

[2021-02-20 01:12] WenMeng-NOAA commented on #258
@AnningCheng-NOAA The new fields you added are targeting for GFS V16 or GFSV17? Also for RRFS?

[2021-02-20 14:23] AnningCheng-NOAA commented on #258
Wen, Yes for all of them.

On Fri, Feb 19, 2021 at 8:13 PM WenMeng-NOAA <notifications@github.com>
wrote:

[2021-02-20 14:43] WenMeng-NOAA commented on #258
@AnningCheng-NOAA Can you provide sample model history files including these six fields for testing GRIB2 data from UPP?
@yangfanglin Do you have a timeline for adding these new fields in GFS V16 products?

[2021-02-20 15:17] AnningCheng-NOAA commented on #258
Wen, the input data for the regression test
is /scratch2/NCEPDEV/climate/Anning.Cheng/EMC_post/post_regression_test_new/data_in/
gfs.t00z.sfcf006.nc
I have moved the original file to gfs.t00z.sfcf006.nc_o
The output fields are located at:
/scratch1/NCEPDEV/stmp2/Anning.Cheng/gfs.20200204
/scratch1/NCEPDEV/stmp2/Anning.Cheng/gfs.20200204_pe_test/

Are those files that you are looking for?

On Sat,

[2021-02-21 22:55] WenMeng-NOAA commented on #264
02/19/21 from Rahaul:

I am working on a test to test my hypothesis in a simple case.

We may need to make a change wherever OpenMP is linked in by replacing:

[2021-02-21 22:57] WenMeng-NOAA commented on #264
02/21/21 from Qingfu's tests on upp/10.0.0:

[2021-02-22 01:50] WenMeng-NOAA commented on #258
@AnningCheng-NOAA That's what I need. I did my own UPP standalone test with your history files and duplicated your results on Hera. At this time, the capability test for adding new AOTK fields were done.
@yangfanglin Do you have plans for outputting new AOTK fields in GFS V16 operational products and GFS V17 products right now? If yes, were the changes at FV3 model side applied in parallel run?

[2021-02-22 02:53] yangfanglin commented on #258
Wen,

There is no plan to make any more changes to GFS.v16.
For GFS.v17/GEFS.v13, we are planning to use MERRA2 aerosol Anning added to
the forecast model.  We need to write out the AOD fields in the UPP.
Please merge Anning's changes to the UPP development branch, and make it
optional to write out AOD if possible.

Thanks
Fanglin

On Sun, Feb 21, 2021 at 8:50 PM WenMeng-NOAA <notifications@github

[2021-02-22 15:32] WenMeng-NOAA commented on #258
@yangfanglin Thanks for clarifying. I will guide @AnningCheng-NOAA  for further tweaking.

[2021-02-22 19:21] HuiyaChuang-NOAA commented on #264
Now that we know using cmake/HPC stack resulted in compiling UPP with OpenMP, it has become more
urgent to update UPP to make it thread safe going forward.  Especially because in-line post is run in GFS development
and soon will be by RRFS.  WE need to make sure these development output are valid.

I spoke to two UPP re-engineering staff but they do not have experiences working on threading and wi

[2021-02-22 22:03] aerorahul commented on #264
@HuiyaChuang-NOAA
CMake brings in transient dependencies automatically; i.e. if a program depends on a library that depends on other libraries, it is the job of the dependent library to bring forth its dependencies. e.g. if NCEPLIBS were compiled with OpenMP, when linking with them, they bring forward those OpenMP flags (`-qopenmp`).
If one wants to build a non-threaded version of UPP, one should

[2021-02-22 22:39] WenMeng-NOAA commented on #264
@aerorahul To improve UPP thread safe might not be finished within one month.
Please advise the fix for building non-thread upp lib via cmake or other options. We have global in-line post and upcoming regional in-line post relying on it. Thanks!

[2021-02-23 16:55] WenMeng-NOAA commented on #252
From Jun:

[2021-02-23 16:58] WenMeng-NOAA commented on #252
Another effort of making UPP code thread safe was just started from the UPP re-refactor.

[2021-02-23 17:00] #225 closed, assigned to WenMeng-NOAA

[2021-02-23 17:00] #252 closed, assigned to junwang-noaa, WenMeng-NOAA

[2021-02-23 17:11] WenMeng-NOAA commented on #166
Commit 638479 : #255 : support regional in-line post at ufs-weather-model.

[2021-02-23 18:03] WenMeng-NOAA commented on #264
The efforts of making UPP code thread safe was just started from the UPP re-factor. This issue should be solved with that UPP -refactor task completed.

[2021-02-23 18:29] aerorahul commented on #264
@WenMeng-NOAA
I wrote a build script for you that will clone the UPP and its NCEPLIBS dependencies and build them.
The dependencies (and UPP) can be built with or without OPENMP (The script has an option, default is OFF).
I tested the build on Hera (Orion is down today).

You can find the script on Hera at:
[code]

To use it:
[code]

[2021-02-23 19:43] WenMeng-NOAA commented on #264
@aerorahul That's great! I did my test with your new script on hera and saw openmp option was not involved UPP code compiling.  My understanding is your new cmake build way would be checking all dependency libs from their repositories and building without openmp instead of using existing libs at the hpc-stack, right?
I will add a link of your script in the hpc-stack issue #[171](https://github.com

[2021-02-23 20:10] aerorahul commented on #264
@WenMeng-NOAA
It is not `new` cmake way.  This is exactly how we build the hpc-stack.  The difference is hpc-stack is built with all the bells and whistles.  In your case, OpenMP enabled.
I just made this standalone for a user who wants full control of building the UPP and its NCEPlibs dependencies.

[2021-02-23 22:59] WenMeng-NOAA commented on #240
@JesseMeng-NOAA The UPP branch was updated with the PR #255 for regional in-line post.

[2021-02-24 16:19] WenMeng-NOAA commented on #258
@AnningCheng-NOAA Please pick up the following changes from my working version and test the rdaod read from namelist.
/scratch1/NCEPDEV/stmp2/Wen.Meng/anning/EMC_post
[Wen.Meng@hfe02 EMC_post]$ git status
On branch merra2
Your branch is up to date with 'origin/merra2'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to

[2021-02-24 19:20] WenMeng-NOAA opened #267 "Radar reflectivity from UPP standalone pe tests for HAFS"
The HAFS team reported that the radar reflectivity in HAFS grib2 data files were not bitwise identical in the pe tests.

[2021-02-24 19:27] junwang-noaa commented on #267
Thanks, Wen. Do you want to create a new tag for hpc_stack?

On Wed, Feb 24, 2021 at 2:20 PM WenMeng-NOAA <notifications@github.com>
wrote:

[2021-02-24 19:51] WenMeng-NOAA commented on #267
Wen figured out a bug in the setting of the flag Model_Radar in subroutine MDLFLD.f. A fix will be added.

[2021-02-24 19:58] WenMeng-NOAA commented on #267
@junwang-noaa I might use the same tag name(upp/10.0.4) after the fix is committed. The hpc-stack team doesn't like the frequent library upgrade. It would be my concern how to maintain and upgrade upp library at the hpc-stack with more ufs applications using in-line post. Do you have any suggestions?

[2021-02-24 20:15] junwang-noaa commented on #267
Sure. that is OK.

On Wed, Feb 24, 2021 at 2:58 PM WenMeng-NOAA <notifications@github.com>
wrote:

[2021-02-24 23:10] WenMeng-NOAA commented on #166
Commit 1d3d6ff : #268 : Fix radar reflectivity issue for HAFS.

[2021-02-24 23:12] WenMeng-NOAA commented on #267
@junwang-noaa I recreated the tag upp_v10.0.4 based on this commit 1d3d6ff for installing upp/10.0.4 at the hpc-stack.

[2021-02-25 04:41] junwang-noaa commented on #267
Thanks.

On Wed, Feb 24, 2021 at 6:12 PM WenMeng-NOAA <notifications@github.com>
wrote:

[2021-02-25 15:59] WenMeng-NOAA commented on #262
Quoted from Qingfu for cloud ceiling fix on 02/15/2021

/scratch1/NCEPDEV/global/Qingfu.Liu/gfsv16_ccpp/sorc/fv3gfs.fd/FV3/io/post_gfs.F90

`  ! hbot

      do j=jsta,jend
        do i=1,im
          hbot(i,j)  = SPVAL     ! Qingfu Liu added
          if(pbot(i,j) < spval)then
            do l=lm,1,-1
              if(pbot(i,j) >= pmid(i,j,l)) then
                hbot(i,j) = l
                exi

[2021-02-25 16:07] WenMeng-NOAA commented on #262
On 02/17/2021, Qingfu conducted the following four tests for cloud ceiling fix:

WRITE_GROUP_GFS=8:  /scratch1/NCEPDEV/stmp2/Qingfu.Liu/ROTDIRS/ccpp_gfsv16/gfs.20190701_82
WRITE_GROUP_GFS=2:  /scratch1/NCEPDEV/stmp2/Qingfu.Liu/ROTDIRS/ccpp_gfsv16_4/gfs.20190701_42

     The data after the fix:
WRITE_GROUP_GFS=8:  /scratch1/NCEPDEV/stmp2/Qingfu.Liu/ROTDIRS/ccpp_gfsv16/gfs.20190701_83
WRITE_GROUP_GF

[2021-02-25 16:13] WenMeng-NOAA commented on #262
On 02/23/2021, Jun picked up this cloud ceiling fix and combined her changes for regional in-line post at fv3atm repository
at https://github.com/junwang-noaa/fv3atm/commit/5dcd1f5600f7a35085e9950a186c4d843f8c2567

[2021-02-25 16:18] WenMeng-NOAA commented on #262
@RussTreadon-NOAA, @yangfanglin @HuiyaChuang-NOAA @junwang-noaa  The cloud ceiling fix from Qingfu will be updated in the ufs-weather-model with Jun's PR for regional in-line post capability. I will close this issue as completed. Please let me know if you have any concerns/comments.

[2021-02-25 22:24] HuiyaChuang-NOAA opened #270 "Fix thread violation issues in UPP"
A decision was made 10 years ago to focus on improving UPP's efficiency using MPI.
As a consequence, UPP has not been thread safe for at least a decade and users have
been advised to run with OMP_NUM_THREADS=1

UPP recently switched to use cmake as request from EIB.
It was quickly discovered the use of cmake in UPP compilation resulted in intrinsic use of OpenMP
which caused UPP to generate differ

[2021-02-25 22:27] HuiyaChuang-NOAA commented on #270
Arun tasked Jim A. to help make UPP thread safe.
Wen already provided Jim a stand-alone test package.
Huiya organized a meeting on 2/26 for all involved to discuss and mainly make sure Jim has enough information to
test his changes.

[2021-02-26 14:19] WenMeng-NOAA commented on #270
Wen Provided an UPP standalone test case with FV3GFS configuration on Hera to Jim and Jesse at
/scratch1/NCEPDEV/stmp2/Wen.Meng/Jim.

[2021-02-26 14:24] WenMeng-NOAA commented on #258
@AnningCheng-NOAA I saw you added additional changes other than aerosol related  in CLDRAD.f.  Is that an incident or for other purposes?

[2021-02-26 14:35] AnningCheng-NOAA commented on #258
Hi, Wen,

 Those changes are probably caused by the merging processes. I do not know
how these changes happened. I have copied the files in
/scratch1/NCEPDEV/stmp2/Wen.Meng/anning/EMC_post over and completing the
regression test.

Anning

On Fri, Feb 26, 2021 at 9:24 AM WenMeng-NOAA <notifications@github.com>
wrote:

[2021-02-26 14:43] AnningCheng-NOAA commented on #258
HI, Wen:

The regression tests have just passed at Hera with rdaod=T. The
rundir: /scratch2/NCEPDEV/climate/Anning.Cheng/EMC_post
The six grib2 files are
at /scratch1/NCEPDEV/stmp2/Anning.Cheng/gfs.20200204/
and /scratch1/NCEPDEV/stmp2/Anning.Cheng/gfs.20200204_pe_test/.

The test is still running at DELL, but will complete soon.

Could you take a look if anything needed to change?

Anning

On Fri

[2021-02-26 15:35] WenMeng-NOAA commented on #258
@AnningCheng-NOAA Your tests look fine for me. Could you commit sorc/ncep_post.fd/WRFPOST.f and sorc/ncep_post.fd/CLDRAD.f to remove these no rdaod related changes?

[2021-02-26 15:59] AnningCheng-NOAA commented on #258
I pushed the two files, but it shows everything is up to date. Is there
anything i am missing?

On Fri, Feb 26, 2021 at 10:36 AM WenMeng-NOAA <notifications@github.com>
wrote:

[2021-02-26 16:00] AnningCheng-NOAA commented on #258
git add CLDRAD.f
/scratch2/NCEPDEV/climate/Anning.Cheng/EMC_post/sorc/ncep_post.fd% git add
WRFPOST.f
/scratch2/NCEPDEV/climate/Anning.Cheng/EMC_post/sorc/ncep_post.fd% git
commit -a -m "removed unrelated changes relative to aod outputs"
On branch merra2
Your branch is up to date with 'origin/merra2'.

On Fri, Feb 26, 2021 at 10:59 AM Anning Cheng - NOAA Affiliate <
anning.cheng@noaa.gov> wrote:

[2021-02-26 16:24] WenMeng-NOAA commented on #258
@AnningCheng-NOAA Could you try freshly checking out your branch  and adding these two files?

[2021-02-26 16:34] WenMeng-NOAA commented on #258
@AnningCheng-NOAA If it doesn't work, you might use the version from latest upstream/develop and manually add your changes again in these two files.

[2021-02-26 20:19] AnningCheng-NOAA commented on #258
Wen, I used the version from develop and manually added the two files. I
have also made a successful regression test on Hera.  There should be no
AOD related changes now. The regression tests are also done on DELL. Please
verify my changes and let me know. I will set rdaod to F,  revert the xml
files, make a test, push my changes.

On Fri, Feb 26, 2021 at 11:34 AM WenMeng-NOAA <notifications@githu

[2021-02-26 20:57] WenMeng-NOAA commented on #258
@AnningCheng-NOAA Your changes in source code look good to me now. Could you revert the changes under pam/ and
scripts/exgfs_atmos_nceppost.sh?

[2021-02-27 19:50] #236 closed, assigned to WenMeng-NOAA

[2021-02-27 19:54] WenMeng-NOAA commented on #250
Hui-ya and Wen updated adding new fields in UPP procedure at
https://docs.google.com/document/d/1r2BQtAI33S_zCDh6Ko-aFW0kO79MYILspW31Bw4zE60/edit

[2021-02-27 19:54] #238 closed, assigned to nobody

[2021-02-27 19:55] WenMeng-NOAA commented on #238
This issue is closed since no new updates from the issue reporter.

[2021-02-27 20:01] WenMeng-NOAA commented on #264
On 02/25/2021, Dusan submitted the PR #269 for removing upp lib dependency on ip, sp, and w3nco. This PR is aiming to solve this UPP openmp issue.

[2021-02-27 20:04] WenMeng-NOAA commented on #264
On 02/26/2021, Wen tested on building upp lib on Hera and WCOSS-Dell. Wen verified the -qopenmp option is not removed.

[2021-02-28 01:02] #264 closed, assigned to kgerheiser, aerorahul, Qingfu-Liu, junwang-noaa, edwardhartnett, DusanJovic-NOAA, WenMeng-NOAA, HuiyaChuang-NOAA

[2021-02-28 01:10] WenMeng-NOAA commented on #166
commit 659f401 : #269 : Remove upp lib dependency on ip, sp and w3nco. A new tag upp_v10.0.4 was created.

[2021-02-28 01:29] #262 closed, assigned to Qingfu-Liu, WenMeng-NOAA, JesseMeng-NOAA

[2021-02-28 18:14] #267 closed, assigned to BinLiu-NOAA, WenMeng-NOAA

[2021-02-28 18:41] WenMeng-NOAA commented on #264
The code handoff of new tag upp_v10.0.4 was done. The work needs to be done to verify thread safe in FV3GFS. @HuiyaChuang-NOAA Would you consider this new verifying in-line post threading procedure delivered from UPP re-factor efforts?

[2021-02-28 18:49] WenMeng-NOAA commented on #270
On 02/27/2021, Per @JamesAbeles-NOAA 's feedback

[2021-03-01 14:27] WenMeng-NOAA commented on #258
@AnningCheng-NOAA After you update the files as suggested above, please sync your branch with the latest upstream/develop. Your PR would be the next one to be merged. Thanks!

[2021-03-01 14:41] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I ran my UPP standalone test with your branch and saw a lot of new fields in rtma datasets WRFTWO, WRFPRS, WRFNAT compared with the baseline I did on 12/2020. Could you briefly list additional fields you added in rtma control file 3drtma_postcntrl.xml in this issue? That would help me to recreate the baseline of regression test for rtma.

[2021-03-01 16:31] AndrewHazelton opened #271 "Addition of Eddy Diffusivity (Km) and TKE Diagnostic Variables to UPP for HAFS"
Hello,

I have a set of PBL experiments that we are performing for the FV3-based Hurricane Analysis and Forecast System (HAFS), and we want to add diagnostic variables of eddy diffusivity (Km) and turbulent kinetic energy (TKE) to the UPP grib2 output. The variables are already output in the netcdf files that FV3 outputs, but we would like to get them on the same post-processed grid as the rest of

[2021-03-01 16:35] EdwardColon-NOAA commented on #260
Hello Wen,

In recent days while working on the other SPC fields, I discovered that
the   post_avblflds.xml file that I added the new fields to during this
pull request is missing key fields needed for the 3D-RTMA parallel
including the suite of radar reflectivity fields. The 3drtma_avblflds.xml
that I have used previously was based on post_avblflds_raphrrr.xml rather
than post_avblflds.xml and th

[2021-03-01 16:47] WenMeng-NOAA commented on #271
@AndrewHazelton You might get some guide for adding a new variable in UPP code at
 https://github.com/NOAA-EMC/EMC_post/wiki/UPP-Code-Development#add-a-new-variable-in-upp

Also, the on-going PR #263 might be a good reference for your case. Please let me know if you need further information.

Thanks!

[2021-03-01 17:18] AndrewHazelton commented on #271
Wen,

Thank you for the information!

I am reading through the document, and one of the variables I need (TKE) is already in post_avblflds.xml.

However, the field gives a constant 0 value when I look at the grb2 output.

Where can I confirm that the TKE variable is correctly getting output or processed from the netcdf output files I have from HAFS?

Andy

[2021-03-01 17:25] WenMeng-NOAA commented on #260
@EdwardColon-NOAA The post_avblflds_raphrrr.xml was unified to post_avblflds.xml after the GSD UPP was merged to the EMC_post back to 08/2020. The UPP repository can't have accept a new avblfld.xml any more. The new fields added in post_avblflds_raphrrr.xml might cause conflict with other applications in UPP.
I have a saved 3drtma.xml at /u/Wen.Meng/noscrubd6/ncep_post/post_3drtma/EMC_post/parm on

[2021-03-01 17:51] WenMeng-NOAA commented on #271
@AndrewHazelton The UPP internal variable assigned for 3D TKE at hybrid level is "q2". You might make the changes in INITPOST_NETCDF.f for reading "tkediagnostic" from netcdf and assign as q2.
You may check  MDLFLD.f starting at line 3864 for writing out 3D TKE in grib2 to find this internal variable name "q2".

[2021-03-01 18:19] AndrewHazelton commented on #271
Wen, the output files I have are on pressure surfaces. That should also be available it looks like:

    <param>
       <post_avblfldidx>22</post_avblfldidx>
       <shortname>TKE_ON_ISOBARIC_SFC</shortname>
       <pname>TKE</pname>
       <fixed_sfc1_type>isobaric_sfc</fixed_sfc1_type>
       <scale>3.0</scale>
    </param>

So would it still need to be "q2" in INITPOST_NETCDF.f, or something el

[2021-03-01 18:33] WenMeng-NOAA commented on #271
@AndrewHazelton Yes, the q2 is the internal variable for TKE at hybrid level. You need to ensure in the read interface INITPOST_NETCDF.f, TKE is correctly read from the model output and passed into the internal variable for model hybrid level. The UPP has another process to interpolate fields from hybrid level into isobaric level.

[2021-03-01 18:40] EdwardColon-NOAA commented on #260
Hi Wen,

There are differences between the older and newer files involving the new
SPC fields and are included in the following test file:

/gpfs/dell2/emc/modeling/noscrub/Edward.Colon/diff_old_new_3drtma.xml

Most but not all of these differences are attributable to the addition of
SPC fields which may account for the increased field count in the UPP
output files.  However, I am still concerned

[2021-03-01 18:48] AndrewHazelton commented on #271
Wen, thanks. I have added "tkediagnostic" to INITPOST_NETCDF.f, and it compiled OK.

      VarName='tkediagnostic'
        call read_netcdf_3d_scatter(me,ncid2d,1,im,jm,jsta,jsta_2l &
        ,jend_2u,MPI_COMM_COMP,icnt,idsp,spval,VarName &
        ,lm,Q2(1,jsta_2l,1))

I will do a test run and see if that variable works at least.

[2021-03-01 18:53] EdwardColon-NOAA commented on #260
I'm going to see what I can do with my python graphics scripts to address
the issue of missing fields when reading output using post_avblflds.xml

-Edward

On Mon, Mar 1, 2021 at 1:40 PM Edward Colon - NOAA Affiliate <
edward.colon@noaa.gov> wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737

[2021-03-01 19:30] WenMeng-NOAA commented on #260
@EdwardColon-NOAA The post_avblflds.xml should include all fields from post_avblflds_raphrrr.xml after unification back to 08/2020. The *avblflds.xml will not be used in UPP runtime. I would be straight to add the SPC fields in post_avblflds.xml.

It seems the UPP configuration your run and my run are not on the same page. I would like go through with you about it first.

Could you provide me your

[2021-03-01 20:22] EdwardColon-NOAA commented on #260
Yes,

Those versions are available at:

/gpfs/dell2/emc/modeling/noscrub/Edward.Colon/3drtma.xml_files

3drtma_postcntrl.xml - new file
3drtma.xml - old file

Perhaps to facilitate this, I can revert back to the old 3drtma.xml file
and only add exactly the new fields being submitted in this pull request?

On Mon, Mar 1, 2021 at 2:31 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-----------

[2021-03-01 20:44] WenMeng-NOAA commented on #260
@EdwardColon-NOAA
Your 3drtma.xml is the same as the one I set up for 3drtma standalone baseline.
But your 3drtma_postcntrl.xml has a lot of difference with the one in your branch for PR #263. Will the 3drtma_postcntrl.xml at
/gpfs/dell2/emc/modeling/noscrub/Edward.Colon/3drtma.xml_files be used in 3drtma parallel with the PR #263 merged? If yes,
please commit it to your branch.

[2021-03-01 23:03] EdwardColon-NOAA commented on #260
Actually, what I want to do is use the old 3drtma.xml file with only those
new fields added. I will keep using this older file and just keep adding
new fields. That way, the old regression test can still be used. I will
make the change in the PR.

-Edward

On Mon, Mar 1, 2021 at 3:44 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Coló

[2021-03-01 23:26] WenMeng-NOAA commented on #260
@EdwardColon-NOAA It is fine for me. Could you provide me a version of xml file with new fields? I may use it for the capability testing for new fields.

[2021-03-01 23:29] EdwardColon-NOAA commented on #260
I just committed the change. The old file with the new fields can be
accessed at:

/gpfs/dell2/emc/modeling/noscrub/Edward.Colon/3drtma.xml_files/3drtma_postcntrl.xml

-Edward

On Mon, Mar 1, 2021 at 6:27 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD

[2021-03-01 23:57] WenMeng-NOAA commented on #260
@EdwardColon-NOAA Great! I will do my test.

[2021-03-02 12:39] WenMeng-NOAA commented on #258
@AnningCheng-NOAA I completed the UPP regression tests with your PR. It looks good for merging. Kate Friedman just brought a small update from the global workflow scripts. It is about setting of g2tmpl for FV3GFS regarding the hpc-stack. Would you mind to combine it in your PR? There is no need for running regression tests.

[2021-03-02 13:56] AnningCheng-NOAA commented on #258
No, I do not mind. Thank you!

On Tue, Mar 2, 2021 at 7:40 AM WenMeng-NOAA <notifications@github.com>
wrote:

[2021-03-02 14:14] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I conduct the UPP standalone test with your branch feature/3DRTMA2. I saw you added new fields in the dataset WRFTWO but no new records came out in my test. Did I missing anything?

[2021-03-02 14:21] WenMeng-NOAA commented on #258
@AnningCheng-NOAA Please pick up the following changes on Venus and commit in your branch:
------------------------
/u/Wen.Meng/ptmp/anning/EMC_post/scripts/exgfs_atmos_nceppost.sh on venus

Thanks!

[2021-03-02 14:22] EdwardColon-NOAA commented on #260
That sounds correct. The new fields in WRFTWO are diagnostic - effective
layer top and bottom, effective layer temperature at the top and bottom,  u
and v components of effective layer wind shear and effective layer
windshear magnitude- 5 new fields in total. The changes don’t impact any
answers aside from increasing the size of WRFTWO.

On Tue, Mar 2, 2021 at 9:15 AM WenMeng-NOAA <notifications@g

[2021-03-02 14:30] WenMeng-NOAA commented on #260
@EdwardColon-NOAA It appears your changes for adding new fields are not completed due to no new fields written out in GRIB2. Do you know anything is missing?

[2021-03-02 14:34] EdwardColon-NOAA commented on #260
So no new fields appear in the output file WRFTWO?

That is catted with WRFPRS and WRFNAT to generate the final grib2 files.

On Tue, Mar 2, 2021 at 9:30 AM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-02 15:10] WenMeng-NOAA commented on #258
@AnningCheng-NOAA Actually, there are two files for updating:
/u/Wen.Meng/ptmp/anning/EMC_post/scripts/exgfs_atmos_nceppost.sh on venus
/u/Wen.Meng/ptmp/anning/EMC_post/scripts/exgdas_atmos_nceppost.sh on venus

Thanks!

[2021-03-02 15:21] AnningCheng-NOAA commented on #258
Done. wen,

On Tue, Mar 2, 2021 at 10:10 AM WenMeng-NOAA <notifications@github.com>
wrote:

[2021-03-02 15:24] WenMeng-NOAA commented on #260
@EdwardColon-NOAA There are no new fields added in one of three dataset WRFTWO, WRFPRS and WRFNAT.
My baseline test is at /u/Wen.Meng/ptmp/post_rtma_2020113000-org on venus.
My test with new fields is at /u/Wen.Meng/ptmp/post_rtma_2020113000

[2021-03-02 15:26] EdwardColon-NOAA commented on #260
Okay then something certainly went wrong. I'll take a look.

-Edward

On Tue, Mar 2, 2021 at 10:25 AM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-02 16:20] EdwardColon-NOAA commented on #260
Hi Wen,

I believe the problem lies in your itag file. To invoke the block of code
that generates the new fields the following needs to change:

u/Wen.Meng/noscrubd/3drtma/20201130/rtma3d.t0000z.wrf_inout.nc
netcdf
grib2
2020-11-30_00:00:00
RAPRRTMA
47
2.,5.,7.,10.,20.,30.,50.,70.,75.,100.,125.,150.,175.,200.,225.,250.,275.,300.,325.,350.,375.,400.,425.,450.,475.,500.,525.,550.,575.,600.,625.,650.

[2021-03-02 16:25] #258 closed, assigned to yangfanglin, WenMeng-NOAA, AnningCheng-NOAA

[2021-03-02 16:29] WenMeng-NOAA commented on #166
commit 33eb60e : #263 : Adding merra climatological  aerosol fields which calculated from FV3 model.

[2021-03-02 16:32] WenMeng-NOAA commented on #258
@AnningCheng-NOAA Your PR was just merged in the branch develop. Thanks!

[2021-03-02 17:04] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I updated itag with modelname RAPRRTMA. Somehow I still didn't see new fields in WRFTWO.GrbF00.
My working directory is at /u/Wen.Meng/ptmp/post_rtma_2020113000-new on venus.

[2021-03-02 17:42] JamesAbeles-NOAA commented on #270
Found one more loop in BNDLYR.f that should not have been threaded. The code now reproduces answers for 1,2 and 4 threads. Jesse also said it does for 3 threads. I fixed the timer (using mpi_wtime) and a few non essential timers are removed. The improvement in certain routines with threading is good, but for the standalone run most of the time is in the initialization. It will be good to test this

[2021-03-02 18:13] HuiyaChuang-NOAA commented on #270
@JamesAbeles-NOAA, Thank you!  Exciting news!
@JesseMeng-NOAA I assume you're running UPP GFS stand-alone test with 3 threads.  Please follow Qingfu's procedure to test Jim's version of source code  in GFS inline post.

[2021-03-02 18:24] KateFriedman-NOAA opened #272 "Update cmake build with GTG code"
The current EMC_post develop branch does not build with GTG code.

Tried to build develop (33eb60e) on WCOSS-Dell with GTG code copied in; build failed:

/gpfs/dell2/emc/modeling/save/Kate.Friedman/git/global-workflow/feature-hpc-stack/sorc/logs/build_ncep_post_33eb60e.log

[code]

[2021-03-02 18:49] WenMeng-NOAA commented on #272
@YaliMao-NOAA Please see the compiling errors from gtg code above.

[2021-03-02 20:28] WenMeng-NOAA opened #273 "Set up in-line post test procedure"
The current UPP regression test package has pe tests only. With more ufs-weather-model based applications adapting in-line post, the procedure of in-line post with threading is needed.

[2021-03-02 21:09] HuiyaChuang-NOAA commented on #270
@JesseMeng-NOAA
Jesse, I'd also like you to start testing Jim's changes for stand-alone FV3-LAM (regional) UPP regression tests using different threads and let Jim know if FV3 regional output reproduces with different threads.  Thank you.

[2021-03-03 01:25] WenMeng-NOAA commented on #260
@EdwardColon-NOAA Do you have the working directory for generating WRFTWO.GrbF00 including new fields? I will compare your config. and my config..

[2021-03-03 01:42] EdwardColon-NOAA commented on #260
Hi Wen,

I was about to email you. For some reason,  my version of the code mimicked
the result (no new fields) when the old version of the 3drtma_postcntrl.xml
(from January) was used. But the newer version of the same file yielded the
new fields in the WRFTWO file.

The directory standalone code is located at:
/gpfs/dell2/emc/modeling/noscrub/Edward.Colon/EMC_post

The working directory is locat

[2021-03-03 02:41] WenMeng-NOAA commented on #260
@EdwardColon-NOAA how did you generate postxconfig-NT-3drtma.txt at /gpfs/dell2/emc/modeling/noscrub/Edward.Colon/EMC_post/parm? I use the 3drtma_postcntrl.xml from your directory, but
postxconfig-NT-3drtma.txt is different.

[2021-03-03 02:46] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I saw the following entry in your postxconfig-NT-3drtma.txt:
---------------------
13
TMP_ON_ISOBARIC_SFC
?
1
tmpl4_0
TMP
?
?
isobaric_sfc
0
?
5
50000. 70000. 85000. 92500. 100000.
15
DPT_ON_ISOBARIC_SFC
?
1
tmpl4_0

------------------------------------
But they are not in 3drtma_postcntrl.xml. Did you manually add them?

[2021-03-03 03:31] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I can generate WRFTWO.GrbF00 with your postxconfig-NT-3drtma.txt from /gpfs/dell1/ptmp/Edward.Colon/post_rtma_202102160430.
But the postxconfig-NT-3drtma.txt generated by parm/makefile have a lot of discrepancies with the one from  /gpfs/dell1/ptmp/Edward.Colon/post_rtma_202102160430. Can you take a look at inconsistency between  3drtma_postcntrl.xml and postxconfig-NT-3drtma.txt

[2021-03-03 03:58] EdwardColon-NOAA commented on #260
Hi Wen,

I am seeing TMP_ON_ISOBARIC_SFC and DPT_ON_ISOBARIC_SFC in the file:
/gpfs/dell2/emc/modeling/noscrub/Edward.Colon/EMC_post/parm/
3drtma_postcntrl.xml

They are being specified in lines: 920 - 926 and 936-942.

On Tue, Mar 2, 2021 at 9:46 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 Univ

[2021-03-03 04:24] WenMeng-NOAA commented on #260
@EdwardColon-NOAA In your PR branch "feature/3DRTMA2", the rtma control files (xml and txt) are not consistent. To test new fields you are proposing, please let me know where I should pick up these two control files?

[2021-03-03 04:24] EdwardColon-NOAA commented on #260
Okay.

The correct 3drtma_postcntrl.xml file is now in place at:

/gpfs/dell2/emc/modeling/noscrub/Edward.Colon/EMC_post/parm/
3drtma_postcntrl.xml

I was about to test changes to the file used last December when I got
sidetracked and didn't revert back to the working file. This copy works and
is generating the new output fields.

-Edward

On Tue, Mar 2, 2021 at 10:58 PM Edward Colon - NOAA Affili

[2021-03-03 04:44] EdwardColon-NOAA commented on #260
The post_avblflds.xml file used in the WCOSS test is identical to the copy
existing in the 3DRMTA PR. I updated the 3drtma_postcntrl.xml file to match
the one used in the WCOSS test in the PR. I added the resulting txt file to
the parm directory as well.

On Tue, Mar 2, 2021 at 11:25 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Coló

[2021-03-03 13:29] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I updated my local version with your remote branch and ran a test. Somehow I still didn't see new fields in any datasets. My test working directory is at /u/Wen.Meng/ptmp/post_rtma_2020113000-0303. Can you check out your branch feature/3DRTMA2 and run a test for confirming new fields generated in datasets in GRIB2?

[2021-03-03 14:37] EdwardColon-NOAA commented on #260
Hi Wen,

I cloned the feature/3DRTMA branch, compiled it, and ran the same test.
There was one problem involving the truncation of the
postxconfig-NT-3drtma.txt file. I fixed it, ran the test, and was able to
see the new fields in the WRFTWO file. The result is available at:

/gpfs/dell1/ptmp/Edward.Colon/post_rtma_202011300000

I pushed the fix to postxconfig-NT-3drtma.txt back to the feature/3DR

[2021-03-03 14:51] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I checked out a fresh version of your branch and conducted the test. This time, I saw some new records from  the WRFTWO.GrbF00. My new test results are at /u/Wen.Meng/ptmp/post_rtma_2020113000-new-0303. Please confirm the results are expected.
https://docs.google.com/spreadsheets/d/1GzOWyu9Z1IxFNazwyEdalbmvsEEQ1VoMRgloHuREz1k/edit#gid=0
I listed all new fields you are proposing a

[2021-03-03 15:07] HuiyaChuang-NOAA commented on #273
Jesse and Bo have been tasked to add in-line post as part of UPP re-regression tests:
https://vlab.ncep.noaa.gov/redmine/issues/88708
https://vlab.ncep.noaa.gov/redmine/issues/88709

[2021-03-03 15:25] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I reran my test with your changes. At this time, my test are bitwise identical your test at
/gpfs/dell1/ptmp/Edward.Colon/post_rtma_202011300000.

- WRFPRS.GrbF00 495 records
- WRFTWO.GrbF00 136 records
- WRFNAT.GrbF00 552 records

Regarding new fields verifying, I saw 6 of 7 new fields you are proposing except ID 985 ESHR. Would you like to fix the issue in ESHR in this pull req

[2021-03-03 15:27] EdwardColon-NOAA commented on #260
Hi Wen,

It's good that you were able to obtain the new fields. The ESHR_ON_LFC, 985
is missing. This is a problem that I raised in previous emails. Numbers 233
and 237 from the grib2 tables are not being generated. The output produced
by ESHR in the source code is fine but it is not being stored in grib2
table entry 233. As an experiment, I output the ESHR data using other grib2
field numbers and

[2021-03-03 17:19] WenMeng-NOAA commented on #260
@EdwardColon-NOAA Did you manually add new fields in sorted grib2 table params_grib2_tbl_new? From my debugging, it appears the issue is in your params_grib2_tbl_new. Please provide Boi your unsorted table params_grib2_tbl_new.text. He will use his utility to generate a sorted table  params_grib2_tbl_new.

[2021-03-03 18:23] EdwardColon-NOAA commented on #260
Hi Wen,

I didn't manually add the ESHR field. I was provided to Boi with the other.
I'll forward the files to Boi.

Thanks

Edward

On Wed, Mar 3, 2021 at 12:19 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 21

[2021-03-04 13:25] WenMeng-NOAA commented on #260
@EdwardColon-NOAA Now the testing of your new fields look good to me. Could you shift the UPP IDs of these 7 fields from 979-985 to 969-975?

[2021-03-04 15:19] EdwardColon-NOAA commented on #260
Hi Wen,

I would have no problem shifting the new field to lower numbers. My only
concern is that they would overlap with the fields listed in RQSTFLD.F.

-Edward

On Thu, Mar 4, 2021 at 8:26 AM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office:

[2021-03-04 15:31] WenMeng-NOAA commented on #260
@EdwardColon-NOAA You are right. It seems the changes from another developer missed the part in post_avblflds.xml. Your changes are fine. Could you sync your branch with upstream/develop so I will move to the regression tests. The syncing procedure can be found at https://github.com/NOAA-EMC/EMC_post/wiki/UPP-Code-Development#update-your-branch-at-your-fork-with-branch-develop-at-original-reposito

[2021-03-04 15:59] EdwardColon-NOAA commented on #260
Hi Wen,

In attempting to sync the forked branch, I ran into the following error
message:

git clone git@github.com:EdwardColon-NOAA/EMC_post.git
Cloning into 'EMC_post'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

On Thu, Mar 4, 2021 at 10:32 AM WenMeng-NOAA <notifications@github.co

[2021-03-04 16:14] WenMeng-NOAA commented on #260
@EdwardColon-NOAA It looks you didn't add your machine key on your github account. You might try clone with http link like
https://github.com/EdwardColon-NOAA/EMC_post.git. The way you check out a github branch in your local machine.

[2021-03-04 16:22] EdwardColon-NOAA commented on #260
Thank you Wen. I'll give it a try.

Just as an aside, there are 8 fields left.  6 are ready to commit now. 1 is
nearly completed. 1, the Hail Parameter, is difficult. I am receiving
assistance on completing it.

On Thu, Mar 4, 2021 at 11:14 AM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University

[2021-03-04 16:35] WenMeng-NOAA commented on #260
@EdwardColon-NOAA I would like to freeze the code for additional fields in your PR. Would you add that in your next PR? I would like to integrate your current PR soon so I may move on to my other UPP work.

[2021-03-04 16:39] EdwardColon-NOAA commented on #260
Absolutely,

I won't submit another PR until this is completed. Let me complete the
syncing since I was pulled away for another issue.

-Edward

On Thu, Mar 4, 2021 at 11:36 AM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Ce

[2021-03-04 17:20] EdwardColon-NOAA commented on #260
Hi Wen,
I synced my branch with develop after updating my public key.

-Edward

On Thu, Mar 4, 2021 at 11:38 AM Edward Colon - NOAA Affiliate <
edward.colon@noaa.gov> wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-04 17:43] WenMeng-NOAA commented on #260
@EdwardColon-NOAA Somehow, I don't see new commit in your branch feature/3DRTMA2.

[2021-03-04 17:49] EdwardColon-NOAA commented on #260
Let me try again.

On Thu, Mar 4, 2021 at 12:44 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-04 17:59] EdwardColon-NOAA commented on #260
I think the changes have been pushed back to the repository, now.

-Edward

On Thu, Mar 4, 2021 at 12:48 PM Edward Colon - NOAA Affiliate <
edward.colon@noaa.gov> wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-04 18:18] WenMeng-NOAA commented on #260
@EdwardColon-NOAA Now I saw it and will proceed for code reviewing and regression tests. Do you have recommend code reviewers for your PR from either EMCO or other agencies, GSL or SPC?

[2021-03-04 18:22] EdwardColon-NOAA commented on #260
Hi Wen,

I suppose that either Geoff Manikin or Jesse Meng could serve as code
reviewers if they are available. If not, anyone else.

Thanks,

Edward

On Thu, Mar 4, 2021 at 1:18 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-38

[2021-03-04 18:33] WenMeng-NOAA commented on #260
@EdwardColon-NOAA Sure. I would invite them. Could you add a brief descript in your PR for the list of new fields ? Or you add input in this issue and I will pass it on the PR?

[2021-03-04 18:55] EdwardColon-NOAA commented on #260
Hi Wen,

I added a new entry describing the changes in the PR.

Thanks,

On Thu, Mar 4, 2021 at 1:33 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-04 20:50] YaliMao-NOAA commented on #272
Kate,
Did you use '-fpp' for compiling?

[2021-03-04 20:56] kgerheiser commented on #272
The lowercase `.f90` means the pre-processor won't be called. If there are `#ifdef`s in the code it should be `.F90` or `-fpp` should be used.

[2021-03-04 21:06] WenMeng-NOAA commented on #272
@YaliMao-NOAA Could you try Kyle's suggestion for changing gtg code from `.f90` to `.F90` via cmake build?

[2021-03-04 21:11] WenMeng-NOAA commented on #272
@YaliMao-NOAA You may find the instruction of build UPP via camke at
https://github.com/NOAA-EMC/EMC_post/wiki/Building-UPP#build-standalone-upp-via-cmake

[2021-03-05 04:51] YaliMao-NOAA commented on #272
@kgerheiser I was able to duplicate the error messages as Kate did, so I took your suggestion. After changing the file extensions from f90 to F90 and modifying sorc/ncep_post.fd/CMakeLists.txt, I ran into another error message:
/gpfs/dell2/emc/modeling/noscrub/Yali.Mao/git/EMC_post_wafs/sorc/ncep_post.fd/gtg_indices.F90(7588): error #7002: Error in opening the compiled module file.  Check INCLUDE

[2021-03-05 04:55] kgerheiser commented on #272
Is there a missing `target_link_library(ip::ip_4)` in CMake?

[2021-03-05 13:48] YaliMao-NOAA commented on #272
@kgerheiser Are you talking about cmake/PackageConfig.cmake.in? There is a line:
#find_dependency(ip CONFIG)

[2021-03-05 19:26] GeorgeVandenberghe-NOAA opened #274 "Refactor EMC_post decomposition from 1D to 2D as part of EMC_post refactoring"
EMC_post is currently decmposed on latitude (J) only.  This is adequate for several more years but since post is generally being refactored, now is a good time to make the jump to 2D.  A second goal is to make the 2D decomposition either flexible, or just have it mimic the ufs-weather-model decomposition so developers working on both codes can exploit commonality.  This will be a modestly difficul

[2021-03-05 19:40] GeorgeVandenberghe-NOAA commented on #274
And Input  I/O of model state fields IS affected by decomposition,  just noting.

[2021-03-05 21:36] YaliMao-NOAA commented on #272
@kgerheiser May you please take a look when you get a chance? The package is on Venus at /gpfs/dell2/emc/modeling/noscrub/Yali.Mao/git/EMC_post_wafs. ip/v3.3.3 is loaded successfully, somehow IP_INC4 is not included in Fortran_INCLUDES for compiling. Thank you!

[2021-03-05 21:37] kgerheiser commented on #272
Is there a branch or somewhere I can get the code from and build myself?

[2021-03-07 02:54] YaliMao-NOAA commented on #272
@kgerheiser I followed Wen's instruction earlier, https://github.com/NOAA-EMC/EMC_post/wiki/Building-UPP#build-standalone-upp-via-cmake.
If you copy my directory, you may only need to do 2 steps:
cd tests
./compile_upp.sh
Thank you!

[2021-03-08 00:43] #260 closed, assigned to nobody

[2021-03-08 00:47] WenMeng-NOAA commented on #166
Commit b78ef10 : #266 : Add 7 new fields from SPC meso-analysis for 3drtma.

[2021-03-08 00:50] WenMeng-NOAA commented on #260
@EdwardColon-NOAA Your PR #266 was merged in the UPP branch develop. Thanks for your contribution.
I will use the control file 3drtma_postcntrl.xml and postxconfig-NT-3drtma.txt to set regression test for 3drtma. In the future, please let me if you have any updates in 3drtma control files.

[2021-03-08 13:19] EdwardColon-NOAA commented on #260
Thank you, Wen.

On Sun, Mar 7, 2021 at 7:50 PM WenMeng-NOAA <notifications@github.com>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-08 17:35] GeorgeVandenberghe-NOAA commented on #274
Wading through the code.   A large fraction of the work will be modifying the I/O to either scatter 2D subdomains rather than 1D contiguous slices (the serial option),  or modifying the parallel I/O to get the subdomains.   The rest looks like bookkeeping with loop indices but I have not looked for stencil operators  yet that need halo exchanges.   I need to learn much more about the NetCDF API al

[2021-03-08 20:55] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA Agreed.  My plan is to have @JesseMeng-NOAA and @BoCui-NOAA do the bookkeeping parts of changing I loop indices and take care of halo exchanges when necessary.

[2021-03-09 18:21] YaliMao-NOAA commented on #272
@kgerheiser Hi Kyle, not sure whether you caught the message earlier. I have a copy of UPP GTG code on Venus at /gpfs/dell2/emc/modeling/noscrub/Yali.Mao/git/EMC_post_wafs.

There are two differences from the general UPP that you can clone from github.
1) The f90 files were overwritten with different code and renamed as F90.
2) sorc/ncep_post.fd/CMakeLists.txt was modified from f90 extension to F9

[2021-03-10 13:10] kgerheiser commented on #272
You need an `ip::ip_4` here:

 https://github.com/NOAA-EMC/EMC_post/blob/b78ef1058acb1822e755af9e9e43650f2c6111de/sorc/ncep_post.fd/CMakeLists.txt#L202

The library no longer links to ip because of the OpenMP dependency, but now it needs to compile with it.

[2021-03-10 16:26] YaliMao-NOAA commented on #272
@kgerheiser Great! It works now. Thank you for your help.

[2021-03-10 23:21] WenMeng-NOAA commented on #272
@kgerheiser

With adding the change you suggest, I tested upp lib building with stub gtg code and didn't see -qopenmp in the compiling log. I would assume this change would not have impact on the upp lib building with openmp disabled, right?

[2021-03-11 15:40] JesseMeng-NOAA commented on #270
Tested standalone UPP with 1, 2, 3, 4 threads. Errors found and fixed.
Ran regression test for all the models, FV3GFS, FV3GEFS, FV3LAM, FV3HAFS, RAP, HRRR, NMMB, with 1, 2, 3, 4 threads. Results are good.
Ran FV3GFS inline post and results are good.
PR submitted pending for review.

[2021-03-11 16:46] WenMeng-NOAA commented on #270
@JesseMeng-NOAA Will there be changed results expected from the current UPP regression test baselines?

[2021-03-11 16:48] WenMeng-NOAA commented on #270
@JesseMeng-NOAA Did you conduct the tests on WCOSS-Cray and Hera? If yes, how are the results?

[2021-03-11 17:00] WenMeng-NOAA commented on #270
@JesseMeng-NOAA Could you document the errors before and after fix?

[2021-03-11 17:49] JesseMeng-NOAA commented on #270
No change

[2021-03-11 17:50] JesseMeng-NOAA commented on #270
Standalone tests are done on wcoss-dell and hera. All good.

[2021-03-11 17:59] kgerheiser commented on #272
I expected OpenMP to propagate to UPP if you link to `ip::ip_4`, but maybe not. Let me look into it a little.

[2021-03-11 18:10] WenMeng-NOAA commented on #270
@JesseMeng-NOAA, @JamesAbeles-NOAA, @Qingfu-Liu  Could you share with me some testing tips for identifying fields having thread safe issue? From Jesse's the UPP testing, it seems to me that we couldn't identify issue from off-line post test. I know Qingfu found the radar reflectivity issue from FV3GFS threading tests. Will the changed results be reproduceable from two threading tests or more tests

[2021-03-11 19:06] JesseMeng-NOAA commented on #270
Radar reflectivity errors occur with OMP_NUM_THREADS=4
821:2175320360:REFD:4000 m above ground:rpn_corr=0.999998:rpn_rms=0.0149834
822:2176585918:REFD:1000 m above ground:rpn_corr=0.999982:rpn_rms=0.0495933

Bug fixed in MDLFLD.f
596c596
< !$omp parallel do private(i,j,l,dens,llmh)
---

===================================================================

Some TMP records errors occur with OMP_NUM_

[2021-03-11 19:18] WenMeng-NOAA commented on #270
@JesseMeng-NOAA Were these changed results identified from the UPP standalone tests with threading or FV3GFS inline post with threading?

[2021-03-11 19:22] JesseMeng-NOAA commented on #270
Both

[2021-03-11 19:43] WenMeng-NOAA commented on #270
On 03/10/2021, Wen built upp lib with the PR#275 at /u/Wen.Meng/noscrubd6/ncep_post/jesse/EMC_post/tests/install on Venus and provided to the RRFS team and HAFS team to test in their application's inline post.

[2021-03-15 14:15] BoCui-NOAA opened #276 "Update UPP local memory allocation"
In UPP, many of the 3-D arrays have been allocated as  X( im,jsta_2l:jend_2u,lm), the exact size based on the number of MPI tasks.
Some 2-D arrays continue to be dimensioned (im,jm). This task is to improve them to be X( im,jsta_2l:jend_2u) if possible.

The table below lists UPP subroutines that have been reviewed and modified. I will continue working on the left codes and keep update it。

https:

[2021-03-15 14:20] BoCui-NOAA commented on #276
The changes are saved at:
https://github.com/BoCui-NOAA/EMC_post/tree/upp_local_memory

[2021-03-15 23:07] JamesAbeles-NOAA opened #277 "remove excess prints from stdout"
Running UFS with the inline post, the stdout written by the post is excessive. Each task writes numerous lines of information that are not useful. If they do provide something of value for debugging, please create a debug_print flag and use that. Here are a few (written by every task). We have 144 write tasks

283:  in post_getattr_lam,output_grid=lambert_conformalnfb=           1
283:  in post_ge

[2021-03-16 02:37] EdwardColon-NOAA opened #279 "Remainder of the novel SPC fields integrated."
The remaining novel SPC fields are being submitted for review. These include: Effective bulk shear, U and V components of effective shear, U and V Components of effective Bunkers storm motion, effective helicity, effective sig tornado parameter, fixed layer sig tornado parameter, supercell parameter, hail parameter, and mixed layer virtual LFC.

[2021-03-16 21:31] HuiyaChuang-NOAA commented on #276
Bo, thank you for documenting your changes in a Google doc and also update this Github issue.
Let's discuss your work at next week's monthly UPP re-engineering tag-up.

Huiya

[2021-03-17 15:39] WenMeng-NOAA commented on #279
@EdwardColon-NOAA Could you document the new fields's GRIB2 labels/names? e.g. MIXR

[2021-03-17 19:28] EdwardColon-NOAA commented on #279
I am attaching an updated spreadsheet containing the new fields submitted
in this PR. The mixing ratio field (MIXR) is already specified in UPP. I
repurposed it for the calculation of mixed layer mixing ratio.

-Edward

https://docs.google.com/spreadsheets/d/1Ww-RsrRPgE8-mnf7VsDREV8U4l6YUMcNbsYsoHQHBOU/edit?usp=sharing

On Wed, Mar 17, 2021 at 11:40 AM WenMeng-NOAA ***@***.***>
wrote:

--
--------

[2021-03-17 20:00] GeorgeVandenberghe-NOAA commented on #274
Work on standalone post was promising.  Many issues just assembling a testcase for inline post for ufs-weather-model.   I am trying to find where in the model this is called from and how the model history files are assembled on the I/O group side and it took several days to get a working testcase, then isolate a UPP library from the build so I could work with it and that's where I am now on Jet si

[2021-03-17 20:05] GeorgeVandenberghe-NOAA commented on #274
For what it's worth the intel tracebackqq('string ',iret)  issues a traceback from wherever it's called, then keeps going.   I tried that
to get the call tree but it segfaults in ESMF itself, but still provides enough information for me.

If iret is zero the program terminates
if iret is -1   a traceback is written to stderr and the program continues running.

Using this it looks like PROCESS(  )

[2021-03-18 02:26] EdwardColon-NOAA commented on #279
GRID1(I,J)=EGRID2(I,J)
                 IF (SUBMODELNAME == 'RTMA') MLLCL(I,J) = GRID1(I,J)
               ENDDO
               ENDDO

The CALLCL subroutine call was uncommented as the mixed layer LCL height is one of the fields that is requested by SPC. Grib2 field index 109 appears to be unused in the current configuration of the UPP code.

[2021-03-18 02:32] EdwardColon-NOAA commented on #279
enddo
             endif
            ENDIF
!Temperature of effbot
            IF (IGET(981)>0) THEN

The temperature of the effective layer bottom and the effective layer top was not what was asked in the SPC for the priority 5 fields. Rather, only the equilibrium level temperature which is distinct from the effective layer level temperatures. I confirmed with with SPC. Index 981 will be used for

[2021-03-18 14:12] HuiyaChuang-NOAA commented on #274
Thank you @GeorgeVandenberghe-NOAA for the update.  Sound like you're testing stand-alone post and in-line post
at the same time?  Could you come to next Tuesday's UPP-re-engineering tag-up?

[2021-03-18 14:17] GeorgeVandenberghe-NOAA commented on #274
Of course.  It's my main project right now.

On Thu, Mar 18, 2021 at 10:13 AM HuiyaChuang-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-03-18 15:25] WenMeng-NOAA commented on #279
@EdwardColon-NOAA Will you update 3drtma control files 3drtma_postcntrl.xml and postxconfig-NT-3drtma.txt since ID 981 is not  output from the UPP right now?

[2021-03-18 15:46] EdwardColon-NOAA commented on #279
Yes. I am currently away from my desk but will make the changes to the
control files when I return.

On Thu, Mar 18, 2021 at 11:25 AM WenMeng-NOAA ***@***.***>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-18 16:26] mkavulich opened #281 "Can CRTM submodule be deleted?"
The CRTM submodule on the develop branch is no longer used by the DTC build (the CRTM code is contained in NCEPLIBS and the CRTM fix files are now downloaded separately). Does anyone else make use of this submodule, or can it be deleted from the develop branch?

[2021-03-18 17:01] fossell commented on #281
@mkavulich No, this was only for DTC. It can be removed.

[2021-03-18 17:13] WenMeng-NOAA commented on #281
@mkavulich and @fossell For NCEP implementation, we use CRTM from the dev. hpc-stack or NCEP ops. libraries sites.

[2021-03-19 14:55] AndrewHazelton commented on #271
Hi Wen, I just wanted to let you know that I have successfully completed adding these variables. Thanks for the guidance!

[2021-03-19 14:55] #271 closed, assigned to nobody

[2021-03-19 15:06] WenMeng-NOAA commented on #271
@AndrewHazelton Glad to know your issue was solved.

[2021-03-23 17:10] JesseMeng-NOAA commented on #270
It was found in the initial multi-threads tests that some output fields were not reproduced and also the performance was degraded in runtime. Some of the openmp code were incorrect and/or unnecessary.  After the fix, regression tests were re-run for various threads for multiple times and results were satisfied.

Runtime performance examples:

1 thread
03/03 21:09:12Z -Runtime: fv3gfs_test 00:11:43

[2021-03-25 14:04] #270 closed, assigned to JesseMeng-NOAA

[2021-03-25 14:09] WenMeng-NOAA commented on #166
Commit 7c4dda6 : #275 : Add the changes for improving thread-safe and timers for sub processes in UPP code.

[2021-03-25 14:48] WenMeng-NOAA commented on #166
Commit 249ce64 : #282 : Update VERSION to 10.0.0.5. A new tag upp_v10.0.5 was created.

[2021-03-26 17:35] WenMeng-NOAA commented on #279
@EdwardColon-NOAA My UPP standalone test for 3drtma failed today with reading UPP control file postxconfig-NT.txt:
--------------
forrtl: severe (59): list-directed I/O syntax error, unit 22, file /scratch1/NCEPDEV/stmp2/Wen.Meng/post_3drtma_2020113000/postxconfig-NT.txt
Image              PC                Routine            Line        Source
upp.x              000000000147468E  Unknown

[2021-03-26 17:49] WenMeng-NOAA commented on #279
@EdwardColon-NOAA Could you delete postxconfig-NT-3drtma.txt under parm/ and run "make" to regenerate the flat control file
postxconfig-NT-3drtma.txt?

[2021-03-26 17:54] WenMeng-NOAA commented on #279
@EdwardColon-NOAA Another failure from the runtime:
forrtl: severe (174): SIGSEGV, segmentation fault occurred
Image              PC                Routine            Line        Source
upp.x              000000000148867D  Unknown               Unknown  Unknown
libpthread-2.17.s  00002B2AF3C51630  Unknown               Unknown  Unknown
upp.x              00000000009D4A79  miscln_

[2021-03-26 18:07] EdwardColon-NOAA commented on #279
Hi Wen,

I know what the problem is. And there is an additional problem after this
one that I also resolved. I will work on the changes now.

-Edward

On Fri, Mar 26, 2021 at 1:54 PM WenMeng-NOAA ***@***.***>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301

[2021-03-26 18:26] EdwardColon-NOAA commented on #279
Hi Wen,

I made a couple of changes in MISCNL.f and postxconfig-NT-3drtma.txt that
may address the problems.

-Edward

On Fri, Mar 26, 2021 at 2:06 PM Edward Colon - NOAA Affiliate <
***@***.***> wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-26 20:02] WenMeng-NOAA commented on #279
@EdwardColon-NOAA Now the test is able to be run through. The results are at /u/Wen.Meng/ptmp/post_rtma_2020113000-edward on mars. Could you verify the new fields in data file WRFTWO.GrbF00 are expected and let me know anything missing?

[2021-03-26 20:13] EdwardColon-NOAA commented on #279
Looks good. It's all there.

-Edward

On Fri, Mar 26, 2021 at 4:03 PM WenMeng-NOAA ***@***.***>
wrote:

--
-------------------------------------------------
Edward Colón
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.
Rm #2025
Riverdale, MD 20737
Office: (301) 683-3815
Cell: (301) 213-3566

[2021-03-30 02:04] #279 closed, assigned to nobody

[2021-03-30 02:06] WenMeng-NOAA commented on #166
Commit ad94c53 : #280 : Add the second part of new fields from SPC meso-analysis for 3drtma.

[2021-03-31 13:35] WenMeng-NOAA opened #283 "Unify avblflds xml file"
The avblflds xml file has all field definition to output in GRIB2.  This file is used to convert user defined control xml file into flat text file which is read in UPP. Currently there are a couple versions of  avblflds xml files used by GFS/GEFS, FV3LAM, 3DRTMA and RAP/HRRR.  An unified avblflds xml file would benefit UPP product integrity.

[2021-03-31 14:25] BoCui-NOAA commented on #276
Updated document and submit pull request #284.

[2021-03-31 14:31] WenMeng-NOAA commented on #276
@BoCui-NOAA Did you conduct the UPP standalone tests? If yes, document the results and platforms.

[2021-03-31 14:40] BoCui-NOAA commented on #276
Run UPP standalone tests on Dell.  The specified models include nmmb, gfs, gefs, fv3r, rap and  hrrr. The results look fine.

I will test hafs.

[2021-03-31 15:43] BoCui-NOAA commented on #276
UPP standalone test for hafs on Dell is done. Results are fine.

[2021-04-01 13:48] BoCui-NOAA commented on #276
Wen,

I run UPP standalone tests on Luna. The rt_log* file shows that fv3hafs test did not generate bit-identical results. But the *diff files in temporary directory didn't have any record. Do you think is it acceptable? The results are located at:
/gpfs/hps3/emc/ensemble/save/Bo.Cui/post_regression_test_new/scripts/rt.log.WCOSS_C
/gpfs/hps3/ptmp/Bo.Cui/upp_ref_bocui

Thanks!

@WenMeng-NOAA @Georg

[2021-04-01 15:14] GeorgeVandenberghe-NOAA commented on #274
After sync'ing with the current EMC_post develop head,  I can no longer reproduce the results from that code when I apply my changes to SURFCE.f (found this checking Boi's changes which DO reproduce.. not his problem, MINE)   So far the changes consist of changing all arrays dimensioned 1:im to isx:iex but setting isx to 1 and iex to im STILL produces differences from when the im or 1:im dimension

[2021-04-01 15:46] WenMeng-NOAA commented on #276
@BoCui-NOAA It would be fine as long as there are no unexpected changes in field values.

[2021-04-01 16:03] GeorgeVandenberghe-NOAA commented on #274
Also the differences are small

from cmp -l
1468035867   0   1
1469293425   0   1
NATLEV.GrbF06
1240962334   0   1
1242219892   0   1
PRSLEV.GrbF06

[2021-04-01 16:58] HuiyaChuang-NOAA commented on #274
look at SURFCE.f history on Github, the latest update was Jim's fix to threading violation 7 days ago.  The commit prior to this was back in Dec.  I believe you started your folk after Dec, right?  @WenMeng-NOAA Did latest threading fix changed UPP regression test results?

[2021-04-01 17:03] WenMeng-NOAA commented on #274
@HuiyaChuang-NOAA There are no changed results from Jim's fixes in UPP regression tests.

[2021-04-01 17:06] GeorgeVandenberghe-NOAA commented on #274
I am working from a sync'ed upp develop point.  I just recloned it and
added the SURFCE and other necessary fixes so my old fork isn't the
issue.   Difference of just two bytes in the middle
of each of the files, suggests  something trivial like a pad, is
initializing differently but it still causes a cmp exact regression test to
fail

I will prepare a PR soon to show my differences.  Don't merge

[2021-04-01 17:12] WenMeng-NOAA commented on #274
Sometimes, the changes will make UPP grib2 file size changed. In UPP regression tests, we add field by field value comparison. It would be fine for no unexpected changed results.

[2021-04-01 17:28] GeorgeVandenberghe-NOAA commented on #274
File sizes didn't change .  Two bytes inside each of them in the middle,
did.

On Thu, Apr 1, 2021 at 1:12 PM WenMeng-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-04-01 19:13] HuiyaChuang-NOAA commented on #274
@GeorgeVandenberghe-NOAA can you point me at your regression test output directory.  I will take a look.

[2021-04-01 19:33] GeorgeVandenberghe-NOAA commented on #274
I was asking for a code evaluation only.   Regression test on Jet only
passes for ONE (the one examined) with fields the same but two bytes
different in Grib files.  I submitted
the PR for an eyeball of my code only

Test output is on
/mnt/lfs4/HFIP/hfv3gfs/gwv/post/emcpost/reg/fv3r_2019062000.  Base files
for comparison are in ./BASE in this directory

I could do this for all of the others easily

[2021-04-02 00:27] SamuelTrahanNOAA opened #287 "RRFS post crash due to out-of-bounds read in CLDRAD"
The post job in the RRFS dev1 parallel run by GSL on Jet crashes about 25% of the time due to an out-of-bounds read in CLDRAD. This is fixed by https://github.com/NOAA-EMC/EMC_post/pull/286

[2021-04-02 14:24] #287 closed, assigned to SamuelTrahanNOAA

[2021-04-02 14:26] WenMeng-NOAA commented on #166
Commit ba66a7d : #286 : Fix out-of-bounds read in CLDRAD.

[2021-04-02 17:11] junwang-noaa opened #288 "duplicate code in SURFCE.f"
The code in lines 5860-5909 are identical to lines 5912-5960 in SURFCE.f. So the field AKHS and AKMS (iget(503) and iget(504)) will be output twice if requested. Please remove lines 5912-5960 in  SURFCE.f

[2021-04-03 00:36] WenMeng-NOAA commented on #288
@junwang-noaa The changes were committed in my working branch post_xml_unify at
https://github.com/WenMeng-NOAA/EMC_post/commit/5e88b061c68a20d7e5295ad4644cdf76b251fa34

[2021-04-05 13:39] #276 closed, assigned to BoCui-NOAA

[2021-04-05 13:43] WenMeng-NOAA commented on #166
Commit ed3ccf5 : #284 : Improving local memory.

[2021-04-06 22:51] GeorgeVandenberghe-NOAA commented on #274
I found the following line in CLDRAD.f

      real    FULL_CLD(IM,JM)   !-- Must be dimensioned for the full domain

Why do we need full domain?   Concerned I may miss others that need full domain although so far I am only redimensioning partial J domain arrarys replacing IM with isx:iex

[2021-04-06 23:00] WenMeng-NOAA commented on #274
@GeorgeVandenberghe-NOAA My understanding is full_cld is used for calling routine AllGETHERV for hallo exchange? See line 938. @HuiyaChuang-NOAA may chime in for detail.

[2021-04-06 23:06] BoCui-NOAA commented on #274
Wen is right, FULL_CLD(IM,JM) must be defined for full domain due to subroutine allgetherv(mpi_allgather)  where mpi_allgather is called there and grid1 must have dimension (im,jm).

I took a note at document https://docs.google.com/spreadsheets/d/10jlqaBHlcg8xHHc4kH1JWJbTPGMcZeZLNbMCszdza2c/edit#gid=0

@WenMeng-NOAA @GeorgeVandenberghe-NOAA

[2021-04-06 23:10] GeorgeVandenberghe-NOAA commented on #274
Has anyone looked at the "inspection only" PR  submitted late last week, April 1 or so for second opinions and comments?

[2021-04-06 23:14] WenMeng-NOAA commented on #274
@GeorgeVandenberghe-NOAA I haven't got the chance to look at it yet. I might do this week.

[2021-04-07 00:23] GeorgeVandenberghe-NOAA commented on #274
Ok.  It's not slowing me down so don't be rushef

On Tuesday, April 6, 2021, WenMeng-NOAA ***@***.***> wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-04-07 01:51] BoCui-NOAA commented on #274
I will start to look at it this week.

[2021-04-07 13:43] WenMeng-NOAA commented on #288
The changes are combined in PR #289. With this update, the baselines for NMMB BGRD3D dataset and FVLAM PRSLEV dataset will be changed.

[2021-04-07 17:16] WenMeng-NOAA commented on #283
The unified avbfld xml file post_avblflds.xml will be used in gfs, gefs, fv3lam, hafs, 3drtma.

[2021-04-07 17:26] WenMeng-NOAA commented on #283
The bug fixes were added for time stamps in fields averaged TCDC and CDLYR for model name FV3R.
fv3lam dataset PRSLEV06.tm00:
change
   920:1240962193:d=2019062000:TCDC:entire atmosphere (considered as a single layer)::
   921:1242219751:d=2019062000:CDLYR:entire atmosphere (considered as a single layer)::
into
   920:1240962193:d=2019062000:TCDC:entire atmosphere (considered as a single layer):3-

[2021-04-07 17:36] WenMeng-NOAA commented on #283
With unified post_avblflds.xml:
1) gfs dataset gfs.t00z.master.grb2f006 --
  change
     9:13487462:d=2020020400:REFC:entire atmosphere:6 hour fcst:
     900:2335392757:d=2020020400:TCDC:entire atmosphere:6 hour fcst:
     901:2338475586:d=2020020400:TCDC:entire atmosphere:0-6 hour ave fcst:
 into
      9:13487462:d=2020020400:REFC:entire atmosphere (considered as a single layer):6 hour fcst:

[2021-04-07 17:45] WenMeng-NOAA commented on #283
Per Jun Wang's request, averaged AKMS/AKHS, averaged above ground 10m T, instant above ground 10m T and averaged surface PRES were removed from fv3lam control files because they are not available from fv3lam model output.

[2021-04-07 18:20] GeorgeVandenberghe-NOAA commented on #274
There is a data structure datapd.   THe following line in CLDRAD.f
 datapd(1:im,1:jend-jsta+1,cfld)=GRID1(1:im,jsta:jend)

suggests it's used as some kind of halo pad.  Could someone describe this in more detail before I figure out how
it should be decomposed in the I direction.  Will it need the full I dimension, a superset of the rank's  I domain of isx:iex
or just the rank's I domain?

[2021-04-07 18:20] WenMeng-NOAA opened #290 "GSD specified fields cloud base height(711) and pressure(798) in pe test"
The GSD specified fields cloud base height (711) and pressure (798) are not generated bitwise results in the UPP pe regression
tests.  A sample from  regression tests for rap. The results generated with 48 tasks (24 per node) are not bitwise identical to the results generated with 36 tasks (24 per node) on Hera. These two tests can be access at /scratch1/NCEPDEV/stmp2/Wen.Meng/case on Hera.

[2021-04-07 18:23] WenMeng-NOAA commented on #290
The user guidance for running UPP regression tests can be found at
https://docs.google.com/document/d/1gtk1DBxEa9GsaWbxrxtB4Ot7U_lNIHjLXaU2F6FyD7M/edit

[2021-04-07 18:38] WenMeng-NOAA commented on #274
My understanding is that this array is for writing field values in GRIB2 in full domain.  You may see it a  lot of routines. I would defer this question to @HuiyaChuang-NOAA or @junwang-noaa for detail.

[2021-04-07 19:43] GeorgeVandenberghe-NOAA commented on #274
This is how it's allocated.  I haven't changed it
allocate(datapd(im,1:jend-jsta+1,nrecout+100))

On Wed, Apr 7, 2021 at 2:38 PM WenMeng-NOAA ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-04-07 20:44] SamuelTrahanNOAA commented on #290
Did you test this after #286? The bug that PR fixed would have produced non-deterministic output from that region of the code.

[2021-04-07 21:29] WenMeng-NOAA commented on #290
Yes. The changed results from pe tests exist before #286 and after #286.

[2021-04-07 21:31] #277 closed, assigned to nobody

[2021-04-07 21:31] #283 closed, assigned to WenMeng-NOAA

[2021-04-07 21:31] #288 closed, assigned to nobody

[2021-04-07 21:34] WenMeng-NOAA commented on #166
Commit 391c71f : #289 : unify avbfld xml file.
The main changes are:
1) unify avbfld xml files used by gfs/gefs, fv3r/hafs, 3drtma perspective. The new avbfld xml file will be used in gfs, gefs, fv3lam, hafs and 3drtma.
2) modify fv3lam control file accordingly.
3) modify 3drtma control file accordingly.
4) bug fix in time stamps of averaged total TCDC and CDLYR in fv3lam dataset.
5) remove exceed

[2021-04-07 23:43] junwang-noaa opened #291 "initialize all the allocated post variables"
In Post code, when the internal variables are allocated, they need to be initialized. The uninitialized variables could cause run-to-run reproducibility issues when the fields are requested to output.

[2021-04-08 13:05] WenMeng-NOAA commented on #274
@GeorgeVandenberghe-NOAA I have reviewed your inspection PR which makes sense to me. I sent you my comments on specific places. Thanks!

[2021-04-08 13:26] GeorgeVandenberghe-NOAA commented on #274
I will change the variable names to be consistent and review the timer
changes.   I believe I either found the timer not entirely working or only
reporting to the integer truncated second .   MPI_WTIME is better than
rtc() on linux systems.   The timer is also reporting milliseconds and I
have a preference for seconds as the unit (with a resolution of 10::-5
seconds or better)

On Thu, Apr 8, 2021

[2021-04-08 13:46] HuiyaChuang-NOAA commented on #274
Yes, Wen was right.  Jun created this array to store all data to be written to Grib2 output thus its dimensions can not be changed.

[2021-04-08 13:48] HuiyaChuang-NOAA commented on #274
I will look tomorrow.  Have a few meetings today and also need to review a proposal.

[2021-04-08 14:08] BoCui-NOAA commented on #274
I am running the UPP standalone test on Dell and will get results soon.

[2021-04-08 17:05] fossell opened #292 "Merge release/public-v2"
Need to merge the public-v2 branch into develop.  Changes are minimal and mostly include updated documentation files, clean up of legacy community build system, LAM naming conventions.

[2021-04-09 00:52] WenMeng-NOAA commented on #291
The changes are made in Wen's branch post_initial for:
1) Initialize all variables in ALLOCATE_ALL.f with spval except u(:,:,:) and v(:,:,:).
2) Initialize u/v in ALLOCATE_ALL.f with value 0. (There might be a enhancement for vucsh/vvcsh 0-1km above ground which require u/v for fv3lam in the future. Currently u/v for fv3lam are not defined.)
3) Set spval as 9.99e20 for all fv3 applications in WRFP

[2021-04-09 00:56] WenMeng-NOAA commented on #291
The regression tests were conducted. With this PR, there will be changed results for:
fv3lam dataset PRSLEV
45:70499675:VIS:cloud top:rpn_corr=0.999954:rpn_rms=132.225
1079:1644957928:d=2019062000:MXSALB:surface:6 hour fcst::ndata=3754001:undef=3754001:mean=0:min=0:max=0

nmmb--
43:18622202:VIS:cloud top:rpn_corr=0.817364:rpn_rms=3461.3

[2021-04-12 11:46] WenMeng-NOAA commented on #281
@mkavulich and @fossell Is the solution of this issue included in the PR #295?

[2021-04-12 11:49] WenMeng-NOAA commented on #240
@JesseMeng-NOAA Any updates on this issue?

[2021-04-12 13:07] JesseMeng-NOAA commented on #240
working on it

[2021-04-12 14:04] fossell commented on #281
@WenMeng-NOAA - Yes, I will try to finish that PR up today.

[2021-04-13 00:26] #291 closed, assigned to WenMeng-NOAA

[2021-04-13 00:29] WenMeng-NOAA commented on #166
Commit ad056a2 : #293 : Initializing UPP all allocated variables in ALLOCATE_ALL.f.

[2021-04-13 15:19] fossell commented on #157
SRW v1.0.0 has been released using branch release/public-v2 of UPP.

[2021-04-13 15:19] #157 closed, assigned to mkavulich, fossell

[2021-04-13 15:22] fossell commented on #189
UPP V9.0.0 standalone community release was completed and tagged as upp-v9.0.0 on March 9, 2021.

[2021-04-13 15:22] #189 closed, assigned to fossell, hertneky

[2021-04-14 14:25] WenMeng-NOAA opened #296 "Read maximum snow albedo from fv3lam and hafs history file"
The maximum snow albedo is output in fv3lam and hafs model history file but isn't  read by the regional fv3 read interface for
 off-line  post.

[2021-04-14 15:10] mkavulich opened #297 "Resolve tag naming conventions"
There is an inconsistency in the way that various EMC_post tags are named. DTC/community UPP tags have been named with dashes (e.g. upp-v9.0.0, ufs-v1.1.0) whereas EMC/operational tags have been named with underscores (e.g. upp_v10.0.0, upp_gfsv16_release.v1.1.1). This led to some confusion when creating the latest community release, as some links were created with underscores and others with dash

[2021-04-14 15:40] WenMeng-NOAA commented on #297
For NCEP model suite implementation, we use naming tags based on model developer's preference (e.g. upp_gfsv16_release.vX.X.X).  The tags upp_v10.X.X were created from the develop branch and used for installing upp lib at the hpc-stack for in-line post in ufs-weather-model only.

[2021-04-14 16:00] WenMeng-NOAA commented on #296
The fix was added Wen's branch post_snoalb and submitted the PR #298.

[2021-04-14 16:07] WenMeng-NOAA commented on #296
The UPP regression tests were conducted on Hera. With this fix, the changed results in fv3lam are:
dataset PRSLEV06.tm00--
From
1079:1644515289:d=2019062000:MXSALB:surface:6 hour fcst::ndata=3754001:undef=3754001:mean=0:min=0:max=0
into
   1079:1644515289:d=2019062000:MXSALB:surface:6 hour fcst::ndata=3754001:undef=0:mean=34.6073:min=0:max=84:cos_wt_mean=33.802

[2021-04-14 16:10] junwang-noaa commented on #296
Wen, would you please check if you get run-to-run reproducibility for this
field from the latest POST code?

On Wed, Apr 14, 2021 at 12:07 PM WenMeng-NOAA ***@***.***>
wrote:

[2021-04-14 16:25] WenMeng-NOAA commented on #296
@junwang-noaa From the current UPP version, the UPP standalone test shows MXSALB in fv3lam dataset has all zero values.

[2021-04-14 16:33] junwang-noaa commented on #296
I mean your updated code with PR#298. If you make several runs, do the
results reproduce?

On Wed, Apr 14, 2021 at 12:26 PM WenMeng-NOAA ***@***.***>
wrote:

[2021-04-14 17:02] WenMeng-NOAA commented on #296
@junwang-noaa I ran the UPP standalone regression tests at least two times with the commit from PR #298. MXSALB is all zero values. My understanding is that unproducible MXSALB issue was from from inline post only due to unitarizing snoalb.

[2021-04-14 17:33] junwang-noaa commented on #296
Thanks. I will try the upp lib you built, if it fixes the lam inline post,
I will wait for a new UPP lib before we turn the lam inline post test back
on.

On Wed, Apr 14, 2021 at 1:02 PM WenMeng-NOAA ***@***.***>
wrote:

[2021-04-14 19:00] WenMeng-NOAA commented on #296
@junwang-noaa I would like to confirm with you that snoalb from model history file has valid values range at (0, 100) instead of (0,1).

[2021-04-15 13:44] WenMeng-NOAA commented on #296
@ericaligo-NOAA

Eric,

I would like you to be warn of this upcoming PR #298 for the impact on fv3lam dataset. Please let me know if you have any concerns/suggestions. Thanks!

[2021-04-15 14:50] #296 closed, assigned to WenMeng-NOAA

[2021-04-15 14:54] WenMeng-NOAA commented on #166
Commit b8c01f8 : #298 : Read snoalb in regional FV3 models.

[2021-04-15 15:25] WenMeng-NOAA commented on #166
Commit 5fd6e8d : #299  : Update VERSION to 10.0.0.6. A new tag upp_v10.0.6 was created for upp/10.0.6 installation on the hpc-stack.

[2021-04-16 00:08] WenMeng-NOAA opened #300 "Initializing aextc55 and extcof55 in all FV3 model read interfaces"
In order to calculating GSL visibility, the aextc55 and extcof55 are needed to be set as 0 in the read interface if the model history
file doesn't include them.

[2021-04-16 12:05] WenMeng-NOAA commented on #300
@yangfanglin, @EricRogers-NOAA, @HuiyaChuang-NOAA
Fanglin/Eric/Huiya,
The aextc55 and extcof55 are initialized with the UPP filling value (9.99+20) in ALLOCATE_ALL.f. That might cause GSL visibility computation failure. I plan to file a new UPP PR for setting aextc55 and extcof55 as 0 in the FV3GFS read interface INITPOST_GFS_NETCDF_PARA.f and regional FV3 read interface INITPOST_NETCDF.f  for off

[2021-04-16 12:14] junwang-noaa commented on #300
@WenMeng-Noaa, can we initialize aextc55 and extcof55 with value 0. in
ALLOCATE_ALL.f so that we don't need to initialize it again in both inline
post and standalone post interface? If those two fields are in history
files, new values can be read in and replace the default 0..

On Fri, Apr 16, 2021 at 8:05 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-04-16 12:37] WenMeng-NOAA commented on #300
@junwang-noaa Good suggestion. I will do that. But this change would be reflected  in the next upp library upgrade (we just upgrde upp/10.0.6). Please let me know if it works for you.

[2021-04-16 13:09] junwang-noaa commented on #300
Ok, that is fine, I will keep the initialization in UFS inline post when
using upp 10.0.6.

On Fri, Apr 16, 2021 at 8:38 AM WenMeng-NOAA ***@***.***>
wrote:

[2021-04-16 13:58] HuiyaChuang-NOAA commented on #300
@WenMeng-NOAA Thank you Wen, for catching this.  @junwang-noaa Good suggestion.

[2021-04-16 14:49] YaliMao-NOAA commented on #272
@kgerheiser Both Wen and I ran into runtime error on Hera, while Wen got runtime error on Dell but I didn't. So I debugged on Hera, found a temporary fix but I really doubt the runtime error coming from cmake compiling, which doesn't handle optional arguments well.

Error messages as shown in /scratch2/NCEPDEV/stmp3/Yali.Mao/run_gfs_post.oe18041469
upp.x              0000000000A82B9A  gtg_algo_

[2021-04-16 16:13] WenMeng-NOAA commented on #300
The changes were added in my branch post post_aextc55 and submitted the PR #301.

[2021-04-16 16:18] WenMeng-NOAA commented on #300
The test were conducted on WCOSS-Dell. With the PR #301, the changes in fv3lam datasets are:
----------------
PRSLEV06.tm00--
1)
From
   [Wen.Meng@v71a1 data_out]$ wgrib2 PRSLEV06.tm00.WCOSS_DELL_P3 -match SNFALB -stats -s
1078:1644513140:ndata=3754001:undef=0:mean=0.0120296:min=0:max=100:cos_wt_mean=0.00935122:d=2019062000:SNFALB:surface:6 hour fcst:
Into
   [Wen.Meng@v71a1 fv3r_2019062000]$ wgri

[2021-04-16 20:36] #300 closed, assigned to WenMeng-NOAA

[2021-04-16 20:38] WenMeng-NOAA commented on #166
Commit 956fff6 : #301 : Initialize aextc55 and extco55 and bug fix for SNFALB.

[2021-04-16 22:43] Steve-Albers opened #302 "value of CONST1 used for visibility"
I would like to suggest trying to migrate to using a value of 3.00 ( -ln(.05) ) more uniformly in the UPP code. This would make visibility calculations more compatible with the METAR definition of visibility. It is my understanding that the instrumentation presently used by METARs utilizes a 5% contrast threshold instead of 2%.

A reference mentioning this is here:

https://www.metoffice.gov.uk/we

[2021-04-16 23:06] Steve-Albers commented on #302
A reference mentioning this is here:

https://www.metoffice.gov.uk/weather/guides/observations/how-we-measure-visibility

[2021-04-19 20:43] #281 closed, assigned to nobody

[2021-04-19 20:43] #292 closed, assigned to fossell

[2021-04-19 20:46] WenMeng-NOAA commented on #166
Commit 557ab31 : #295 : Merge the changes from public release v2.
The main changes are:

- Updates to documentation files

- Updating naming convention in parm/makefile to be consistent with LAM (SAR --> LAM)

- Removal of community build mechanisms including removal of comlibs directory and crtm submodule

- Renaming community run script to be consistent with executable name

- Updates to module

[2021-04-20 14:54] HuiyaChuang-NOAA commented on #302
Thank you for the suggestion which comes in a good timing.  We're in the process of unifying visibility computation toward using
CALVIS_GSD for all models supported by UPP.  Looking at this subroutine, GSD already switched to use CONST1= 3.000 for RAP/HRRR.  We will plan on doing this for all models assuming no objections from EMC and GSL.

@WenMeng-NOAA I will start an email exchange with EMC Phy

[2021-04-20 20:02] hertneky opened #303 "Community run script update"
The run_upp script merged from release/public-v2 uses the old executable naming, ncep_post. This will update the script to use the upp.x executable. This is only a script change for run_upp and includes no other changes.

[2021-04-21 00:46] #303 closed, assigned to nobody

[2021-04-21 00:48] WenMeng-NOAA commented on #166
Commit 4760c21 : #304 : Update community run script executable name.

[2021-04-22 16:02] Steve-Albers commented on #302
Thanks much Huiya for the response and update. I had played a role in the earlier change to CALVIS_GSD and it's good to hear this can be streamlined further.

A code search reveals that CONST1 is used in CALVIS_GSD.f, CALVIS.f, and CLDRAD.f and perhaps these occurrences can all be considered.

Another thing I noticed in CALVIS_GSD.f is the following line:

VIS(I,J)=MIN(90.,CONST1/BETAV+extcof55(i,

[2021-04-22 17:27] WenMeng-NOAA commented on #302
@Steve-Albers

Thanks for catching this bug. I will submit a fix soon. Then we will work on unifying CONST1 after coordinating with model developers at EMC and GSL later.

[2021-04-22 17:44] WenMeng-NOAA commented on #302
@Steve-Albers I would ask the admin of the organization NOAA-EMC  to add in your github user name so that you can be a contributor or code reviewer at EMC_post repository. Please let me know if this plan works for you. Thanks!

[2021-04-22 18:36] Steve-Albers commented on #302
Sounds good WenMeng - thanks. I'd be happy to be included as a contributor and code reviewer.

[2021-04-22 18:58] WenMeng-NOAA opened #305 "Bug in GSD Visibility Computation"
Steve Albers pointed out that a bug in GSD visibility computation in the issue #302.
Change
VIS(I,J)=MIN(90.,CONST1/BETAV+extcof55(i,j,lm)) ! max of 90km
into
VIS(I,J)=MIN(90.,CONST1/(BETAV+extcof55(i,j,lm))) ! max of 90km

[2021-04-23 01:16] JesseMeng-NOAA commented on #240
pull request submitted
https://github.com/NOAA-EMC/EMC_post/pull/306

[2021-04-23 13:23] WenMeng-NOAA commented on #305
@JesseMeng-NOAA Could you combine this fix in your PR #306? Thanks!

[2021-04-23 13:36] JesseMeng-NOAA commented on #305
Done!

[2021-04-23 13:39] WenMeng-NOAA commented on #302
@Steve-Albers The fix was committed in @JesseMeng-NOAA 's PR #306. You may review the change at
https://github.com/NOAA-EMC/EMC_post/commit/bdf65580c72ff33e6f7c941aca75565260607785

[2021-04-26 13:43] WenMeng-NOAA commented on #302
@Steve-Albers

Please see our Admin's response of inviting you being code contributor and code reviewer at EMC_post repository. Thanks!

[2021-04-26 18:09] #272 closed, assigned to nobody

[2021-04-26 18:11] WenMeng-NOAA commented on #166
Commit ff42e02 : #294 : To make 'cmake' go through for GTG.

[2021-04-29 20:31] hertneky opened #307 "DTC run_upp script modifications"
Fixing a couple issues in run_upp script. This is purely a modification to the DTC run_upp script and there are no changes to code.

Fixes and issue with renaming files related to how the forecast hour was being defined.
Updates output filenames for LAM to be consistent with change in develop (NATLEV/PRSLEV)

[2021-04-29 22:30] #307 closed, assigned to nobody

[2021-04-29 22:32] WenMeng-NOAA commented on #166
Commit e1c4098 : #308 : DTC script update.

[2021-04-30 12:22] edwardhartnett commented on #208
I have been pulled away and will not be able to return to this documentation task. I hope I have helped you get started on your doxygen journey.

On the UFS_UTILS project, we now have full doxygen documentation on every function and subroutine. This allows us to turn on automatic checking of new code. Now it is no longer possible for programmers to merge undocumented code. This checking is very he

[2021-04-30 12:22] #208 closed, assigned to edwardhartnett

[2021-04-30 12:23] edwardhartnett commented on #226
I am ready to help you do this at any time. Putting your documentation on gh-pages is free and easy, but can only be done by someone with permissions to add branches to your repo. So not me. ;-)

[2021-04-30 12:38] WenMeng-NOAA commented on #208
@edwardhartnett Thanks for helping us initially setting up doxygen documentation.

[2021-04-30 13:36] WenMeng-NOAA commented on #273
Bo set up the regional inline post procedure at
https://docs.google.com/document/d/1rLISW-2Ujg04VVUk-M99D6-QKZZ_C2PmB8c0JOwsEnM/edit?ts=608969ff

[2021-04-30 13:37] WenMeng-NOAA commented on #273
Jesse set up the global inline post procedure at
https://docs.google.com/document/d/1Ja8xs5pN31PfuLOBDB76IuobJHgrVt-V3B1YKlIGgw4/edit?ts=608ac829

[2021-04-30 18:58] fossell commented on #226
@edwardhartnett - Great, we are still interested in doing this. Unfortunately we have a delay in funding and I won't be able to dedicate staff or resources to this immediately.  We hope that funds will arrive by end of May, if not earlier, at which point we'll be able to pursue this in earnest.  Apologies for the bad timing, but we definitely will be in contact when we're able to get this task rol

[2021-04-30 21:30] GeorgeVandenberghe-NOAA commented on #274
The PR remains extant.  This is fine but I have applied a lot of changes, in particular changing the boundary names as requested by reviewers.   I have a generalized regression test that runs all of the regression test jobs and only requires one job be changed (for account) on each system.  This is almost ready on HPSS.   It will run from HPSS baseline files, or clone the development head and cut

[2021-05-03 15:04] #240 closed, assigned to JesseMeng-NOAA

[2021-05-03 15:04] #305 closed, assigned to WenMeng-NOAA, JesseMeng-NOAA

[2021-05-03 15:06] WenMeng-NOAA commented on #166
Commit 1fa0318 : #306: Restrict UPP computation from undefined points.

[2021-05-03 16:10] WenMeng-NOAA opened #310 "Remove timef wrapper and replace with mpi_wtime function"
Per Dusan's suggestion:

[2021-05-03 16:55] GeorgeVandenberghe-NOAA commented on #274
Having difficulties sync'ing emc-post master with my clone.  Silent failures in the sync have caused it to drift and I am running down the differences with the original master.  DO NOT MERGE THIS PR but examine for content instead.

[2021-05-04 13:50] #310 closed, assigned to DusanJovic-NOAA

[2021-05-04 13:52] WenMeng-NOAA commented on #166
Commit cdf8e3f : #309 : Remove timef wrapper and replace it with mpi_wtime function.